.container{
	font-family: "Trebuchet MS", serif;
	margin: 0 auto!important;
}

.loadtimeline{
	color: #000;
	text-align: center;
	padding: 20px 0;
}
.TimelineBody{
	border-bottom: 1px solid #ccc;
	width: 948px;
	display:block;
	margin:  0 auto;
	height: auto;
	position: relative;
	margin: 0 0 36px;
	z-index: 0;
}
.TimelineBody .backTop{	
	width: 868px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 255px;
}
.TimelineBody .titleTop{
	font-size: 46px;
	font-style:italic;
	color: #59a529;
	text-align: center;
	position: relative;
	z-index: 99;
	max-height: 200px;
	overflow: hidden;
	padding:36px 0;
}

.present{
	color:#59a529; 
	display:inline-block;
	font-size:24px;
	Font-style:italic;
	margin:auto;
	text-align:center;
	float: left;
}

.TimelineBody figure{
	width:250px;
	margin:auto;
}

.TimelineBody figure img{
	float:right;
}

.TimelineBody .sponsorTop{
	color: #002776;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	position: relative;
	max-height: 33px;
	z-index: 99;
	overflow: hidden;
}
.TimelineBody .sponsorTop span{ 
	vertical-align: top;
	display: inline-block;
	padding: 0.3em;
}


.TimelineBody .wrapTimeline{
	width: 100%;
	height: 700px;	
	position: relative;
	z-index: 100;
	display: block;	
	overflow: hidden;
	
	
}
.TimelineBody .wrapTimeline .mascaraTimeline{
	width: 100%;
	height: auto;	
	position: relative;	
	top: 0;
}

.TimelineBody .backBottom{
	width: 865px;
	height: 172px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1; 
}
.TimelineBody .scroll{
	position: absolute!important;
	width: 28px;
	height: 46px;
	background: url(../img/imgDrag.png) no-repeat center;
	z-index: 999;
	cursor: pointer;
	left: 457px;
	top: 0;
}
.TimelineBody .lineScroll{
	border:1px solid #dadada; 
	width: 13px;
	height: 100%;
	background: #efefef; 
	position: absolute;
	z-index: 1;
	left: 49%;

}
.wrapTimeline .itemTimeline{
	font-family:"Trebuchet MS";
	width: 408px;
	display: block;
	position: relative;
	height: auto;
	left: 53%;
	margin-bottom: 36px;
}

.wrapTimeline .itemTimeline.mundial{
	left: 0;
	
}

.wrapTimeline .itemTimeline .yearItemTimeline{
	font-size: 24px;
	display: inline-block;	
	background: #eab11d;
	color: #FFF;
	font-family: "Trebuchet MS", serif;
	padding: 5px 12px 5px 20px;	
	margin-bottom: 24px;
	position: relative;
	left: -29px;
	transition:all 0.3s linear 0;
	-webkit-transition:all 0.3s linear 0;
	-moz-transition:all 0.3s linear 0;
	-o-transition:all 0.3s linear 0;
	}
.wrapTimeline .itemTimeline.mundial .yearItemTimeline{
	left: 325px;
	background: #59a529;
	padding: 5px 30px 5px 20px;
}
.wrapTimeline .itemTimeline .yearItemTimeline img{	
	display: inline-block;
	width: 77px;
	height: 26px;
	overflow: hidden;
	vertical-align: top;
	padding: 3px 26px 0;
}
.wrapTimeline .itemTimeline .infoItemTimeline{
	width: 100%;
	display: block;
	transition:all 0.3s linear 0;
	-webkit-transition:all 0.3s linear 0;
	-moz-transition:all 0.3s linear 0;
	-o-transition:all 0.3s linear 0;
}
.wrapTimeline .itemTimeline.mundial .infoItemTimeline{
	width: 324px;
	width: 324px;
	background: #59a529;
	margin: -68px 11px 0; 
}
.wrapTimeline .itemTimeline .infoItemTimeline img{
	display: inline-block;
	width: 120px;
	margin: 0 12px 12px 0;
	vertical-align: top;
	height: 90px;
}
.wrapTimeline .itemTimeline.mundial .infoItemTimeline img{
	width: 100px;
	height: 100px;
	margin: 24px 12px 24px 24px;
	border: 3px solid #FFF;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-moz-border-radius: 50%;
		overflow: hidden;
}
.wrapTimeline .itemTimeline .infoItemTimeline .summaryItemTimeline{
	display: inline-block;
	width: 270px;	
	font-family: "Trebuchet MS", serif;	
	font-size: 18px;
	vertical-align: top;
	line-height: 1.1em;
	margin-bottom: 12px;
}
.wrapTimeline .itemTimeline.mundial .infoItemTimeline .summaryItemTimeline{	
	width: 151px;
	font-family: Trebuchet Ms;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	margin-left: 12px;
	padding-left: 12px;
	border-left: 1px dotted #fff;
	min-height: 135px;
	overflow: hidden;
}
.wrapTimeline .itemTimeline .infoItemTimeline  .OtherTimeline{
	display: block;
	width: 100%;
	font-family: "Trebuchet MS", serif;
	font-weight: 700;
	font-size: 18px;
	color: #000;
	padding-top: 24px;
	line-height: 1.1em;
	border-top: 1px dotted gray;
}

.wrapTimeline .itemTimeline.mundial .infoItemTimeline .titleMundialItem{
	font-family: "Trebuchet MS", serif;
	font-size: 24px;
	color: #FFF;
	max-height: 55px;
	overflow: hidden;
	line-height: 2em;
	width: 285px;
	margin: 0 auto;	
}

.viewmoreItemTimeline{
	display: block;
	width: 92px;
	height: 32px;
	position: relative; 
	left: 243px; 
	font-family: Trebuchet Ms;
	font-size: 14px;	
	background: #398218;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	padding-top: 6px;
	transition:all 0.3s linear 0;
	-webkit-transition:all 0.3s linear 0;
	-moz-transition:all 0.3s linear 0;
	-o-transition:all 0.3s linear 0;
}
a .viewmoreItemTimeline{
	color: #FEFEFE;
	text-decoration: none;
}
.itemTimeline a{
	text-decoration: none;
}
.relleno{
	width:100%;height:160px;display:block;
}
.relleno2{
	 height: 20px;
}

.bottomTimeline{
	width: 970px;
	display: block;	
	height: auto;
	position: relative;
	margin: 36px 0 0;
}
.twitterTimeline, .encuestaTimeline, .cuboTimeline{
	display: block;
	float: left;
	margin: 0;
	padding: 0;	
	vertical-align: top;
	width: 300px;
}


@media only screen and (min-width : 481px) {
	.wrapTimeline .itemTimeline.mundial:hover .yearItemTimeline{
		text-shadow: 0px 0px 5px #FFF;
	}
	.twitterTimeline, .encuestaTimeline{
		margin-right: 35px;
	}


}


@media only screen and (max-width : 481px) {
	.TimelineBody .titleTop{
		font-size: 2em;
		max-height: 200px;
	}
	
	.bottomTimeline, .encuestaTimeline{
		width: 100%;
	}
	.twitterTimeline, .cuboTimeline{
		display: none;		
	}

	.TimelineBody .wrapTimeline .mascaraTimeline{
		top: 0!important;
	}
	.TimelineBody{
		width: 100%;
		overflow: hidden;
		margin-top: -12px;
	}
	.TimelineBody .backTop{
		width: 120%;
		left: -10%;
		height: 102px;
	}
	.TimelineBody .lineScroll{
		left: 15px;
	}
	.wrapTimeline .itemTimeline{
		left: 45px;
		margin-bottom: 36px;
		width: 95%;		 
	}
	.wrapTimeline .itemTimeline.mundial{
		left: 45px;
	}
	.wrapTimeline .itemTimeline .infoItemTimeline{
		width: 95%; 
	}
	.TimelineBody .scroll{
		display: none;
	}
	.wrapTimeline .itemTimeline .infoItemTimeline .summaryItemTimeline,
	.wrapTimeline .itemTimeline .infoItemTimeline .OtherTimeline{
		display: block;
		width: 98%;
	}
	.wrapTimeline .itemTimeline.mundial .infoItemTimeline{
		margin-top: -25px;
		padding-bottom: 10px;
		width: 100%;
		left: -35px;
		position: relative;
	}
	.wrapTimeline .itemTimeline.mundial .yearItemTimeline{
		left: -25px;
	}
	.wrapTimeline .itemTimeline.mundial .infoItemTimeline .summaryItemTimeline{
		width: 85%;
		padding-bottom: 1px;
		border-left: none;
		border-top: 1px dotted #FFF;
		margin-bottom: 0;
		padding-top: 12px;
	}
	.wrapTimeline .itemTimeline.mundial .infoItemTimeline img{
		margin-bottom: 12px;
		margin-top: 0px;		
	}
	
	.TimelineBody .sponsorTop img{
		width: 74px;
		height: 23px;
	}
	.TimelineBody .backBottom{
		width: 120%;
		height: 105px;
		left: -10%;
	}
	.viewmoreItemTimeline{
		left: 61%;
	}
	.TimelineBody .wrapTimeline{
		height: 100%;
	}
	.relleno{
		display: none;
	} 
} 


@media screen and (min-width: 343px) and (max-width: 405px) {
	.wrapTimeline .itemTimeline{
		width:90%;
	}
	.viewmoreItemTimeline{
		left: 64.2%;  
	}  
	.wrapTimeline .itemTimeline.mundial .infoItemTimeline{
		margin-top: -25px; 
		padding-bottom: 10px;
		width: 100%; 
		margin: -24px 11px 0;		
		position: relative;	  
	}    
	
}
@media screen and (min-width: 406px) and (max-width: 481px) {
  .viewmoreItemTimeline{
		left: 71.8%;  
	}   
	.wrapTimeline .itemTimeline.mundial .infoItemTimeline{ 
		margin: -24px 11px 0;	
		position: relative;	  	 
	} 
}
	
	 .c7_3 {
		
		float:right;
		}