@media screen{
/*Paginacion*/
.nav_paginator_01{
    border-top: none;
    clear: both;
	overflow: hidden;
	text-align:right;
	width:100%;
}

.nav_paginator_01 ul{
	padding-top:5px;
	margin-right: 15px;
}

.nav_paginator_01 ul li{
    border:none;
    display:inline-block;
    font-style:italic;
	height:25px;
	margin-top:10px;
}
.nav_paginator_01 ul li.pag_numero a:hover{
	color:#79dda3 !important;
	text-decoration:underline;
}

.nav_paginator_01 ul li.pag_numero a:active{
	color:#59a529 !important;
}

.nav_paginator_01 ul li a{
    font-weight: bold !important;
    line-height: 25px;
    display: inline-block;
	text-decoration:none;
	color:#000;
}


.tvsa-double-caret-left {
	  margin-right:18px;
	}

.tvsa-double-caret-right {
	margin-left:18px;
}

.ie7 .nav_paginator_01 ul li.nav2{
    width: 15px;
}
.nav_paginator_01 ul li a{
	color:#d3d3d3;
}

.nav_paginator_01 ul li.dotted-right {
		margin:0 18px;
}
 .nav_paginator_01 ul li.dotted-left{
	margin-left:18px;	
	}

.nav_paginator_01 ul li.dotted-right a i:hover, .nav_paginator_01 ul li.dotted-left i:hover{
	color:#8f8f8e;
	text-decoration:none !important;
}

.nav_paginator_01 ul li.dotted-right a i:active, .nav_paginator_01 ul li.dotted-left i:active{
	color:#474a4d !important;
}

.nav_paginator_01 ul li .selected{
    color:#59a529;
    font-size: 10pt;
}
.nav_paginator_01 ul li.dotted-left{
}

.nav_paginator_01 ul li.dotted-left a{
    padding: 0;
    font-size: 13pt;
	margin-right:-18px;
}
.nav_paginator_01 ul li.dotted-right a{
    font-size: 13pt;
}
.nav_paginator_01 ul li.suspension_points{
    margin: -7px;
}

}