@media screen { 
    /* Encabezado */ 
    .td_video_detalle_01 .nav_header_01{
		margin-bottom:0px !important;
    }
    /*Wrap*/
    .td_video_detalle_01 .main{
        width: 100%;
		position:relative;
    }
    /*Todos los divs contenedores primarios se hacen al 100%*/
	.td_video_detalle_01 .main > div{
		width:100%;
		clear:both;
		overflow:hidden;
	}
	.td_video_detalle_01 .main .c3_1,
	.td_video_detalle_01 .main .c7_1{
		width:100%;
	}
	.td_video_detalle_01 .wdg_comen_01 .wdg_comen_01_comments{
		margin-bottom:-12px;
	}
	.td_video_detalle_01 .wdg_comen_01 .degraded{
		bottom:-1px;
	}
	.td_video_detalle_01 .main .c2_1 div.art_title_06 h4 {
		font-size: 26px !important;
	}
}
@media screen and (max-width: 624px){
    .cover_box,
    .td_video_detalle_01 .publicidad2{
        display: none;
    }
    
    .td_video_detalle_01 .publicidad1{
        text-align:center;
        float:none!important;
    }
} 