@media screen and (min-width: 624px){
    /*Wrap*/
    .td_video_detalle_01 .main{
        width: 624px;
        margin:auto;
    }
	.td_video_detalle_01 .main .c1{
		/*margin-top:24px;*/
	}
	/*Todos los divs contenedores primarios se hacen al 100%*/
	.td_video_detalle_01 .main .c1,
	.td_video_detalle_01 .main .c2,
	.td_video_detalle_01 .main .c3,
	.td_video_detalle_01 .main .c4{
		width:100%;
		clear:both;
		overflow:hidden;
	}
	/*Fijo Tamaño*/
	.td_video_detalle_01 .main .c3_1,
	.td_video_detalle_01 .main .c3_2,
	.td_video_detalle_01 .main .c5_1,
	.td_video_detalle_01 .main .c5_2,
	.td_video_detalle_01 .main .c6_3,
	.td_video_detalle_01 .main .c6_4,
	.td_video_detalle_01 .main .c7_1,
	.td_video_detalle_01 .main .c7_2{
		width: 300px;
	}
	.td_video_detalle_01 .main .c3,
	.td_video_detalle_01 .main .c5 {
		float: none;
	}
	.td_video_detalle_01 .separator_component{
	    border-right: 1px solid #CCCCCC;
	    height: 291px;
	    margin-left: 12px;
	    margin-top: 55px;
	}
	.td_video_detalle_01 .main .c2_1 div.art_title_06 h4 {
		font-size: 24px !important;
	}
	.td_video_detalle_01 .publicidad1{
        margin-bottom:36px!important;
    }
}
@media screen and (min-width: 624px) and (max-width: 948px){
    .cover_box,
    .td_video_detalle_01 .publicidad2{
        display: none;
    }
} 