@media screen {
	.wdg_videoteca_01 {
		height: 522px;
		position: relative;
		width: 100%;
		overflow: hidden;
		margin-bottom: 0;
	}
	.wdg_videoteca_01 > ul {
		height: 130px;
		display: block;
		overflow: auto;
		position: relative;
		width: 110%;
		overflow-x: hidden;
	}
	.wdg_videoteca_01 > ul li {
		display: block;
		position: relative;
		overflow: hidden;
	}
	.wdg_videoteca_01 > ul li div:first-child {
		position: absolute;
		width: 85px;
		height: 55px;
		background-color: #A41D21;
		opacity: 0.75;
	}
	.wdg_videoteca_01 > ul li i {
		position: absolute;
		left: 59px;
		color: #FFF;
	}
	.wdg_videoteca_01 ul li div:first-child span.date,  .wdg_videoteca_01 ul li div:first-child span,  .wdg_videoteca_01 ul li div:first-child span.date + span {
		display: block;
		margin: 0;
		position: static;
		text-align: center;
		width: auto;
	}
	.wdg_videoteca_01 > ul li div:first-child span.active {
		color: #DEB476;
		font-weight: bold;
		left: 0;
		position: absolute;
		text-align: right;
		top: 0;
		width: 51px;
	}
	.wdg_videoteca_01 > ul li div:first-child span.date {
		display: block;
		font-size: 12px;
		font-weight: bold;
		margin: 0 25px 0 0;
		text-align: right;
	}
	.wdg_videoteca_01 ul li span.date,  .wdg_videoteca_01 ul li span.active {
		color: #DEB476;
	}
	.wdg_videoteca_01 ul li div:first-child span.date,  
	.wdg_videoteca_01 ul li div:first-child span,  
	.wdg_videoteca_01 ul li div:first-child span.date + span {
		display: block;
		margin: 0;
		position: static;
		text-align: center;
		width: auto;
	}
	.wdg_videoteca_01 > ul li.color a {
		padding: 0 0px;
		width: 136px;
	}
	.wdg_videoteca_01 > ul li a {
		display: block;
		margin-left: 0;
		padding: 0;
		transition: all 0.2s ease-out 0s;
	}
	.wdg_videoteca_01 > ul li a .program {
		color: #000000;
		display: block;
		font-size: 14px;
		font-weight: bold;
		top: 8px;
	}
	.wdg_videoteca_01 > ul li a span {
	}
	.wdg_videoteca_01 > ul li.color a .textcolor-title4 {
		font-style: italic;
	}
	.wdg_videoteca_01 > ul li.color a .textcolor-title2 {
		font-style: normal;
	}
	.wdg_videoteca_01 > ul li.color a .channel {
		font-style: italic;
	}
	.wdg_videoteca_01 > ul li a .channel {
		color: #948F8F;
		display: block;
		font-size: 12px;
		top: 24px;
	}
	.wdg_videoteca_01 > ul li a:hover {
		-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
		-ms-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
		-o-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
		background-color: #E6E6E6;
	}
	.wdg_videoteca_01 > div {
		position: relative;
	}
	.wdg_videoteca_01 a.next {
		background-color: #A41D21;
	}
	.wdg_videoteca_01 > div .prev,  .wdg_videoteca_01 > div .next {
		background: none repeat scroll 0 0 #AAAAAA;
		display: none;
		height: 28px;
		line-height:28px;
		left: 0;
		position: absolute;
		top: 0;
		width: 29px;
	}
	.wdg_videoteca_01 > div .next {
		left: 29px;
		margin-left: 1px;
	}
	.wdg_videoteca_01 > div .full-timetable {
		background: none repeat scroll 0 0 #E6E6E6;
		box-shadow: 0 0 7px #C0C0C0 inset;
		display: none;
		height: 28px;
		line-height: 28px;
		margin-left: 83px;
		padding-left: 21px;
	}
	.wdg_videoteca_01 > div .full-timetable span {
		color: #000000;
		font-size: 14px;
		font-weight: bold;
	}
	.wdg_videoteca_01 > div .full-timetable {
		line-height: 28px;
	}
	.wdg_videoteca_01 a.prev,  .wdg_videoteca_01 a.next {
		background-color: #398218;
	}
	
	.wdg_videoteca_01 > div .tvsa-caret-up {
		margin: 2px 0 0 10px;
		color: #fff
	}
	.wdg_videoteca_01 > div .tvsa-caret-down {
		margin: 2px 0 0 10px;
		color: #fff
	}
	.wdg_videoteca_01 .degradado {
		border-top: none;
		display: block;
		position: absolute;
		top: 213px;
		width: 100%;
		height: 12px;
		background-image: url(../global/img/degradado_horizontal.html);
		background-repeat: repeat-x;
		background-position: 10px;
	}
	/************************************************List box***************************************************+*/
	.wdg_videoteca_01 .wdg_videoteca_012_listcontainer {
		clear: both;
	}
	.wdg_videoteca_01 .wdg_videoteca_012_listcontainer ul {
		background-color: #f5f5f5;
		z-index: 1000 !important;
		position: relative;
		visibility: hidden;
		cursor: pointer;
	}
	.wdg_videoteca_01 .result_champion {
		display: none;
	}
	.wdg_videoteca_01 .result_champion:nth-child(-n+9) {
		display: block;
	}
	.wdg_videoteca_01 .wdg_videoteca_012_listcontainer ul li {
		width: 100%;
		height: 34px;
		background-color: rgba(235,235,235,0.6);
		border-bottom: 1px solid #d3d3d3;
		box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.1);
	}
	.wdg_videoteca_01 .wdg_videoteca_012_listcontainer ul li:hover {
		background-color: rgba(235,235,235,0.9);
	}
	.wdg_videoteca_01 .wdg_videoteca_012_listcontainer ul li p {
		margin-left: 20px;
		line-height: 34px;
		font-style: italic;
		font-weight: bold;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_listcontainer {
		clear: both;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_listcontainer ul {
		background-color: #f5f5f5;
		z-index: 1000 !important;
		position: relative;
		visibility: hidden;
		cursor: pointer;
	}
	.wdg_videoteca_01 .wdg_videoteca_012_listcontainer ul::-webkit-scrollbar-thumb {
	 background: #d3d3d3;
	 -webkit-border-radius: 1px;
	 -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
	}
	 .wdg_videoteca_01 .wdg_videoteca_012_listcontainer ul::-webkit-scrollbar {
	 height: 12px;
	 width: 12px;
	 background: #f5f5f5;
	}
	 .wdg_videoteca_01 .wdg_videoteca_01_listcontainer ul::-webkit-scrollbar-thumb {
	 background: #d3d3d3;
	 -webkit-border-radius: 1px;
	 -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
	}
	 .wdg_videoteca_01 .wdg_videoteca_01_listcontainer ul::-webkit-scrollbar {
	 height: 12px;
	 width: 12px;
	 background: #f5f5f5;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_listcontainer ul li {
		width: 100%;
		height: 34px;
		background-color: rgba(235,235,235,0.6);
		border-bottom: 1px solid #d3d3d3;
		box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.1);
	}
	.wdg_videoteca_01 .wdg_videoteca_01_listcontainer ul li:hover {
		background-color: rgba(235,235,235,0.9);
	}
	.wdg_videoteca_01 .wdg_videoteca_01_listcontainer ul li p {
		margin-left: 20px;
		line-height: 34px;
		font-style: italic;
		font-weight: bold;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_dropdowncontent > span {
		float: right;
		margin-top: 14px;
		margin-right: 12px;
		cursor: pointer;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_dropdowncontent > span {
		float: right;
		margin-top: 14px;
		margin-right: 12px;
		cursor: pointer;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_dropdown {
		clear: both;
		width: 100%;
		height: 100%;
		background-color: #d3d3d3;
		box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.1);
		cursor: pointer;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_listcontainer {
		clear: both;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_listcontainer ul {
		background-color: #f5f5f5;
		z-index: 1000 !important;
		position: relative;
		visibility: hidden;
		cursor: pointer;
	}
	.wdg_videoteca_01 .wdg_videoteca_012_dropdowncontent > span {
		float: right;
		margin-top: 14px;
		margin-right: 12px;
		cursor: pointer;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_dropdown {
		clear: both;
		width: 100%;
		height: 100%;
		background-color: #E1E1E1;
		box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.1);
		cursor: pointer;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_dropdowncontent > span {
		float: right;
		margin-top: 14px;
		margin-right: 12px;
		cursor: pointer;
	}
	.wdg_videoteca_01 .wdg_videoteca_012_dropdown {
		clear: both;
		width: 100%;
		height: 100%;
		background-color: #E1E1E1;
		box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.1);
		cursor: pointer;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_listcontainer {
		clear: both;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_listcontainer ul {
		background-color: #f5f5f5;
		z-index: 1000 !important;
		position: relative;
		visibility: hidden;
		cursor: pointer;
	}
	.wdg_videoteca_01 .color .carrera,  .wdg_videoteca_01 .color .circuito {
		color: black !important;
		float: left;
	}
	.wdg_videoteca_01 .wdg_videoteca_012_dropdowncontent > p {
		float: left;
		padding-left: 22px;
		padding-top: 6px;
		font-size: 13px;
	}
	.wdg_videoteca_01 .wdg_videoteca_01_dropdowncontent > p {
		float: left;
		padding-left: 15px;
		padding-top: 6px;
	}
	.wdg_videoteca_01 .color .carrera {
		padding-top: 3px;
		padding-bottom: 8px;
		width: 32% !important;
	}
	.wdg_videoteca_01 .color .circuito {
		padding-top: 3px;
		padding-bottom: 8px;
		width: 21% !important;
		display: none;
	}
	.wdg_videoteca_01 .color .ganador {
		padding-top: 3px;
		padding-bottom: 8px;
		width: 32% !important;
	}
	.wdg_videoteca_01 .color2 > div {
		float: left;
		position: relative;
		font-size: 14px;
	}
	.wdg_videoteca_01 .fechaDesplegada {
		width: 10% !important;
		font-size: 12px;
		float: left !important;
		position: relative;
		text-align: right !important;
		padding-right: 18px;
	}
	.wdg_videoteca_01 .ganador {
		width: 22%;
		font-style: normal !important;
		font-weight: bold;
		padding-left: 12px;
		text-align: left;
	}
	.wdg_videoteca_01 .circuito {
		width: 22%;
		font-style: normal !important;
		font-weight: bold;
		padding-left: 12px;
		text-align: left;
	}
	.wdg_videoteca_01 .carrera {
		width: 34%;
		font-style: normal !important;
		font-weight: bold;
		padding-left: 12px;
		text-align: left;
	}
	.wdg_videoteca_01 .fecha {
		width: 13%;
		position: relative;
		font-weight: bold;
		font-style: normal !important;
		text-align: center;
	}
	.wdg_videoteca_01 .color2 {
		width: 100%;
		padding-top: 17px;
		height: 15px;
		padding-bottom: 11px;
		position: relative;
	}
	.wdg_videoteca_01 .filter {
		width: 72%;
		position: relative;
		float: right;
		height: 31px;
	}
	.wdg_videoteca_01 .wdg_videoteca_012_dropdowncontent {
		background-color: #E5E5E5;
		box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.2) inset;
		clear: both;
		cursor: pointer;
		height: 100%;
		width: 100%;
	}
	.wdg_videoteca_01 .filterResultado {
		width: 100%;
		position: relative;
		height: auto;
		margin-top: 12px;
		margin-bottom: 24px;
	}
	.wdg_videoteca_01 .lineaResultado > h3 {
		position: relative;
		line-height:26px;
		color: black;
		font-size: 13px;
		padding-left:15px;
	}
	.wdg_videoteca_01 .lineaResultado:first-child h3 {
		border-top: 1px solid #CCCCCC;
	}
	.wdg_videoteca_01 .lineaResultado {
		width: 100%;
		position: relative;
		height: 31px;
		clear: both;
		border-bottom: 1px solid #CCC;
	}
	.wdg_videoteca_01 .str_pleca_01 {
		margin-bottom: 0px !important;
	}
	.wdg_videoteca_01 .content_carru {
		width: 106%;
		min-width:345px;
		height: 285px;
		overflow: scroll;
		overflow-x: hidden;
	}
	.wdg_videoteca_01 .content_carru .carru {
		min-width:300px;
		display: block;
		overflow:hidden;
	}
	.wdg_videoteca_01 .content_carru .carru .color {
		float: left;
		margin-bottom: 21px;
	}
	.wdg_videoteca_01 .content_carru .carru .color:nth-child(11),
	.wdg_videoteca_01 .content_carru .carru .color:nth-child(12){
		margin-bottom:0;
	}
	.wdg_videoteca_01 .content_carru .carru li {
		margin-right: 20px;
		width: 136px;
	}
	.wdg_videoteca_01 .content_carru .carru li:nth-child(2n+1) {
		padding-left: 15px;
	}
	.wdg_videoteca_01 .content_carru .carru .color a img {
		width: 136px;
	}
	.wdg_videoteca_01 .content_carru .carru .color a h4 {
		font-size: 14px;
		height: 35px;
	}
	.wdg_videoteca_01 .content_carru .carru .color a p {
		color: #eab11d;
		font-size: 12px;
		font-style: italic;
	}
	.view {
		display: none;
	}
	.wdg_videoteca_01 .degraded {
		display:block;
		background-image: url("../global/img/degradado_horizontal24.html");
		background-position: 5px center;
		background-repeat: repeat-x;
		height: 24px;
		bottom:23px;
	}
	.wdg_videoteca_01 .seemore{
		display:block;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        height: 24px;
        width: 100%;
        text-align: center;
        border-top: 1px solid #dadada;
        padding: 0;
        margin: 0;
        cursor: pointer;
        background-color: #dadada; 
        height: 40px;
    }
    .wdg_videoteca_01 .seemore a{
        float: none;
        height: 40px;
        width: 100%;
        text-align: center;
        line-height: 40px;
        background-color: 0;
        color: #8f8f8f;
        display: block;
    }
	.wdg_videoteca_01 .view .bgactive{
		background-color:#398218;
	}
	
	.wdg_videoteca_01 .view .bgactive:hover{
		background-color:#59a529;
	}
	
	.wdg_videoteca_01 .view .bginactive{
		background-color:#b7b7b7;
	}
	
	.wdg_videoteca_01 .view .bginactive:hover{
		background-color:#59a529;
	}
	.wdg_videoteca_01 .view .bgactive span{
		color:#FFF;
	}
	.wdg_videoteca_01 .view .bginactive span{
		color:#fff;
	}
	.wdg_videoteca_01 .link_complete{
		display:inline-block;
		width:100%;
		height:100%;
	}
	.wdg_videoteca_01 .filter .tvsa-caret-down{
		color:#010101 !important;
		float:right;
		padding-right:24px;
		font-size:18px;
	}
}
/*Landscape*/
@media screen and (max-device-width: 480px) and (orientation: landscape) {
	/*.wdg_videoteca_01 .content_carru .carru li:nth-child(2n+1) {
		padding-left: 0;
	}
	.wdg_videoteca_01 .content_carru .carru li:nth-child(1) {
		padding-left: 15px;
	}
	.wdg_videoteca_01 .content_carru .carru li:nth-child(3n+4) {
		padding-left: 15px;
	}*/
}
