<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_sched_02_mobile.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_sched_02_tablet.css" media="screen and (min-width: 624px)">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_sched_02.css" media="screen and (min-width: 948px)">

<script type="text/javascript">

function pintarHoraFecha(parametro, fechaBoton)
    { 
        var parte = fechaBoton.split('.');
        dia = parte[0];
        hora = parte[1]; 
        
        if(parametro === 'fecha')
        {
            document.write(dia);
        }
        else 
        {
            document.write(hora);   
        } 
    } 

$(document).ready(function(){
    var npartidos = $(".wdg_sched_02 #deg li").length;
    if(npartidos <= 10){
        $('.wdg_sched_02 > ul').height(npartidos*53);
        $('.wdg_sched_02 > div .prev, .wdg_sched_02 > div .next').removeClass('bgactive').addClass("bginactive");
    }  
});

</script>

<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/wdg_sched_02.js"></script>

<div class="wdg_sched_02" data-enhance="false">
    <!-- BEGIN: str_pleca_01 -->
    <div class="str_pleca_01">
        <div class="str_pleca_01_title">
            <h2 class="background-color1"><a class="textcolor-title3"  title="Link Description"> Agenda TD <span class="str_pleca_01_arrowa selected"></span> <span class="str_pleca_01_arrowb"></span></a></h2>
        </div>
    </div>
    <!-- END: str_pleca_01 -->
    <ul id="deg" style="height:478px !important;">
        {NOTEMPTY:BTN:Btn_AgendaDTV1:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV1:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV1:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV1:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV1:TITLE}" alt="{BTN:Btn_AgendaDTV1:TITLE}" href="{BTN:Btn_AgendaDTV1:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV1:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV1:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV2:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV2:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV2:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV2:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV2:TITLE}" alt="{BTN:Btn_AgendaDTV2:TITLE}" href="{BTN:Btn_AgendaDTV2:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV2:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV2:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV3:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV3:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV3:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV3:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV3:TITLE}" alt="{BTN:Btn_AgendaDTV3:TITLE}" href="{BTN:Btn_AgendaDTV3:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV3:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV3:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV4:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV4:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV4:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV4:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV4:TITLE}" alt="{BTN:Btn_AgendaDTV4:TITLE}" href="{BTN:Btn_AgendaDTV4:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV4:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV4:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}  
        {NOTEMPTY:BTN:Btn_AgendaDTV5:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV5:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV5:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV5:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV5:TITLE}" alt="{BTN:Btn_AgendaDTV5:TITLE}" href="{BTN:Btn_AgendaDTV5:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV5:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV5:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV6:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV6:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV6:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV6:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV6:TITLE}" alt="{BTN:Btn_AgendaDTV6:TITLE}" href="{BTN:Btn_AgendaDTV6:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV6:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV6:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV7:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV7:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV7:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV7:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV7:TITLE}" alt="{BTN:Btn_AgendaDTV7:TITLE}" href="{BTN:Btn_AgendaDTV7:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV7:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV7:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV8:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV8:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV8:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV8:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV8:TITLE}" alt="{BTN:Btn_AgendaDTV8:TITLE}" href="{BTN:Btn_AgendaDTV8:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV8:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV8:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV9:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV9:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV9:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV9:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV9:TITLE}" alt="{BTN:Btn_AgendaDTV9:TITLE}" href="{BTN:Btn_AgendaDTV9:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV9:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV9:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV10:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV10:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV10:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV10:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV10:TITLE}" alt="{BTN:Btn_AgendaDTV10:TITLE}" href="{BTN:Btn_AgendaDTV10:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV10:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV10:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV11:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV11:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV11:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV11:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV11:TITLE}" alt="{BTN:Btn_AgendaDTV11:TITLE}" href="{BTN:Btn_AgendaDTV11:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV11:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV11:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV12:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV12:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV12:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV12:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV12:TITLE}" alt="{BTN:Btn_AgendaDTV12:TITLE}" href="{BTN:Btn_AgendaDTV12:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV12:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV12:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV13:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV13:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV13:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV13:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV13:TITLE}" alt="{BTN:Btn_AgendaDTV13:TITLE}" href="{BTN:Btn_AgendaDTV13:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV13:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV13:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV14:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV14:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV14:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV14:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV14:TITLE}" alt="{BTN:Btn_AgendaDTV14:TITLE}" href="{BTN:Btn_AgendaDTV14:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV14:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV14:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}  
        {NOTEMPTY:BTN:Btn_AgendaDTV15:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV15:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV15:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV15:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV15:TITLE}" alt="{BTN:Btn_AgendaDTV15:TITLE}" href="{BTN:Btn_AgendaDTV15:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV15:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV15:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV16:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV16:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV16:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV16:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV16:TITLE}" alt="{BTN:Btn_AgendaDTV16:TITLE}" href="{BTN:Btn_AgendaDTV16:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV16:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV16:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV17:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV17:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV17:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV17:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV17:TITLE}" alt="{BTN:Btn_AgendaDTV17:TITLE}" href="{BTN:Btn_AgendaDTV17:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV17:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV17:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV18:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV18:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV18:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV18:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV18:TITLE}" alt="{BTN:Btn_AgendaDTV18:TITLE}" href="{BTN:Btn_AgendaDTV18:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV18:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV18:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV19:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">

            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV19:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV19:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV19:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV19:TITLE}" alt="{BTN:Btn_AgendaDTV19:TITLE}" href="{BTN:Btn_AgendaDTV19:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV19:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV19:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}
        {NOTEMPTY:BTN:Btn_AgendaDTV20:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV20:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV20:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div>{NOTEMPTY:BTN:Btn_AgendaDTV20:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV20:TITLE}" alt="{BTN:Btn_AgendaDTV20:TITLE}" href="{BTN:Btn_AgendaDTV20:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV20:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV20:DESCRIPTION}</span></a>{EMPTY:END}</div>
        </li>
        {EMPTY:END}      
    </ul>
    <div class="nav"> 
        <a class="prev bginactive" title="Link Description" href="#">
        <span class="tvsa-caret-up dropdown-white"></span>
        </a> 
        <a class="next bgactive" title="Link Description" href="#">
        <span class="tvsa-caret-down dropdown-white"></span>
        </a> 
        <a class="full-timetable" href="#"> <span>Ver todos</span> </a> 
    </div>
    <div class="degraded"></div>
    <div class="seemore">
        <a href="#">Ver todos</a>
    </div>
</div>