<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/global.css">

<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/headjs.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.mobile-1.3.2.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.migrate.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.easing-1.3.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/modernizr.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/Televisa.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/global.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.corner.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jplayer_request.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.mb.miniPlayer.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.lightbox_me.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/swipeupdown.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/swipe2.js"></script>

<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_sched_02_mobile.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_sched_02_tablet.css" media="screen and (min-width: 624px)">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_sched_02.css" media="screen and (min-width: 948px)">

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/colores.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/jquery.mobile-1.3.2.min.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-icons.css">

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01_mobile.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01_tablet.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01.css" media="all">

<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/wdg_sched_02.js"></script>

<?php include("agendadeportivaupdate.php");