<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/global.css">

<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/headjs.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.mobile-1.3.2.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.migrate.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.easing-1.3.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/modernizr.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/Televisa.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/global.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.corner.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jplayer_request.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.mb.miniPlayer.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.lightbox_me.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/swipeupdown.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/swipe2.js"></script>

<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_sched_02_mobile.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_sched_02_tablet.css" media="screen and (min-width: 624px)">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_sched_02.css" media="screen and (min-width: 948px)">

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/colores.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/jquery.mobile-1.3.2.min.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-icons.css">

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01_mobile.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01_tablet.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01.css" media="all">

<style type="text/css">
@media screen{
   .wdg_sched_02{
    margin-bottom: 0px;
    height: 100%;
       position: relative;
       width: 100%;
       overflow: hidden;
   }

   .wdg_sched_02 > ul {
       height: 197px;
display: block;
overflow: auto;
position: relative;
width: 110%;
overflow-x: hidden;
border-top: 1px solid #ccc;
   }

   .wdg_sched_02 > ul li {
       border-bottom: 1px solid #D1D1D1;
       display: block;
       position: relative;
   }
   .wdg_sched_02 > ul li h3 {
       font-weight:inherit;
   }
   .wdg_sched_02 > ul li div:first-child:after {
       clear: both;
   }

   .wdg_sched_02 > ul li div:first-child:before, 
   .wdg_sched_02 > ul li div:first-child:after {
       content: "";
       display: table;
   }


   .wdg_sched_02 ul li div:first-child {
       margin: 0;
       padding: 0;
   }

   .wdg_sched_02 > ul li div:first-child {
       left: 0;
       position: absolute;
       top: 8px;
       width: 83px;
   }

   .wdg_sched_02 ul li div:first-child time, 
   .wdg_sched_02 ul li div:first-child span, 
   .wdg_sched_02 ul li div:first-child time + span {
       display: block;
       margin: 0;
       position: static;
       text-align: center;
       width: auto;
       font-size: 16px !important;

   }

   .wdg_sched_02 > ul li div:first-child span.active {
       color: #DEB476;
       font-weight: bold;
       left: 0;
       position: absolute;
       text-align: right;
       top: 0;
       width: 51px;
   }

   .wdg_sched_02 > ul li div:first-child time {
       display: block;
       font-size: 12px !important;
       font-weight:bold;    
       margin: 1px -3px 0 0 !important;
       text-align: right;
padding-left: 5px;
color:#eab11d;
   }

   .wdg_sched_02 ul li div:first-child time, 
   .wdg_sched_02 ul li div:first-child span, 
   .wdg_sched_02 ul li div:first-child time + span {
       display: block;
       position: static;
       text-align: center;
       width: auto;
   }

   .wdg_sched_02 time {
       font-weight:normal;
   }
   .wdg_sched_02 span.hour {
       font-weight:bold;
   }
   .wdg_sched_02 > ul li.color a {
       padding: 13px 10px;
   }

   .wdg_sched_02 > ul li a {
       display: block;
       height: 26px;
       margin-left: 83px;
       padding: 0;
       transition: all 0.2s ease-out 0s;
   }

   .wdg_sched_02 > ul li a .program {
       color: #000000;
       display: block;
       font-size: 14px;
       font-weight: bold;
       top: 8px;
   }

   .wdg_sched_02 > ul li a span {
       left: 104px;
       position: absolute;
   }

   .wdg_sched_02 > ul li.color a .channel {
       font-style: italic;
   }

   .wdg_sched_02 > ul li a .channel {
       color: #948F8F;
       display: block;
       font-size: 12px;
       top: 24px;
   }

   .wdg_sched_02 > ul li a span {
       left: 104px;
       position: absolute;
   }

   .wdg_sched_02 > ul li a:hover {
     -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
     -ms-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
     -o-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
     box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
     background-color: #E6E6E6;
   }

   .wdg_sched_02 > div:last-child {
       margin-top: 20px;
   }

   .wdg_sched_02 .nav {
       position: relative;
border-top:1px solid #CCC;
display:none;
   }

   .wdg_sched_02 a.next {
       background-color: #A41D21;
   }

   .wdg_sched_02 > div .prev, 
   .wdg_sched_02 > div .next {
       background: none repeat scroll 0 0 #AAAAAA;
       display: none;
       height: 28px;
       left: 0;
       line-height:28px;
       position: absolute;
       top: 0;
       width: 29px;
   }

   .wdg_sched_02 > div .next {
       left: 29px;
       margin-left: 1px;
   }

   .wdg_sched_02 > div .full-timetable {
       background: none repeat scroll 0 0 #E6E6E6;
       box-shadow: 0 0 7px #C0C0C0 inset;
       display: none;
       height: 28px;
       line-height: 28px;
       margin-left: 83px;
       padding-left: 21px;
   }

   .wdg_sched_02 > div .full-timetable span {
       color: #000000;
       font-size: 14px;
       font-weight: bold;
   }

   .wdg_sched_02 > div .full-timetable {
       line-height: 25px;
   }


   .wdg_sched_02 > div .tvsa-caret-up{
       margin: 2px 0 0 10px;
   }
   .wdg_sched_02 > div .tvsa-caret-down{
       margin: 2px 0 0 10px;
   }
.wdg_sched_02 .degraded{
bottom:61px;
}
   .wdg_sched_02 .seemore{
       font-size: 12px;
       font-style: normal;
       font-weight: bold;
       height: 24px;
       width: 100%;
       text-align: center;
       border-top: 1px solid #dadada;
       padding: 0;
       margin: 0;
       cursor: pointer;
       background-color: #dadada; 
       height: 40px;
   }
   .wdg_sched_02 .seemore a{
       float: none;
       height: 40px;
       width: 100%;
       text-align: center;
       line-height: 40px;
       background-color: 0;
       color: #8f8f8f;
       display: block;
   }

.wdg_sched_02 .nav .bgactive{
background-color:#398218;
}

.wdg_sched_02 .nav .bgactive:hover{
background-color:#52ba23;
}

.wdg_sched_02 .nav .bginactive{
background-color: #d7d7d7;
}

.wdg_sched_02 .nav .bgactive span{
color:#FFF;
}

.wdg_sched_02 .nav .bginactive span{
color:#fff;
}
   .wdg_sched_02 .separator{
       float: left;
       height: 29px;
       background: #ccc;
       width: 1px;
       margin-left: 83px;
       margin-top: 11px;
   }

}
@media screen and (min-width: 624px){
.wdg_sched_02{
height:auto;
   position: relative;
   width: 300px;
overflow: hidden;
margin-bottom: 36px;
}
.wdg_sched_02 div.str_pleca_01_title h3{
width:152px;
}
.wdg_sched_02 > div .full-timetable {
display:none;
}
.wdg_sched_02 .seemore{
font-size: 14px;
font-style: italic;
font-weight: bold;
height: 24px;
width: 100%;
text-align: center;
border-top: 1px solid #ccc;
padding: 0;
margin: 0;
cursor: pointer;
background-color: #f5f5f5;
}
.wdg_sched_02 .seemore a{
float: right;
height: 28px;
width: 92px;
text-align: center;
line-height: 28px;
background-color: #D9A961;
color: #fff;
}
.wdg_sched_02 .degraded{
       bottom:70px;
}
.wdg_sched_02 > div:last-child {
margin-top: 44px;
}

.wdg_sched_02 .nav .bgactive{
background-color:#398218;
}

.wdg_sched_02 .nav .bgactive:hover{
background-color:#59a529;
}

.wdg_sched_02 .nav .bginactive{
background-color:#d7d7d7;
}

.wdg_sched_02 .nav .bginactive:hover{
background-color:#d7d7d7;
cursor:default;
}

.wdg_sched_02 .nav .bgactive span{
color:#FFF;
}

.wdg_sched_02 .nav .bginactive span{
color:#fff;
}
}
@media screen and (min-width: 948px){
.wdg_sched_02{  
   height: auto;
}
.wdg_sched_02 > ul {
height: 530px;
margin-bottom:17px;
}
.wdg_sched_02 > ul {
     background-image:none;
   }
.wdg_sched_02 .nav {
display:block;
   }
.wdg_sched_02 > div .prev, 
   .wdg_sched_02 > div .next {
       display: block;
   }
.wdg_sched_02 .degraded,
.wdg_sched_02 .seemore,
.wdg_sched_02 .seemore a{
display:none;
}
.wdg_sched_02 > div .full-timetable {
display:block;
}

.ie7 .wdg_sched_02 > ul li{
height: 52px;
overflow: hidden;
}


.ie7 .wdg_sched_02 > ul{
height: 760px;
}
}
</style>

<script type="text/javascript">

function pintarHoraFecha(parametro, fechaBoton)
    { 
        var parte = fechaBoton.split('.');
        dia = parte[0];
        hora = parte[1]; 
        
        if(parametro === 'fecha')
        {
            return dia;
        }
        else 
        {
            return hora;   
        } 
    } 

</script>

<script type="text/javascript">

var contenido;

$(document).ready(function(){

    $('.wdg_sched_02 > ul').height(0);

    $.ajax({ cache: false, data: {}, url: "agendadeportivaupdate.php", })
        .done(function(data, textStatus, jqXHR){
            contenido = data;
            $("#deg").html($(contenido).find("#deg li"));
            $(contenido).find("#deg li").each(function(idx,elem){
                var hora = $(this).find("span.hour").html();
                hora = hora.substring(40);
                hora = hora.substring(0,5);
                var fecha = $(this).find("time").html();
                fecha = fecha.substring(33);
                fecha = fecha.substring(0,6);
                $("#deg li time").html(fecha+'<span class="hour">'+hora+'</span>');
            });

            npartidos = $(contenido).find("#deg li").length;

            if(npartidos <= 10){
                $('.wdg_sched_02 > ul').height(npartidos*53);
                $('.wdg_sched_02 > div .prev, .wdg_sched_02 > div .next').removeClass('bgactive').addClass("bginactive");
            }else{
                $('.wdg_sched_02 > ul').height(10*53);
            }

            ;jQuery(function($){ 
                (function($,T){

                    $('.wdg_sched_02').each(function(ix,element){ 
                        var $this = $(this), 
                            Pointer = {
                                UP: (T.getIsTouchDevice()) ? 'touchend' : 'mouseup',
                                DOWN: (T.getIsTouchDevice()) ? 'touchstart' : 'mousedown'
                            }, 
                            $theUl = $this.find('>ul')
                        ;
                        
                        $this.find('a.prev, a.next, .deportes-prev, .deportes-next').click(function(event){
                            event.preventDefault();
                        });
                        
                        $this.find('a.prev, .deportes-prev').bind(Pointer.DOWN,function(){
                            $theUl.animate({
                                'scrollTop': $theUl.scrollTop() - $theUl.height()
                            }, 900);
                        });
                        
                        $this.find('a.next, .deportes-next').bind(Pointer.DOWN,function(){
                            $theUl.animate({
                                'scrollTop': $theUl.scrollTop() + $theUl.height()
                            }, 900);
                        }); 
                    });
                    
                    /*Swipe*/
                    $(document).ready(function(){
                        $('.wdg_sched_02 #deg').bind('swipeup',function(){
                            $(this).animate({
                                    'scrollTop': $('.wdg_sched_02 #deg').scrollTop() + 270
                                }, 500);
                        });
                        $('.wdg_sched_02 #deg').bind('swipedown',function(){
                            $(this).animate({
                                    'scrollTop': $('.wdg_sched_02 #deg').scrollTop() - 270
                                }, 500);
                        });
                    });
                    
                    //Altura
                    $elements = $('.wdg_sched_02 ul#deg li').size() + 1;
                    $altura =0;
                    
                    /*TamaÃƒÂ±o de pantalla modificado*/
                    $(window).resize(function() {
                        if($.browser.msie && $.browser.version < 9){
                            if($(window).width()>947){
                                $alt_w = 690;
                            }
                            else
                            {
                                $alt_w = 222;
                            }
                        }else{
                            $alt_w = $('.wdg_sched_02 #deg').height();
                        }
                    });
                    /*Hack < IE8*/
                    if ( $.browser.msie && $.browser.version < 9) {
                                $elements = $elements -1;
                                $altura = $altura + $('.wdg_sched_02 ul li').outerHeight();
                                $altura = $altura * $elements;  
                                if ($(window).width()>947){
                                        $alt_w = 690;
                                    }
                                    else
                                    {
                                        $alt_w = 222;
                                    }
                    }
                    else
                    {
                        for($i=1;$i<$elements;$i++){
                            $altura = $altura + $('.wdg_sched_02 ul#deg li:nth-child('+$i+')').outerHeight();
                        }
                        $alt_w = $('.wdg_sched_02 #deg').height();
                    }
                    
                    $('.wdg_sched_02 #deg').scroll(function() {
                            var $position = $(this).scrollTop();
                            var $med = $position + $alt_w; 
                            var $down = $(this).siblings('.nav').children().children('.tvsa-caret-down').parent();
                            var $up = $(this).siblings('.nav').children().children('.tvsa-caret-up').parent();
                            
                            console.log($position);
                            
                            if($med == $altura){
                                // inactivo
                                 $(this).siblings('.degraded').css("visibility","hidden");
                                 $down
                                 .removeClass('bgactive')
                                 .addClass('bginactive');
                            }
                            // Hack IE 7 
                            else if ($.browser.msie && parseInt($.browser.version, 10) == 7 && $position >= 740){
                                // inactivo
                                 $(this).siblings('.degraded').css("visibility","hidden");
                                 $down
                                 .removeClass('bgactive')
                                 .addClass('bginactive');
                                 console.log($position);
                            }
                            // Hack IE 7 
                            else if ($.browser.msie && parseInt($.browser.version, 10) >= 8 && $position >= 680){
                                // inactivo
                                 $(this).siblings('.degraded').css("visibility","hidden");
                                 $down
                                 .removeClass('bgactive')
                                 .addClass('bginactive');
                                 console.log($position);
                            }
                            else{
                                // activo
                                 $(this).siblings('.degraded').css("visibility","visible");
                                 $down
                                 .removeClass('bginactive')
                                 .addClass('bgactive');
                            }
                            if($position == 0){
                                $up
                                .removeClass('bgactive')
                                .addClass('bginactive');
                            }else{
                                $up
                                .removeClass('bginactive')
                                .addClass('bgactive');
                            }
                        }); 
                })($,Televisa);
            });

        });

});

</script>

<div class="wdg_sched_02" data-enhance="false">
    <!-- BEGIN: str_pleca_01 -->
    <div class="str_pleca_01">
        <div class="str_pleca_01_title">
            <h2 class="background-color1"><a class="textcolor-title3"  title="Link Description"> Agenda TD <span class="str_pleca_01_arrowa selected"></span> <span class="str_pleca_01_arrowb"></span></a></h2>
        </div>
    </div>
    <!-- END: str_pleca_01 -->
    <ul id="deg">
        
    </ul>
    <div class="nav"> 
        <a class="prev bginactive" title="Link Description" href="http://166.78.2.40/some/path/to/event/page">
        <span class="tvsa-caret-up dropdown-white"></span>
        </a> 
        <a class="next bgactive" title="Link Description" href="http://166.78.2.40/some/path/to/event/page">
        <span class="tvsa-caret-down dropdown-white"></span>
        </a> 
        <a class="full-timetable" href="http://166.78.2.40/some/path/to/event/page"> <span>Ver todos</span> </a> 
    </div>
    <div class="degraded"></div>
    <div class="seemore">
        <a href="#">Ver todos</a>
    </div>
</div>