<script>
	$(document).ready(function(){
		var totalItems = $(".deg li").length;
		if(totalItems <= 4)
		{
			$(".bgactive, .bginactive").css("display","none");
		}
	});   
	
	function pintarHoraFecha(parametro, fechaBoton)
	{ 
		var parte = fechaBoton.split('.');
		dia = parte[0];
		hora = parte[1]; 
		
		if(parametro === 'fecha')
		{
			document.write(dia);
		}
		else 
		{
			document.write(hora);   
		} 
	}   
</script> 

<div class="wdg_agenda"> 
    <!-- BEGIN: Pleca -->
   <div class="encabezado"> 
		<div class="title azul">{LBL:AgendaDTV:CAPTION}</div>
		<hr>
	</div>
    <!-- END: Pleca -->
	
    <!-- BEGIN: contenido -->
    <ul class="deg">   
		{NOTEMPTY:BTN:Btn_AgendaDTV1:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event"> 
            <div class="azul"><time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV1:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV1:CAPTION}');</script></span></time> </div>
            <div class="separator"></div> 
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV1:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV1:TITLE}" alt="{BTN:Btn_AgendaDTV1:TITLE}" href="{BTN:Btn_AgendaDTV1:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV1:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV1:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li>  
		{EMPTY:END}
		{NOTEMPTY:BTN:Btn_AgendaDTV2:ID} 
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"><time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV2:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV2:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV2:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV2:TITLE}" alt="{BTN:Btn_AgendaDTV2:TITLE}" href="{BTN:Btn_AgendaDTV2:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV2:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV2:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li>
		{EMPTY:END}
		{NOTEMPTY:BTN:Btn_AgendaDTV3:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV3:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV3:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV3:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV2:TITLE}" alt="{BTN:Btn_AgendaDTV3:TITLE}" href="{BTN:Btn_AgendaDTV3:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV3:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV3:DESCRIPTION}</span>{EMPTY:END}</a></div> 
        </li>    
		{EMPTY:END}
		{NOTEMPTY:BTN:Btn_AgendaDTV4:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV4:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV4:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV4:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV4:TITLE}" alt="{BTN:Btn_AgendaDTV4:TITLE}" href="{BTN:Btn_AgendaDTV4:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV4:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV4:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li> 
		{EMPTY:END} 
		{NOTEMPTY:BTN:Btn_AgendaDTV5:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV5:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV5:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV5:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV5:TITLE}" alt="{BTN:Btn_AgendaDTV5:TITLE}" href="{BTN:Btn_AgendaDTV5:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV5:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV5:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li> 
		{EMPTY:END}	
		{NOTEMPTY:BTN:Btn_AgendaDTV6:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV6:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV6:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV6:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV6:TITLE}" alt="{BTN:Btn_AgendaDTV6:TITLE}" href="{BTN:Btn_AgendaDTV6:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV6:CAPTION}</span> <span class="channel">{BTN:Btn_AgendaDTV6:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li> 
		{EMPTY:END}	
		{NOTEMPTY:BTN:Btn_AgendaDTV7:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV7:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV7:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV7:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV7:TITLE}" alt="{BTN:Btn_AgendaDTV7:TITLE}" href="{BTN:Btn_AgendaDTV7:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV7:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV7:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li> 
		{EMPTY:END}	
		{NOTEMPTY:BTN:Btn_AgendaDTV8:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV8:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV8:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV8:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV8:TITLE}" alt="{BTN:Btn_AgendaDTV8:TITLE}" href="{BTN:Btn_AgendaDTV8:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV8:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV8:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li> 
		{EMPTY:END}	
		{NOTEMPTY:BTN:Btn_AgendaDTV9:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV9:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV9:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV9:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV9:TITLE}" alt="{BTN:Btn_AgendaDTV9:TITLE}" href="{BTN:Btn_AgendaDTV9:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV9:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV9:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li> 
		{EMPTY:END}	
		{NOTEMPTY:BTN:Btn_AgendaDTV10:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV10:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV10:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV10:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV10:TITLE}" alt="{BTN:Btn_AgendaDTV10:TITLE}" href="{BTN:Btn_AgendaDTV10:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV10:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV10:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li> 
		{EMPTY:END}	   
		{NOTEMPTY:BTN:Btn_AgendaDTV11:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV11:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV11:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV11:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV11:TITLE}" alt="{BTN:Btn_AgendaDTV11:TITLE}" href="{BTN:Btn_AgendaDTV11:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV11:TITLE}</span> <span class="channel">{BTN:Btn_AgendaDTV11:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li> 
		{EMPTY:END}	
		{NOTEMPTY:BTN:Btn_AgendaDTV12:ID}
        <li class="color" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="azul"> <time itemprop="startDate" datetime="2013-10-26T20:00-08:00"><script>pintarHoraFecha('fecha','{BTN:Btn_AgendaDTV12:CAPTION}');</script><span class="hour"><script>pintarHoraFecha('hour','{BTN:Btn_AgendaDTV12:CAPTION}');</script></span></time> </div>
            <div class="separator"></div>
            <div class="texto">{NOTEMPTY:BTN:Btn_AgendaDTV12:LINK}<a itemprop="url" title="{BTN:Btn_AgendaDTV12:TITLE}" alt="{BTN:Btn_AgendaDTV12:TITLE}" href="{BTN:Btn_AgendaDTV12:LINK}"> <span class="program" itemprop="summary">{BTN:Btn_AgendaDTV12:CAPTION}</span> <span class="channel">{BTN:Btn_AgendaDTV12:DESCRIPTION}</span>{EMPTY:END}</a></div>
        </li>  
		{EMPTY:END}			 
    </ul>
    <!-- END: contenido -->
    <!-- BEGIN:  navegacion -->
    <div class="nav">
       {NOTEMPTY:BTN:Btn_AgendaDTV7:ID}
        <a class="prev bginactive" title="Link Description" href="#">
        <span class="tvsa-caret-up dropdown-white"></span>
        </a> 
        <a class="next bgactive" title="Link Description" href="#">
        <span class="tvsa-caret-down dropdown-white"></span>
        </a> 
       {EMPTY:END}
		{NOTEMPTY:LBL:texto_boton:CAPTION}          
        <a class="full-timetable" href="{LBL:link_boton:CAPTION}"> <span>{LBL:texto_boton:CAPTION}</span> </a> 
		{EMPTY:END}            
    </div>       
    <!-- END:  navegacion -->
</div>