<style>
    div.countdown {
        {NOTEMPTY:LBL:urlBackground:CAPTION} 
            background:url({LBL:urlBackground:CAPTION}) no-repeat 3px -1px;
        {EMPTY:ELSE}    
            background:url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/bgContador.gif) no-repeat 3px -1px;
        {EMPTY:END}
    }
    div.countdown_row div {
        {NOTEMPTY:LBL:plecaColor:CAPTION} 
            border-right:1px dotted #{LBL:plecaColor:CAPTION};
        {EMPTY:ELSE}    
           border-right:1px dotted #AAAAAA;
        {EMPTY:END}
    }
</style>
<div itemscope itemtype="http://data-vocabulary.org/Event" class="countdown" data-anio="{LBL:anio:CAPTION}" data-mes="{LBL:mes:CAPTION}" data-dia="{LBL:dia:CAPTION}" data-hora="{LBL:hora:CAPTION}" data-minuto="{LBL:minuto:CAPTION}">
    <meta itemprop="summary" content="{LBL:evento:CAPTION}" />
    <meta itemprop="location" content="{LBL:lugar:CAPTION}" />
    <meta itemprop="description" content="{LBL:descripcion:CAPTION}" />
    <meta itemprop="startDate" content="{LBL:anio:CAPTION}-{LBL:mes:CAPTION}-{LBL:dia:CAPTION}T{LBL:hora:CAPTION}:{LBL:minuto:CAPTION}:00" />
    <span class="falta" 
{NOTEMPTY:LBL:colorTexto:CAPTION} 
    style="color:#{LBL:colorTexto:CAPTION};"   
{EMPTY:END}  
>{LBL:textoSuperior:CAPTION}</span>
    <div class="wrapper" 
{NOTEMPTY:LBL:colorContador:CAPTION} 
    style="color:#{LBL:colorContador:CAPTION};"   
{EMPTY:END} 
>
        <div class="countdown_row countdown_show4">
            <div>
                <span class="label">Días</span>
                <span id="countdown_dias" class="time countdown_amount">-</span>
            </div>
            <div>
                <span class="label">Horas</span>
                <span id="countdown_horas" class="time countdown_amount">-</span>
            </div>
            <div>
                <span class="label">Minutos</span>
                <span id="countdown_minutos" class="time countdown_amount">-</span>
            </div>
            <div>
                <span class="label">Segundos</span>
                <span id="countdown_segundos" class="time countdown_amount last">-</span>
            </div>
        </div>
    </div>
    <span class="inicio" 
{NOTEMPTY:LBL:colorTexto:CAPTION} 
    style="color:#{LBL:colorTexto:CAPTION};"   
{EMPTY:END} 
>{LBL:textoInferior:CAPTION}</span>
</div>