{NOTEMPTY:BAN:cubo300x250:SCRIPTS}
<div class="div_300x250">
	{BAN:cubo300x250:SCRIPTS}    
</div>
{EMPTY:ELSE}
<div class="div_300x250">
	<img src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/boxBanner.jpg">
</div>
{EMPTY:END}