<!-- 	{LBL:TITLE_SECTION:CAPTION} | {LBL:id_encuesta:CAPTION} 	-->
{NOTEMPTY:LBL:id_encuesta:CAPTION}
<div class="encuesta_sorteo">	
	{NOTEMPTY:LBL:TITLE_SECTION:CAPTION}
	<div class="titulo">{LBL:TITLE_SECTION:CAPTION}</div>
	<hr>
	{EMPTY:END}
<div class="esmas_safe_simple_poll_box" id="esmas_safe_simple_poll_box_{LBL:id_encuesta:CAPTION}">
</div>
</div>
{EMPTY:END}