<!-- 	{LBL:TITLE_SECTION:CAPTION} | {LBL:id_encuesta:CAPTION} 	-->
{NOTEMPTY:LBL:id_encuesta:CAPTION}
<!-- BEGIN: str_pleca_01 -->
	{NOTEMPTY:LBL:TITLE_SECTION:CAPTION}
    <div class="str_pleca_01">
        <div class="str_pleca_01_title">
            <h3 class="background-color-pleca1">
            	
                <a  title="Link Description" class="textcolor-title3">
                    {LBL:TITLE_SECTION:CAPTION}
                    <span class="str_pleca_01_arrowa selected"></span>
                    <span class="str_pleca_01_arrowb"></span>
                </a>
                
            </h3>
        </div>
    </div>
    {EMPTY:END}
    <!-- END: str_pleca_01 -->      
    
    <div class="esmas_safe_simple_poll_box" id="esmas_safe_simple_poll_box_{LBL:id_encuesta:CAPTION}"></div>
<!-- END: Encuesta -->
{EMPTY:END}