<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/global.css" media="screen">

<!--
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/btn_carru_prog_02_mobile.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/btn_carru_prog_02_tablet.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/btn_carru_prog_02.css" media="screen">
-->
<style type="text/css">
@media screen { /*START: carouseltypecarruse (Small)*/
   
   .btn_carru_prog_02 .typecarruse .carrusel .carrousa{
    width: 2562px;
    }

    .btn_carru_prog_02 {
        margin-bottom: 10px;
        overflow: hidden;
        width: 100%;
    }
    .btn_carru_prog_02 .title {
        margin:12px 0 12px 0;
    }
    .btn_carru_prog_02 .text_prin {
        position: absolute;
        z-index: 8;
        padding-left: 26px;
        width:150px;
        display:block;
        top:16px;

    }
  /*  .btn_carru_prog_02 .text_prin:hover {
    text-decoration: underline;
    }*/
    



    .btn_carru_prog_02 .text_prin hr {
       margin:10px 0 8px 0;
       padding:0;
       height:1px;
       border:0;
       background:#FFF;
       width:20px;
       opacity:.25;
    }
    
    .btn_carru_prog_02 .text_prin span.title {
       font-style:italic;
       font-size:20px;
       line-height:18px;
       font-weight: 100px !important;
    }

    .btn_carru_prog_02 .text_prin .line{
        width: 20px;
        height: 1px;
        border-bottom: 1px solid #FFF;
        margin:5px 0 10px 0;
    }
    
    .btn_carru_prog_02 .main .pleca {
        position: absolute;
        z-index: 30;
        width: 100%;
    }
    .btn_carru_prog_02 .typecarruse {
        overflow: hidden;
        height:132px;
        width: 100%;
    }
    .btn_carru_prog_02 .typecarruse div {
        width: 100%;
        height: auto;
    }
    .btn_carru_prog_02 .typecarruse div ul {
    }
    .btn_carru_prog_02 .typecarruse .title .flechas {
        display: none;
    }
    
    .btn_carru_prog_02 .typecarruse .title .flechas {
       text-align:right;
       margin:0;
       padding:0;
    }
    .btn_carru_prog_02 .typecarruse .title .flechas li {
        display:inline;
    }
    .btn_carru_prog_02 .typecarruse .title .flechas li a {
        display:inline;
        line-height:24px;
        
    }
    .btn_carru_prog_02 .typecarruse .title .flechas li a.left {
        padding-right:10px;
    }
    .btn_carru_prog_02 .typecarruse .title .flechas li a.right {
        padding-left:14px;
                border-left: thin dotted #8f8f8f;

    }
    
    .btn_carru_prog_02 .typecarruse .title .flechas li a.left,
    .btn_carru_prog_02 .typecarruse .title .flechas li a.right {
        float:none;
    }
    
    .btn_carru_prog_02 .typecarruse.showArrows .title ul li a
    
    .btn_carru_prog_02 .typecarruse div ul li {
    }
    .btn_carru_prog_02 .typecarruse div ul li a {
       vertical-align:top;
    }
    .btn_carru_prog_02 .typecarruse div ul li:first-child {
    }
    .btn_carru_prog_02 .typecarruse div ul li:last-child {
        background:url(../img/dotted-vertical.html) repeat-y 0 0;
        margin-right:0;
        width:300px;
    }
    .btn_carru_prog_02 .typecarruse.showArrows .title h1 {
        width: 50%;
    }
    .btn_carru_prog_02 .typecarruse.showArrows .title h1 a span.icon {
        display: none;
    }
    .btn_carru_prog_02 .typecarruse .carrusel {
        position: relative;
        overflow: hidden;
        margin-top:10px;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul {
        float: none;
        overflow:hidden;
        height:120px!important;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul:before,.btn_carru_prog_02 .typecarruse .carrusel ul:after
        {
        content: "";
        display: table;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul:after {
        clear: both;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul {
        zoom: 1;
        /* For IE 6/7 (trigger hasLayout) */
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul li {
        display:inline-block;
        float:left;
        width: 311px;
        height: 120px;
        border-right: 1px solid #CCC;
        margin-right:11px;
        position:relative;
    }
    .btn_carru_prog_02 .typecarruse .title .tvsa-double-caret-left{
        color:#BABABA;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul li:last-child {
        border-right: none;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul li span.title {
       margin:0;
       padding:0;
       display:block;
       margin-bottom: 15px;
       height: 36px;
    }
     .btn_carru_prog_02 .typecarruse .carrusel ul li span.title:hover {
        text-decoration: underline;
     }
    .btn_carru_prog_02 .typecarruse .carrusel ul li span.desc {
       display:block;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul li h2 {
        font-size: 13px;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul li h2 a {
        color: #232323;
        background: none;
        width: auto;
        height: auto;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul li .desc {
        font-style: italic;
        color: #FFF;
        font-size: 11px;
        font-weight: bold;
        padding-bottom: 4px;
        display: inline;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul li a {
        width: 300px;
        height: 120px;
        background: none;
        display: block;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul li a img.img {
        width: 300px;
        height: 120px;
        background-color: #666;
        position:absolute;
        left:0;
        top:0;
        z-index:1;
    }
   
    /*END: carouseltypecarruse (Small)*/
    .btn_carru_prog_02 div.title h3 {
        background-color: #A70A0B;
    }
    .btn_carru_prog_02 .typecarruse .title h3 a {
        text-decoration: none;
        color: #fff;
        height: 24px;
        display: block;
        padding: 5px 0 5px 22px;
        background: none;
        -webkit-background-size: 12px 12px;
        -moz-background-size: 12px 20px;
        -o-background-size: 12px 12px;
        background-size: 12px 20px;
    }
    .btn_carru_prog_02 .bullets {
        border-top:1px solid #CCC;
        display: block;
        width: 100%;
        margin-top: 12px;
    }
    .btn_carru_prog_02 #b_mobile ul{
        margin-right: 10px;
    }
    .btn_carru_prog_02 .bullets ul {
        width: 180px;
        float: right;
        margin-top: 5px;
    }
    .btn_carru_prog_02 .bullets ul li {
        width: 12px;
        height: 12px;
        background-color: #CCC;
        margin-left: 5px;
        float: right;
    }
    .btn_carru_prog_02 .bullets ul li.selected {
        background-color: #09C;
    }
    /*Style Contenido del div carrousel */
    .btn_carru_prog_02 div:last-child ul li {
       position:relative;
    }
    
    .btn_carru_prog_02 div:last-child ul li span.bg {
        background-color: #59a529;
        opacity: 0.8;
        filter: alpha(opacity = 80);
        width: 200px;
        height:120px;
        display:block;
        position:absolute;
        top:0;
        left:0;
        z-index:2;
    }

    .btn_carru_prog_02 div:last-child ul li a {
        color: #fff!important;
        display: block;
        height: 99.9%;
        position: relative;
        text-decoration: none;
        width: 100%;
    }
    .btn_carru_prog_02 div:last-child ul li {
        position: relative;
    }
    a {
        color: #232323;
        text-decoration: none;
    }
    .btn_carru_prog_02 div:first-child:before,.carouseltype2 div:first-child:after
        {
        content: "";
        display: table;
    }
    .btn_carru_prog_02 div:first-child:after {
        clear: both;
    }
    .btn_carru_prog_02 div:first-child:before,.carouseltype2 div:first-child:after
        {
        content: "";
        display: table;
    }
    .btn_carru_prog_02 div:last-child ul li a div:first-child {
        height: 120px;
        left: 0;
        position: absolute;
        top: 0;
        width: 66%;
        z-index: 10;
    }
    .btn_carru_prog_02 div:first-child {
        
    }
    .btn_carru_prog_02 div:last-child ul li a div:first-child span.title {
        font-size: 19px;
        font-style: italic;
        font-weight: normal;
        line-height: 16px;
        padding: 0 14px 0 0;
        top: 19px;
    }
    .btn_carru_prog_02 #b_tablet {
        display: none;
    }
    .btn_carru_prog_02 #b_mobile {
        display: block;
    }

    /*Dropdown*/
    .btn_carru_prog_02 .wdg_scroll_dropdown{
        width: 100%;
        height: auto;
        display: block;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown{
        height: 32px;
        font-size: 15px;
        font-weight: bold;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_tennisresult_01_pleca p{
        margin-left: 24px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_list {
        cursor: pointer;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_value{
        /*position: relative;*/
        float: left;
        margin-left: 24px;
        width: 78%;
        z-index: 1;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_tennisresult_01_click{
        /*position: relative;*/
        width: 37px;
        height: 40px;
        float: right;
        z-index: 200;
        top: 1px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_tennisresult_01_click span{
        margin-left: 14px;
        color: #ffffff;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events{
        width: 100%;
        margin-top:33px;
        position:absolute;
        clear: both;
        height: 0px;
        background-color: #d3d3d3;
        visibility: hidden;
        overflow: hidden;
        z-index:100;
    }
    .ie8 .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events,
    .ie7 .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events{
        margin-top:0px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events ul li{
        background-color: rgba(235,235,235,0.6);
        border-bottom: 1px solid #d3d3d3;
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.1);
        border-bottom: 1px solid #d3d3d3;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events ul li:hover{
        background-color: rgba(235,235,235,0.9);  
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events::-webkit-scrollbar-thumb {
        background: #d3d3d3;
        -webkit-border-radius: 1ex;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background: #f5f5f5;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events ul li p{
        padding-left: 24px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown > div{
        float: left;
        width: 100%;
        height: 40px;
        line-height: 35px;
    }
    .btn_carru_prog_02 .title{
         border:none;
         margin:0 0 12px;
     }
     .btn_carru_prog_02 .wdg_scroll_events{
        height: auto !important;
        max-height:100px !important;
     }
     .tvsa-double-caret-rigt{
       color:#fff!important;
     }
}

@media screen and (max-width:623px) {
    .btn_carru_prog_02 .typecarruse div ul li a {
        width: 15px;
        height: 9px;
        display: none;
        padding: 0;
    }
    
    .btn_carru_prog_02 .typecarruse div ul {
        width: 55px;
        margin: 0;
        float: right;
        padding-bottom: 8px;
    }
    .btn_carru_prog_02 .typecarruse.showArrows .title ul li a {
        display: block;
    }
    .btn_carru_prog_02 .text_prin span.title{
     
        font-weight: lighter;
    }
}
@media screen and (min-width: 624px){
    /* START: carouseltypecarruse (Medium) */
    .btn_carru_prog_02{
        margin-bottom:36px;
        width:624px;
        position: relative;
    }
    .btn_carru_prog_02 .title {
        /*margin:0 0 24px 0;*/
        margin:59px 0 24px;
    }
    .btn_carru_prog_02 .typecarruse{
        height:208px;
        position: relative;
        overflow:hidden;
    }
    .btn_carru_prog_02 .typecarruse ul {
      margin: 0 auto;
    }
    .btn_carru_prog_02 .typecarruse .carrusel ul {
      margin-top: 0;
    }
    .btn_carru_prog_02 div.title:before,
    .btn_carru_prog_02 div.title:after {
      content: "";
      display: table;
    }
    .btn_carru_prog_02 div.title:after {
      clear: both;
    }
    .btn_carru_prog_02 div.title {
      zoom: 1;
    }
    .btn_carru_prog_02 div.title h3 {
      width: 57%;
      max-width: 300px;
      float: left;
    }
    .btn_carru_prog_02 div.title h3 a {
      background-image: none !important;
    }
    .btn_carru_prog_02 div.title h3 a span.icon {
      display: none;
    }
   
    /*Dropdown*/
    .btn_carru_prog_02 .pleca{
        border-bottom: 1px solid #ccc;
        clear: both;
        position: relative;
        z-index:10;
        width:880px;
        float: left;

    }
    .btn_carru_prog_02 .wdg_scroll_dropdown{
        width: 624px;
        height: auto;
        display: block;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown{
        height: 32px;
        font-size: 15px;
        font-weight: bold;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_tennisresult_01_pleca p{
        margin-left: 24px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_list {
        cursor: pointer;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_value{
        /*position: relative;*/
        float: left;
        margin-left: 24px;
        width: 81%;
        z-index: 1;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_tennisresult_01_click{
        /*position: relative;*/
        width: 10%;
        height: 32px;
        float: right;
        z-index: 200;
        top: 0;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_tennisresult_01_click span{
        margin-left: 12px;
        color: #ffffff;
        display: inline-block;
        margin-top: 7px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events{
        width: 313px;
        margin-top:33px;
        position:absolute;
        clear: both;
        height: 0px;
        background-color: #d3d3d3;
        visibility: hidden;
        overflow: hidden;
        z-index:100;
    }
    .ie8 .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events,
    .ie7 .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events{
        margin-top:0px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events ul li{
        background-color: rgba(235,235,235,0.6);
        border-bottom: 1px solid #d3d3d3;
        box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.1);
        border-bottom: 1px solid #d3d3d3;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events ul li:hover{
        background-color: rgba(235,235,235,0.9);  
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events::-webkit-scrollbar-thumb {
        background: #d3d3d3;
        -webkit-border-radius: 1ex;
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background: #f5f5f5;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown .wdg_scroll_events ul li p{
        padding-left: 24px;
    }
    .btn_carru_prog_02 .wdg_scroll_dropdown > div{
        float: left;
        width: 50%;
        height: 32px;
        line-height: 32px;
    }
    .btn_carru_prog_02 div:first-child {
    }
    .btn_carru_prog_02 #b_tablet{
         display:block;
         overflow: hidden;
         width: 620px;
         position: relative;
         
    }
    .btn_carru_prog_02 .bullets ul{
        display: inline-block;
        position: relative;
        clear: both;
    }
    .btn_carru_prog_02 #b_mobile{
         display:none;
    }
    .btn_carru_prog_02 .text_prin span.title{
     
        font-weight: 100 !important;
    }
}

</style>

<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/btn_carru_prog_02.css" media="screen">

<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/colores.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/jquery.mobile-1.3.2.min.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-icons.css" media="screen">

<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/headjs.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.mobile-1.3.2.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.migrate.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.easing-1.3.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/modernizr.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/Televisa.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/global.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.corner.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.mb.miniPlayer.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jplayer_request.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.lightbox_me.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/swipeupdown.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/swipe2.js"></script>

<!--<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/btn_carru_prog_02.js"></script>-->

<script type="text/javascript">

$(document).ready(function() {
 
    (function ($, T) {
    /*Para version ie7*/
    
    var n_bullets_tablet = 0;
    var n_bullets_mobile = 0;
    var anchoTotalUL = $(".btn_carru_prog_02 .carrusel ul").width(); // 100%
    

    var bulletSelected;
    var scrollLeft;
    
    if ($.browser.msie && parseInt($.browser.version, 10) <= 7){
        var anchoVentna = document.body.offsetWidth;
    }
    else{
        var anchoVentna =  $(window).width();
    }

    //$('.btn_carru_prog_02 .typecarruse').css('margin-top', '-34px');
    /*Termina ie7*/ 
            var $m = $('.btn_carru_prog_02 .carrusel'),
                    animationDelay = 500;

            $m.each(function() {

                    var $items = $(this).find('ul li'),
                            padding = ($(this).parent().hasClass('type1c')) ? 41 : 0,
                            Pointer = {
                                    UP: (T.getIsTouchDevice()) ? 'touchend' : 'mouseup',
                                    DOWN: (T.getIsTouchDevice()) ? 'touchstart' : 'click'
                                    //DOWN: (T.getIsTouchDevice()) ? 'touchstart' : 'mousedown'  // Linea original
                            },
                            $parent = $(this);


                    /* adding new code block to get the width of the elements, 
                    along with left and right padding, border, and optionally margin,
                    in pixels. */
                        
                    var itemsLength = $items.length;
                    //var ulWidth = (itemsLength  * 137) + ((itemsLength - 1) * 25) + 5;
                    // Sacamos el ancho total del UL del carrusel
                    var anchoTotalUL = $(".btn_carru_prog_02 .carrusel ul").width(); // 100%
                    var elements = $(".btn_carru_prog_02 .carrusel li").size();
                    var ulWidth = (elements * 325) - 38;
                    
                    
                    
                    /*calculo número de bullets tablet*/
                    n_bullets_tablet = elements / 2;
                    n_bullets_tablet = Math.ceil(n_bullets_tablet);
                    n_bullets_tablet = n_bullets_tablet;
                    var lis = "";
                    for(n=0;n < n_bullets_tablet;n++){
                            if(n==0){
                                lis = "<li class='background-color1'></li>"+lis;
                            }
                            else{
                                lis = "<li></li>"+lis;
                            }
                            
                    }
                    $('.btn_carru_prog_02 #b_tablet').append("<ul>"+lis+"</ul>");
                    
                    /*calculo número de bullets mobile*/
                    n_bullets_mobile = elements;
                    var lis_m = "";
                    for(n=0;n < n_bullets_mobile;n++){
                            if(n==0)
                            {
                                lis_m = "<li class='background-color1'></li>"+lis_m;
                            }
                            else
                            {
                                lis_m = "<li></li>"+lis_m;
                            }
                        }
                    $('.btn_carru_prog_02 #b_mobile').append("<ul>"+lis_m+"</ul>");
                    
                    
                    
                    $(this).find('ul').width(ulWidth + padding);
                    
                    if (/iPhone|iPod|iPad/.test(navigator.userAgent) && // If it's an iPad, iPod or iPhone
                            !(/OS [2-4]_\d(_\d)? like Mac OS X/i.test(navigator.userAgent))) { // And the version of the OS is bigger than 4.x...
                            $(this).addClass('iOS');
                    } else {
                            // Touch devices (non-iOS or iOS < 5)
                            var isWinPhone = /Windows Phone/.test(navigator.userAgent);

                            if (T.getIsTouchDevice() && !T.isBlackBerryCurve()) {

                                    // Hide the arrows if it's not carouseltype1b
                                    if (!$(this).parent().hasClass('type1b')) {
                                            $(this).parent().find('div:first-child ul').hide();
                                    }

                                    $(this).bind('touchstart', function(e) {
                                            var clientX = e.originalEvent.changedTouches[0].clientX;

                                            $(this).attr('startX', clientX);
                                            $(this).attr('down', true);
                                            $(this).attr('scrollLeft', $(this).scrollLeft());
                                    });

                                    $(this).bind('touchend', function(e) {
                                            if ($(this).attr('active') === 'true') {
                                                    e.preventDefault();
                                                    e.stopPropagation();
                                                    // alert("Paso 3");
                                            }

                                            $(this).attr('active', false);
                                            $(this).attr('down', false);
                                    });

                                    $(this).bind('touchmove', function(e) {
                                            var clientX = e.originalEvent.changedTouches[0].clientX,
                                                    sx = $(this).attr('startX') >> 0,
                                                    ex = clientX;
                                        
                                            if (Math.abs(sx - ex) > 10) {
                                                    $(this).attr('active', true);
                                            }

                                            if ($(this).attr('active') === 'true') {
                                                    e.preventDefault();

                                                    $(this).scrollLeft(($(this).attr('scrollLeft') >> 0) + (sx - ex));
                                            }

                                            return false;
                                    });
                            } else {
                                    // Force the arrows to show up
                                    $(this).parent().addClass('showArrows');
                                
                            }
                    }

                    // Support the click event on arrows
                    $parent.parent().find('a.left').click(function(e) {
                        e.preventDefault();
                        $parent.animate({
                            'scrollLeft': $parent.scrollLeft() - $parent.width() - 21
                        }, animationDelay,"linear",function(){
                        /*Verifico posición del scroll*/ 
                        var large_tot = $(this).children().width();
                        var estoy = $(this).attr('class');
                        var position = $parent.scrollLeft();
                        var med = position + $parent.width();
                        //console.log('scroll: '+position+' med: '+med+' large_tot: '+large_tot+' estoy: '+estoy);
                        
                        if(position == 0)
                        {
                            $(this).siblings('.title').children().children().children().children().css('color', '#BABABA');
                        }
                        else
                        {
                            $(this).siblings('.title').children().children().children().children().css('color', '#000000');
                        }  
                        if(med == large_tot)
                        {
                            $(this).siblings('.title').children().children().siblings().children().children('.tvsa-double-caret-right').css('color', '#BABABA');
                        }
                        else
                        {
                            $(this).siblings('.title').children().children().siblings().children().children('.tvsa-double-caret-right').css('color', '#000000');
                        }
                    });  
                });

                $parent.parent().find('a.right').click(function(e) {
                    e.preventDefault();
                    $parent.animate({
                        'scrollLeft': $parent.scrollLeft() + $parent.width() + 21
                                    
                    }, animationDelay,"linear",function(){
                    /*Verifico posición del scroll*/ 
                    var large_tot2 = $(this).children().width();
                    var estoy2 = $(this).attr('class');
                    var position2 = $parent.scrollLeft();
                    var med2 = position2 + $parent.width();
                    //console.log('scroll: '+position2+' med: '+med2+' large_tot: '+large_tot2+' estoy: '+estoy2);
                    if(position2 == 0)
                        {
                            $(this).siblings('.title').children().children().children().children().css('color', '#BABABA');
                        }
                        else
                        {
                            $(this).siblings('.title').children().children().children().children().css('color', '#000000');
                        }  
                    if(med2 == large_tot2)
                        {
                            $(this).siblings('.title').children().children().siblings().children().children('.tvsa-double-caret-right').css('color', '#BABABA');
                        }
                        else
                        {
                            $(this).siblings('.title').children().children().siblings().children().children('.tvsa-double-caret-right').css('color', '#000000');
                        }
                    });  
                });
                
                /*Swipe*/
                //alert($parent.attr('class'));
            $parent.bind('swipeleft',function(){
                
                // TAblet
                if(anchoVentna > 624 && anchoVentna < 940)
                    scrollL = 646;
                // Movil
                else if(anchoVentna < 624)
                    scrollL  = 323;
                
                   $parent.animate({
                            'scrollLeft': $parent.scrollLeft() + scrollL
                    }, animationDelay,"linear",function(){
                        
                        /*Verifico posición del scroll*/ 
                        var large_tot2 = $(this).children().width();
                        var estoy2 = $(this).attr('class');
                        var position2 = $parent.scrollLeft();
                        var med2 = position2 + $parent.width();
                        //console.log('scroll: '+position2+' med: '+med2+' large_tot: '+large_tot2+' estoy: '+estoy2);
                        if(position2 == 0)
                            {
                                $(this).siblings('.title').children().children().children().children().css('color', '#BABABA');
                            }
                            else
                            {
                                $(this).siblings('.title').children().children().children().children().css('color', '#000000');
                            }  
                        if(med2 == large_tot2)
                            {
                                $(this).siblings('.title').children().children().siblings().children().children('.tvsa-double-caret-right').css('color', '#BABABA');
                            }
                            else
                            {
                                $(this).siblings('.title').children().children().siblings().children().children('.tvsa-double-caret-right').css('color', '#000000');
                            }
                    });     
            });
            $parent.bind('swiperight',function(){
                
                // TAblet
                if(anchoVentna > 624 && anchoVentna < 940)
                    scrollR = 646;
                else if(anchoVentna < 624)
                    scrollR  = 323;
                
                $parent.animate({
                    'scrollLeft': $parent.scrollLeft() - scrollR
                }, animationDelay,"linear",function(){
                    
                    
                    /*Verifico posición del scroll*/ 
                    var large_tot = $(this).children().width();
                    var estoy = $(this).attr('class');
                    var position = $parent.scrollLeft();
                    var med = position + $parent.width();
                    //console.log('scroll: '+position+' med: '+med+' large_tot: '+large_tot+' estoy: '+estoy);
                    if(position == 0)
                        {
                            $(this).siblings('.title').children().children().children().children().css('color', '#BABABA');
                        }
                        else
                        {
                            $(this).siblings('.title').children().children().children().children().css('color', '#000000');
                        }  
                    if(med == large_tot)
                        {
                            $(this).siblings('.title').children().children().siblings().children().children('.tvsa-double-caret-right').css('color', '#BABABA');
                        }
                        else
                        {
                            $(this).siblings('.title').children().children().siblings().children().children('.tvsa-double-caret-right').css('color', '#000000');
                        }
                    }); 
            }); 
                
                
        });
            
        /*Mobile change bullet*/

        /*Verificamos que bullet pintar*/
        $carrusel = $('.btn_carru_prog_02 .carrusel');
        $carrusel.scroll(function(e){
            
            e.preventDefault();
            
        scrollLeft = $(this).scrollLeft() + (anchoVentna/2.5) ;
        
        var porcentaje =  ( scrollLeft * 1000) / anchoTotalUL; 
        
        /*Mobile*/
        
        //armar estructura dinámica según número de bullets
        typem = n_bullets_mobile; 
        if(typem == 8)
        {
        if( scrollLeft < 250)
            bulletSelected = 8;
        else if( scrollLeft >= 251 && scrollLeft <= 540)
            bulletSelected = 7;
        else if( scrollLeft >= 541 && scrollLeft <= 890)
            bulletSelected = 6;
        else if( scrollLeft >= 891 && scrollLeft <= 1230)
            bulletSelected = 5;
        else if( scrollLeft >= 1231 && scrollLeft <= 1540)
            bulletSelected = 4;
        else if( scrollLeft >= 1541 && scrollLeft <= 1900)
            bulletSelected = 3;
        else if( scrollLeft >= 1901 && scrollLeft <= 2190)
            bulletSelected = 2;
        else if( scrollLeft >= 2191 && scrollLeft <= 2500)
            bulletSelected = 1;
        else if( scrollLeft >= 2501)
            bulletSelected = 1;
        }
        if(typem == 9)
        {
        if( scrollLeft < 250)
            bulletSelected = 9;
        else if( scrollLeft >= 251 && scrollLeft <= 540)
            bulletSelected = 8;
        else if( scrollLeft >= 541 && scrollLeft <= 890)
            bulletSelected = 7;
        else if( scrollLeft >= 891 && scrollLeft <= 1230)
            bulletSelected = 6;
        else if( scrollLeft >= 1231 && scrollLeft <= 1540)
            bulletSelected = 5;
        else if( scrollLeft >= 1541 && scrollLeft <= 1900)
            bulletSelected = 4;
        else if( scrollLeft >= 1901 && scrollLeft <= 2190)
            bulletSelected = 3;
        else if( scrollLeft >= 2191 && scrollLeft <= 2500)
            bulletSelected = 2;
        else if( scrollLeft >= 2501)
            bulletSelected = 1;
        }
        $('.btn_carru_prog_02 #b_mobile ul li').removeClass('background-color1');
        $(".btn_carru_prog_02 #b_mobile ul li:nth-child("+bulletSelected+")").addClass('background-color1')
            
            
        /*Tablet*/
        
        //armar estructura dinámica según número de bullets
        type = n_bullets_tablet%2; 
            if(type != 0)
            {
                type = n_bullets_tablet -1;
            }
            else
            {
                type = n_bullets_tablet;
            }
        //console.log("Cantidad de elementos: " + n_bullets_tablet +" Posición scroll" + scrollLeft + " type: " + type);
        if(type == 4)
        {
            if( scrollLeft < 625)
                bulletSelected_t = 4;
            else if( scrollLeft >= 626 && scrollLeft <= 1230)
                bulletSelected_t = 3;
            else if( scrollLeft >= 1231 && scrollLeft <= 1900)
                bulletSelected_t = 2;
            else if( scrollLeft >= 1901 && scrollLeft <= 2500)
                bulletSelected_t = 1;
            else if( scrollLeft >= 2501)
                bulletSelected_t = 1;
        }
        if(type == 5)
        {
            if( scrollLeft < 625)
                bulletSelected_t = 5;
            else if( scrollLeft >= 626 && scrollLeft <= 1230)
                bulletSelected_t = 4;
            else if( scrollLeft >= 1231 && scrollLeft <= 1900)
                bulletSelected_t = 3;
            else if( scrollLeft >= 1901 && scrollLeft <= 2500)
                bulletSelected_t = 2;
            else if( scrollLeft >= 2501)
                bulletSelected_t = 1;
        }
        $('.btn_carru_prog_02 #b_tablet ul li').removeClass('background-color1');
        $(".btn_carru_prog_02 #b_tablet ul li:nth-child("+bulletSelected_t+")").addClass('background-color1')
        
        });
        
            $('.btn_carru_prog_02 .wdg_scroll_events').bind('mouseleave', function(evt) {
            evt.preventDefault();
            var $listItems = $('.btn_carru_prog_02 .wdg_scroll_events');
            var visibilidad = $listItems.css('visibility');
            if ( visibilidad == 'visible' ) {
                $listItems.css({
                    visibility: 'hidden',
                    height: '0px'        
                });
            } 
        });
            
                $('.btn_carru_prog_02').bind('mouseleave', function(evt) {
            evt.preventDefault();
            var $listItems = $('.btn_carru_prog_02 .wdg_scroll_events');
            var visibilidad = $listItems.css('visibility');
            if ( visibilidad == 'visible' ) {
                $listItems.css({
                    visibility: 'hidden',
                    height: '0px'        
                });
            } 
        });
    }(jQuery, Televisa)); 
   
 });

</script>

<!--<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/cobertura_total.js"></script>-->

<script type="text/javascript">

$(document).ready(function(){

    $(".wdg_scroll_elements li").click(function(e){

        var template = $(this).attr("data-template");

        if($("#tmpl_"+template+"").val() != ""){
            $('ul.carrousa').fadeOut("slow",function(){

                $('.carrusel .carrousa').html($("#tmpl_"+template+"").val());

                if($('.carrusel .carrousa li').length < 4){
                    $('.carrusel .carrousa').width(948);
                    $('#flecha-right-programacion .tvsa-double-caret-right, #flecha-left-programacion .tvsa-double-caret-left').css('color', '#BABABA');
                }else{
                    $('.carrusel .carrousa').width(1917);
                    $('#flecha-right-programacion .tvsa-double-caret-right, #flecha-left-programacion .tvsa-double-caret-right').css('color', '#000000');
                }

                $('ul.carrousa').fadeIn("slow");

            });
        }else{
            //alert("No se ha cargado");
        }

    });

    var w_menu = $(".carrousa").width();
    var nw_menu = w_menu + 13;
    $(".carrousa").width(nw_menu);

    var nelem = $('.wdg_scroll_elements li').length;

    if(nelem == 1){
        $('.wdg_tennisresult_01_click').hide();
        $('.wdg_scroll_dropdown .wdg_scroll_list').unbind();
        $('.wdg_scroll_elements li:nth-child(1)').css("display","none");
        $('.wdg_scroll_list').css("cursor","default");
    }

    if($('.carrusel .carrousa li').length < 4){
        $('.carrusel .carrousa').width(948);
        $('#flecha-right-programacion .tvsa-double-caret-right, #flecha-left-programacion .tvsa-double-caret-left').css('color', '#BABABA');
    }else{
        $('.carrusel .carrousa').width(1917);
        $('#flecha-right-programacion .tvsa-double-caret-right, #flecha-left-programacion .tvsa-double-caret-right').css('color', '#000000');
    }

    $('.carrousa').fadeIn("slow");

    //$('.wdg_scroll_elements li').css("display","none");
    //$('.wdg_scroll_elements li:nth-child(1)').css("display","block");

    $('.wdg_scroll_elements li').each(function(idx,val){
        var tmpl = $(this).attr("data-template");
        if(idx != 0){
            $(this).css("display","none");
            $.ajax({ cache: false, data: {}, url: "programacion/"+tmpl+".php", })
                .done(function(data, textStatus, jqXHR){
                    $("#tmpl_"+tmpl).val(data);
                    $('.wdg_scroll_elements li:nth-child('+(idx+1)+')').css("display","block");
                });
        }else{
            $("#tmpl_"+tmpl).val($('.carrousa').html());
        }
    });

});

</script>

{NOTEMPTY:LBL:combo_td:CAPTION}<?php $combo =  "td";?>{EMPTY:END}
{NOTEMPTY:LBL:combo_humor:CAPTION}<?php $combo =  "humor";?>{EMPTY:END}
{NOTEMPTY:LBL:combo_la_jugada:CAPTION}<?php $combo =  "la_jugada";?>{EMPTY:END}
{NOTEMPTY:LBL:combo_gala_tv:CAPTION}<?php $combo =  "gala_tv";?>{EMPTY:END}
{NOTEMPTY:LBL:combo_canal_de_las_estrellas:CAPTION}<?php $combo = "canal_de_las_estrellas";?>{EMPTY:END}
{NOTEMPTY:LBL:combo_canal_5:CAPTION}<?php $combo = "canal_5";?>{EMPTY:END}

<input type="hidden" id="tmpl_canal_5" value=''>
<input type="hidden" id="tmpl_canal_de_las_estrellas" value=''>
<input type="hidden" id="tmpl_gala_tv" value=''>
<input type="hidden" id="tmpl_la_jugada" value=''>
<input type="hidden" id="tmpl_humor" value=''>
<input type="hidden" id="tmpl_td" value=''>

<!-- BEGIN: btn_carru_prog_02 -->
<div class="btn_carru_prog_02" data-enhance="false">
    <div class="pleca">
     <!-- BEGIN: wdg_scroll_dropdown -->
         <div class="wdg_scroll_dropdown">
            <div class="wdg_tennisresult_01_pleca background-color-pleca1">
                <p class="textcolor-title3">Cobertura Total</p>
            </div>
            <div class="wdg_scroll_list background-gradient-content2">
                <p class="wdg_scroll_value"></p>  
                <div class="wdg_tennisresult_01_click background-color-pleca1">
                    <span class="tvsa-caret-down"></span>
                </div>
                <div class="wdg_scroll_events">
                    <ul class="wdg_scroll_elements">
                        {NOTEMPTY:LBL:combo_canal_5:CAPTION}<li data-template="canal_5"><p>{LBL:combo_canal_5:CAPTION}</p></li>{EMPTY:END}
                        {NOTEMPTY:LBL:combo_canal_de_las_estrellas:CAPTION}<li data-template="canal_de_las_estrellas"><p>{LBL:combo_canal_de_las_estrellas:CAPTION}</p></li>{EMPTY:END}
                        {NOTEMPTY:LBL:combo_gala_tv:CAPTION}<li data-template="gala_tv"><p>{LBL:combo_gala_tv:CAPTION}</p></li>{EMPTY:END}
                        {NOTEMPTY:LBL:combo_la_jugada:CAPTION}<li data-template="la_jugada"><p>{LBL:combo_la_jugada:CAPTION}</p></li>{EMPTY:END}
                        {NOTEMPTY:LBL:combo_humor:CAPTION}<li data-template="humor"><p>{LBL:combo_humor:CAPTION}</p></li>{EMPTY:END}
                        {NOTEMPTY:LBL:combo_td:CAPTION}<li data-template="td"><p>{LBL:combo_td:CAPTION}</p></li>{EMPTY:END}
                    </ul>
                </div>
            </div>
        </div>
        <!-- END: wdg_scroll_dropdown -->
    </div>

    <div class="typecarruse">
        <!-- BEGIN:PLECA -->
        <div class="title">
            <ul class="flechas">
                <li>
                    <a id="flecha-left-programacion" href="#left" title="Link Description" class="left">
                        <i class="tvsa-double-caret-left"></i>
                    </a>
                </li>
                <li>
                    <a id="flecha-right-programacion" class="right" href="#right" title="Link Description">
                        <i class="tvsa-double-caret-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END:PLECA -->


        <div class="carrusel">
            <ul class="carrousa" style="display:none;">
                <?php

                switch($combo){
                    case 'canal_5':
                        include("programacion/canal_5.php");
                        break;
                    case 'canal_de_las_estrellas':
                        include("programacion/canal_de_las_estrellas.php");
                        break;
                    case 'gala_tv':
                        include("programacion/gala_tv.php");
                        break;
                    case 'la_jugada':
                        include("programacion/la_jugada.php");
                        break;
                    case 'humor':
                        include("programacion/humor.php");
                        break;
                    case 'td':
                        include("programacion/td.php");
                        break;
                }

                ?>
            </ul>  
        </div>

    </div>

    <div class="bullets" id="b_tablet"></div>
    <div class="bullets" id="b_mobile"></div>
</div>
<!-- END: btn_carru_prog_02 -->