<div class="footer_content">
    <div class="televisa">
    	<img width="33" height="21" alt="" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/minilogo_mobile.png" class="img-web">
    	<img width="30" height="18" alt="" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/minilogo_mobile.png" class="img-mobile">
    	<div class="contenido_responsive">
    		<span>Derechos reservados &copy; Televisa S.A. de C.V. 2013</span>
    		<br>
    		<span class="mobile_hidden">TELEVISA y el logotipo de TELEVISA son marcas registradas.</span>			
    	</div>
    </div>
    <div class="televisa-menu">
    	<div>
    		<nav>
    			<ul>
    				<li><a title="Anúnciate" href="http://www.esmas.com/showcase/">An&uacute;nciate</a></li>
    				<li><a title="Contáctanos" href="http://advertising.televisa.com/">Cont&aacute;ctanos</a></li>
    				<li><a title="Convenios del Usuario" href="http://www.esmas.com/conveniousuario">Convenios del Usuario</a></li>
    				<li><a title="Politicas de privacidad" href="http://www.esmas.com/politicaprivacidad" class="final-li">Politicas de privacidad</a></li>
    			</ul>
    		</nav>
    	</div>
    	<span>TELEVISA y el logotipo de TELEVISA son marcas registradas.</span>
    </div>
</div>