<!-- BEGIN: Carrusel -->
<div class="mix_carru_03 autoplay" data-enhance="false">  
    <div class="type2b2_02" data-time="4000">
        <article class="articleBigModule_02">
            <div class="galleryImages_02 swipe" id="mix_carru_03_swipe">
                    <ul class='swipe-wrap'>
                    {NOTEMPTY:ART:art1_stage:TITLE:editorial=YES}
                    <li class="active" id="foto_1">  
                        <a href="{ART:art1_stage:LINK}" title="Link Description"> 
                            <div class="resize">
                                <img src="{ART:art1_stage:RELATIONS:type=img,link}" width="624" height="468" alt="images description" />
                            </div>
                        </a>
                    </li>
                    {EMPTY:END}
                    {NOTEMPTY:ART:art2_stage:TITLE:editorial=YES}
                    <li id="foto_2"> 
                        <a href="{ART:art2_stage:LINK}" title="Link Description">
                            <div class="resize">
                                <img src="{ART:art2_stage:RELATIONS:type=img,link}" width="624" height="468" alt="images description" />
                            </div>
                        </a>
                    </li>
                    {EMPTY:END}
                    {NOTEMPTY:ART:art3_stage:TITLE:editorial=YES}
                    <li id="foto_3">
                        <a href="{ART:art3_stage:LINK}" title="Link Description">
                            <div class="resize">
                                <img src="{ART:art3_stage:RELATIONS:type=img,link}" width="624" height="468" alt="images description" />
                            </div>
                        </a>
                    </li>
                    {EMPTY:END}
                </ul>
                <span class="corner video"></span>
            </div>

            <div class="galleryCaption_02">
                <div class="bullets_02">
                    <ul>
                        <li id="bullet_0" class="background-color1"></li>
                        <li id="bullet_1"></li>
                        <li id="bullet_2"></li>
                    </ul>
                </div> 
                <div class="topic">
                    <a class="textcolor-title2" href="{ART:art1_stage:LINK}" title="Link Description">{ART:art1_stage:SUMMARY}</a>
                </div>
                <h2 class="caption">
                    <a href="{ART:art1_stage:LINK}" title="Link Description">
                        {ART:art1_stage:SUMMARYLONG}
                    </a>
                </h2>
            </div>
            <ul class="galleryThumbs">
                {NOTEMPTY:ART:art1_stage:TITLE:editorial=YES}
                <li class="active" id="thumb_0">
                    <a href="{ART:art1_stage:LINK}" data-position="1" data-image ="{ART:art1_stage:RELATIONS:type=img,link}" data-topic="{ART:art1_stage:SUMMARY}" data-urltopic="http://www.televisa.com/topic/2" data-title="{ART:art1_stage:SUMMARYLONG}" data-urltitle="http://www.televisa.com/article/1" data-type="video">
                        <!--[if IE]>
                        <img src="http://lorempixel.com/62/62/nature/1/"  width="62" height="62" alt="Image description"/>
                        <!endif] -->                        
                        <!--[if !IE]><!-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61">
                        <image  x="0" y="0" width="62" height="61" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{ART:art1_stage:RELATIONS:type=img,link}" />
                        <!--<![endif]-->
                      
	                    <span class="border"></span>
                    </a>
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:art2_stage:TITLE:editorial=YES}
                <li id="thumb_1">
                    <a href="{ART:art2_stage:LINK}" data-position="2" data-image="{ART:art2_stage:RELATIONS:type=img,link}" data-topic="{ART:art2_stage:SUMMARY}" data-urltopic="http://www.televisa.com/topic/2" data-title="{ART:art2_stage:SUMMARYLONG}" data-urltitle="http://www.televisa.com/article/2" data-type="photo">
                        <!--[if IE]>
                        <img src="http://lorempixel.com/62/62/nature/1/"  width="62" height="62" alt="Image description"/>
                        <!endif] -->                        
                        <!--[if !IE]><!-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61">
                        <image  x="0" y="0" width="62" height="61" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{ART:art2_stage:RELATIONS:type=img,link}" />
                        <!--<![endif]-->
                        <span class="border"></span>
                    </a>
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:art3_stage:TITLE:editorial=YES}
                <li id="thumb_2">  
                    <a href="{ART:art3_stage:LINK}" data-position="2" data-image="{ART:art3_stage:RELATIONS:type=img,link}" data-topic="{ART:art3_stage:SUMMARY}" data-urltopic="http://www.televisa.com/topic/3" data-title="{ART:art3_stage:SUMMARYLONG}" data-urltitle="http://www.televisa.com/article/3" data-type="photo">
                        <!--[if IE]>
                        <img src="http://lorempixel.com/62/62/nature/1/"  width="62" height="62" alt="Image description"/>
                        <!endif] -->                        
                        <!--[if !IE]><!-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61">
                        <image  x="0" y="0" width="62" height="61" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{ART:art3_stage:RELATIONS:type=img,link}" />
                        <!--<![endif]-->
                        <span class="border"></span>
                    </a>
                </li>
                {EMPTY:END}
            </ul>
        </article>
    </div> 
	
	<!--[if gte IE 9]><!-->
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61" id="mix_carru_03_svg">
    <defs>
        <filter id="grayscale">
        <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"/>
        </filter>
    </defs>
    </svg>
    <!--<![endif]-->
</div>