<div class="mix_carru_01b autoplay" data-enhance="false">  
    <div class="type2b2_02" data-time="4000">
        <article class="articleBigModule_02">
            <div class="galleryImages_02 swipe" id="mix_carru_01b_swipe">          
          <ul class='swipe-wrap'>
            {NOTEMPTY:ART:article_01:TITLE:editorial=YES}
              <li class="active" id="foto_1">  
                <a href="{ART:article_01:LINK}" title="{ART:article_01:TITLE:editorial=YES}"> 
                  <div class="resize"><img src="{ART:article_01:RELATIONS:type=img,link,width=624,height=350}" alt="{ART:article_01:TITLE:editorial=YES}"></div>
                </a>
              </li>
            {EMPTY:END}
            {NOTEMPTY:ART:article_02:TITLE:editorial=YES}
              <li class="active" id="foto_2">  
                
                <a href="{ART:article_02:LINK}" title="{ART:article_02:TITLE:editorial=YES}"> 
                  <div class="resize"><img src="{ART:article_02:RELATIONS:type=img,link,width=624,height=350}" alt="{ART:article_02:TITLE:editorial=YES}"></div>
                </a>
              </li>
            {EMPTY:END}
            {NOTEMPTY:ART:article_03:TITLE:editorial=YES}
              <li class="active" id="foto_3">  
                <a href="{ART:article_03:LINK}" title="{ART:article_03:TITLE:editorial=YES}"> 
                  <div class="resize"><img src="{ART:article_03:RELATIONS:type=img,link,width=624,height=350}" alt="{ART:article_03:TITLE:editorial=YES}"></div>
                </a>
              </li>
            {EMPTY:END}
            {NOTEMPTY:ART:article_04:TITLE:editorial=YES}
              <li class="active" id="foto_4">  
                <a href="{ART:article_04:LINK}" title="{ART:article_04:TITLE:editorial=YES}"> 
                  <div class="resize"><img src="{ART:article_04:RELATIONS:type=img,link,width=624,height=350}" alt="{ART:article_04:TITLE:editorial=YES}"></div>
                </a>
              </li>
            {EMPTY:END}
            {NOTEMPTY:ART:article_05:TITLE:editorial=YES}
              <li class="active" id="foto_5">  
                <a href="{ART:article_05:LINK}" title="{ART:article_05:TITLE:editorial=YES}"> 
                  <div class="resize"><img src="{ART:article_05:RELATIONS:type=img,link,width=624,height=350}" alt="{ART:article_05:TITLE:editorial=YES}"></div>
                </a>
              </li>
            {EMPTY:END}
            {NOTEMPTY:ART:article_06:TITLE:editorial=YES}
              <li class="active" id="foto_6">  
                <a href="{ART:article_06:LINK}" title="{ART:article_06:TITLE:editorial=YES}"> 
                  <div class="resize"><img src="{ART:article_06:RELATIONS:type=img,link,width=624,height=350}" alt="{ART:article_06:TITLE:editorial=YES}"></div>
                </a>
              </li>
            {EMPTY:END}
          </ul>
              <span class="corner video"></span>
        </div>
        

<div class="galleryCaption_02">
                    <div class="bullets_02">
                        <ul>
                            <li id="bullet_0" class="background-color1"></li>
                            <li id="bullet_1"></li>
                            <li id="bullet_2"></li>
                            <li id="bullet_3"></li>
                            <li id="bullet_4"></li>
                            <li id="bullet_5"></li>
                        </ul>
                    </div>
                    <div class="topic">
                        <a class="textcolor-title2" href="{ART:article_01:LINK}">{ART:article_01:SUMMARY}<!-- Internacional --></a>
                    </div>
                    <h2 class="caption">
                        <a href="{ART:article_01:LINK}">
                           {ART:article_01:SUMMARYLONG}<!--  Caption 1 La UCI-2 Chucho el grande, gran goleador del America!!!!! -->
                        </a>
                    </h2>
                </div> 

        <ul class="galleryThumbs">
          {NOTEMPTY:ART:article_01:TITLE:editorial=YES}
          <li class="active" id="thumb_0">
            <a href="{ART:article_01:LINK}" data-position="1" data-image ="{ART:article_01:RELATIONS:type=img,link,width=624,height=350}" data-topic="{ART:article_01:SUMMARY}" data-title="{ART:article_01:SUMMARYLONG}" data-urltitle="http://www.televisa.com/article/1" data-type="video">
              <!--[if IE]>
              <img src="http://lorempixel.com/62/62/nature/1/"  width="62" height="62" alt="Image description"/>
              <!endif] -->                        
              <!--[if !IE]><!-->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61">
              <image  x="0" y="0" width="62" height="61" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{ART:article_01:RELATIONS:type=img,link,width=62,height=61}" />
              <!--<![endif]-->
              <span class="border"></span>
            </a>
          </li>
          {EMPTY:END}
          {NOTEMPTY:ART:article_02:TITLE:editorial=YES}
          <li id="thumb_1">
            <a href="{ART:article_02:LINK}" data-position="2" data-image ="{ART:article_02:RELATIONS:type=img,link,width=624,height=350}" data-topic="{ART:article_02:SUMMARY}" data-title="{ART:article_02:SUMMARYLONG}" data-urltitle="http://www.televisa.com/article/1" data-type="video">
              <!--[if IE]>
              <img src="http://lorempixel.com/62/62/nature/1/"  width="62" height="62" alt="Image description"/>
              <!endif] -->                        
              <!--[if !IE]><!-->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61">
              <image  x="0" y="0" width="62" height="61" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{ART:article_02:RELATIONS:type=img,link,width=62,height=61}" />
              <!--<![endif]-->
              <span class="border"></span>
            </a>
          </li>
          {EMPTY:END}
          {NOTEMPTY:ART:article_03:TITLE:editorial=YES}
          <li id="thumb_2">
            <a href="{ART:article_03:LINK}" data-position="3" data-image ="{ART:article_03:RELATIONS:type=img,link,width=624,height=350}" data-topic="{ART:article_03:SUMMARY}" data-title="{ART:article_03:SUMMARYLONG}" data-urltitle="http://www.televisa.com/article/1" data-type="video">
              <!--[if IE]>
              <img src="http://lorempixel.com/62/62/nature/1/"  width="62" height="62" alt="Image description"/>
              <!endif] -->                        
              <!--[if !IE]><!-->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61">
              <image  x="0" y="0" width="62" height="61" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{ART:article_03:RELATIONS:type=img,link,width=62,height=61}" />
              <!--<![endif]-->
              <span class="border"></span>
            </a>
          </li>
          {EMPTY:END}
          {NOTEMPTY:ART:article_04:TITLE:editorial=YES}
          <li id="thumb_3">
            <a href="{ART:article_04:LINK}" data-position="4" data-image ="{ART:article_04:RELATIONS:type=img,link,width=624,height=350}" data-topic="{ART:article_04:SUMMARY}" data-title="{ART:article_04:SUMMARYLONG}" data-urltitle="http://www.televisa.com/article/1" data-type="video">
              <!--[if IE]>
              <img src="http://lorempixel.com/62/62/nature/1/"  width="62" height="62" alt="Image description"/>
              <!endif] -->                        
              <!--[if !IE]><!-->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61">
              <image  x="0" y="0" width="62" height="61" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{ART:article_04:RELATIONS:type=img,link,width=62,height=61}" />
              <!--<![endif]-->
              <span class="border"></span>
            </a>
          </li>
          {EMPTY:END}
          {NOTEMPTY:ART:article_05:TITLE:editorial=YES}
          <li id="thumb_4">
            <a href="{ART:article_05:LINK}" data-position="5" data-image ="{ART:article_05:RELATIONS:type=img,link,width=624,height=350}" data-topic="{ART:article_05:SUMMARY}" data-title="{ART:article_05:SUMMARYLONG}" data-urltitle="http://www.televisa.com/article/1" data-type="video">
              <!--[if IE]>
              <img src="http://lorempixel.com/62/62/nature/1/"  width="62" height="62" alt="Image description"/>
              <!endif] -->                        
              <!--[if !IE]><!-->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61">
              <image  x="0" y="0" width="62" height="61" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{ART:article_05:RELATIONS:type=img,link,width=62,height=61}" />
              <!--<![endif]-->
              <span class="border"></span>
            </a>
          </li>
          {EMPTY:END}
          {NOTEMPTY:ART:article_06:TITLE:editorial=YES}
          <li id="thumb_5">
            <a href="{ART:article_06:LINK}" data-position="6" data-image ="{ART:article_06:RELATIONS:type=img,link,width=624,height=350}" data-topic="{ART:article_06:SUMMARY}" data-title="{ART:article_06:SUMMARYLONG}" data-urltitle="http://www.televisa.com/article/1" data-type="video">
              <!--[if IE]>
              <img src="http://lorempixel.com/62/62/nature/1/"  width="62" height="62" alt="Image description"/>
              <!endif] -->                        
              <!--[if !IE]><!-->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61">
              <image  x="0" y="0" width="62" height="61" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{ART:article_06:RELATIONS:type=img,link,width=62,height=61}" />
              <!--<![endif]-->
              <span class="border"></span>
            </a>
          </li>
          {EMPTY:END}
          
        </ul>

        
      </article>
    </div> 
  
 <!--[if gte IE 9]><!-->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 61" width="62" height="61" id="mix_carru_01_svg">
        <defs>
           <filter id="grayscale">
           <feColorMatrix type="matrix" values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"/>
           </filter>
        </defs>
    </svg>
    <!--<![endif]-->

</div>