<script>


function galeriaMobile(){

	if($(window).width() < 500){
	$("#carrusel2_ul li").each(function(index, el) {		
		 $(this).find('a').removeAttr('target');
		 var actFoto = $(this).find('a').attr('href');
		 var resClic = actFoto.split("?embed=true&nostats=true");
		 $(this).find('a').attr('href',resClic[0]);	
	});
	}
}
$(function() {
	galeriaMobile();

$(window).resize(function(){
	galeriaMobile();
});
});




</script>

<!-- {LBL:title_section:CAPTION} -->
{NOTEMPTY:LBL:title_section:CAPTION}
<div class="str_pleca_01 add_padding">
    <ul>
        <li class="homeGal">
            <a title="{LBL:title_section:CAPTION}" class="azul">{LBL:title_section:CAPTION}</a>                             
        </li>
        <li class="line homeGal"></li> 
    </ul>                         
</div>
{EMPTY:END}

<?php
    $urlSufix = "/?embed=true&nostats=true";
?>
<div class="img_galry_01 add_padding" data-current="0" data-enhance="false">
    {NOTEMPTY:GAL:galeria_1:LINK}
        <div class="image-container">
            <iframe name="galembed" scrolling="no" width="624" src="{GAL:galeria_1:LINK}<?=$urlSufix?>" height="520" frameborder="0"></iframe>
        </div>
        {EMPTY:END}
        <div class="gallery-controls">          

            <div class="type1a_ carrusel2">
                <div class="arrowLeft"><a href="#left" class="left" title="Link Description"><i class="tvsa-double-caret-left inactive"></i></a></div>
                <div class="arrowRight"><a href="#right" class="right" title="Link Description"><i class="tvsa-double-caret-right"></i></a></div>
                <div class="carruselcontainer">
                    <ul id="carrusel2_ul" class="ulcarrusel">
                        {NOTEMPTY:GAL:galeria_1:TITLE}
                        <li>
                            <a target="galembed" href="{GAL:galeria_1:LINK}<?=$urlSufix?>" title="{GAL:galeria_1:TITLE}" class="album active" data-pos="0">
                                <img src="{GAL:galeria_1:IMAGE}" alt="{GAL:galeria_1:TITLE}" width="136" height="103">
                                <span class="icon"><i class="tvsa-camera"></i></span>
                                <span class="overlay"><i class="tvsa-images tvsa-4x"></i></span>
                                <span class="description">
                                    <span class="title">{GAL:galeria_1:TITLE}</span>
                                </span>
                            </a>
                        </li>
                        {EMPTY:END}
                        {NOTEMPTY:GAL:galeria_2:TITLE}
                        <li>
                            <a target="galembed" href="{GAL:galeria_2:LINK}<?=$urlSufix?>" title="{GAL:galeria_2:TITLE}" class="album" data-pos="1">
                                <img src="{GAL:galeria_2:IMAGE}" alt="{GAL:galeria_2:TITLE}" width="136" height="103">
                                <span class="icon"><i class="tvsa-camera"></i></span>
                                <span class="overlay"><i class="tvsa-images tvsa-4x"></i></span>
                                <span class="description">
                                    <span class="title">{GAL:galeria_2:TITLE}</span>
                                </span>
                            </a>
                        </li>
                        {EMPTY:END}
                        {NOTEMPTY:GAL:galeria_3:TITLE}
                        <li>
                            <a target="galembed" href="{GAL:galeria_3:LINK}<?=$urlSufix?>" title="{GAL:galeria_3:TITLE}" class="album" data-pos="2">
                                <img src="{GAL:galeria_3:IMAGE}" alt="{GAL:galeria_3:TITLE}" width="136" height="103">
                                <span class="icon"><i class="tvsa-camera"></i></span>
                                <span class="overlay"><i class="tvsa-images tvsa-4x"></i></span>
                                <span class="description">
                                    <span class="title">{GAL:galeria_3:TITLE}</span>
                                </span>
                            </a>
                        </li>
                        {EMPTY:END}
                        {NOTEMPTY:GAL:galeria_4:TITLE}
                        <li>
                            <a target="galembed" href="{GAL:galeria_4:LINK}<?=$urlSufix?>" title="{GAL:galeria_4:TITLE}" class="album" data-pos="3">
                                <img src="{GAL:galeria_4:IMAGE}" alt="{GAL:galeria_4:TITLE}" width="136" height="103">
                                <span class="icon"><i class="tvsa-camera"></i></span>
                                <span class="overlay"><i class="tvsa-images tvsa-4x"></i></span>
                                <span class="description">
                                    <span class="title">{GAL:galeria_4:TITLE}</span>
                                </span>
                            </a>
                        </li>
                        {EMPTY:END}
                        {NOTEMPTY:GAL:galeria_5:TITLE}
                        <li>
                            <a target="galembed" href="{GAL:galeria_5:LINK}<?=$urlSufix?>" title="{GAL:galeria_5:TITLE}" class="album" data-pos="4">
                                <img src="{GAL:galeria_5:IMAGE}" alt="{GAL:galeria_5:TITLE}" width="136" height="103">
                                <span class="icon"><i class="tvsa-camera"></i></span>
                                <span class="overlay"><i class="tvsa-images tvsa-4x"></i></span>
                                <span class="description">
                                    <span class="title">{GAL:galeria_5:TITLE}</span>
                                </span>
                            </a>
                        </li>
                        {EMPTY:END}
                        {NOTEMPTY:GAL:galeria_6:TITLE}
                        <li>
                            <a target="galembed" href="{GAL:galeria_6:LINK}<?=$urlSufix?>" title="{GAL:galeria_6:TITLE}" class="album" data-pos="5">
                                <img src="{GAL:galeria_6:IMAGE}" alt="{GAL:galeria_6:TITLE}" width="136" height="103">
                                <span class="icon"><i class="tvsa-camera"></i></span>
                                <span class="overlay"><i class="tvsa-images tvsa-4x"></i></span>
                                <span class="description">
                                    <span class="title">{GAL:galeria_6:TITLE}</span>
                                </span>
                            </a>
                        </li>
                        {EMPTY:END}                     
                    </ul>
                </div>
                <div class="degradado"></div> 
            </div>
        </div>        
      
    </div>