<?php
	function giveMeTag($original){
		$ex = explode("</a>", $original);
		$ex2 = explode(">", $ex[0]);
		echo $ex2[1];
	}
?>
{NOTEMPTY:LBL:title_section:CAPTION}
<div class="str_pleca_01">
	<ul>
		<li>
			<a title="{LBL:title_section:CAPTION}" class="azul">{LBL:title_section:CAPTION}</a>
		</li>
		<li class="line"></li>
	</ul>
</div>
{EMPTY:END}
<div class="mix_4arts_05" data-enhance="false">
	<div class="contenedor">	
	{NOTEMPTY:ART:article_1:TITLE:EDITORIAL=yes}	
		<div class="mix_1arts_03" data-enhance="false">
			<div class="type2b">
				<article class="articleBigModule">
					<a href="{ART:article_1:LINK}">
						<div class="resize">
							<img src="{ART:article_1:RELATIONS:type=img,link,width=408,height=306}" alt="{ART:article_1:TITLE:EDITORIAL=yes}">
							<span class="sprite"></span>
						</div>
					</a>
					<div class="floatRight">
						<a class="category" href="{ART:article_1:LINK}"><?=giveMeTag($article_1->tags());?></a>
						<a href="{ART:article_1:LINK}" title="Link Description">
							<h3>{ART:article_1:TITLE:EDITORIAL=yes}</h3>
							<p class="desc">
								{ART:article_1:SUMMARY}
							</p>
						</a>
					</div>
				</article>
			</div>
		</div>
		{EMPTY:END}
		

		<div class="mix_3arts_02">
		{NOTEMPTY:ART:article_2:TITLE:EDITORIAL=yes}
			<div class="mix_3arts_02_first">				
				<div class="mix_1arts_09">
					<div>
						<ul class="mix_1arts_09_thumb">							
							<li>
								<a href="{ART:article_2:LINK}" title="{ART:article_2:TITLE:EDITORIAL=yes}">
									<div class="imgWrapper">
										<img src="{ART:article_2:RELATIONS:type=img,link,width=167,height=94}" alt="{ART:article_2:TITLE:EDITORIAL=yes}"></div>
									<div class="lineseparator"></div>
									<span class="mix_1arts_09_sprite"></span>
									 <strong class="category"><?=giveMeTag($article_2->tags());?></strong>
									<h3>
										{ART:article_2:TITLE:EDITORIAL=yes}
									</h3> <i class="icon tvsa-caret-right"></i>
								</a>
							</li>							
						</ul>
					</div>
				</div>				
			</div>
			{EMPTY:END}
			{NOTEMPTY:ART:article_3:TITLE:EDITORIAL=yes}
			<div class="mix_3arts_02_middle">
				<div class="mix_1arts_09">
					<div>
						<ul class="mix_1arts_09_thumb">
							<li>
								<a href="{ART:article_3:LINK}" title="{ART:article_3:TITLE:EDITORIAL=yes}">
									<div class="imgWrapper">
										<img src="{ART:article_3:RELATIONS:type=img,link,width=167,height=94}" alt="{ART:article_3:TITLE:EDITORIAL=yes}"></div>
									<div class="lineseparator"></div>
									<span class="mix_1arts_09_sprite"></span>
									<strong class="category"><?=giveMeTag($article_3->tags());?></strong>
									<h3>{ART:article_3:TITLE:EDITORIAL=yes}</h3> <i class="icon tvsa-caret-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			{EMPTY:END}
			{NOTEMPTY:ART:article_4:TITLE:EDITORIAL=yes}
			<div class="mix_3arts_02_last">
				<div class="mix_1arts_09">
					<div>
						<ul class="mix_1arts_09_thumb">
							<li>
								<a href="{ART:article_4:LINK}" title="{ART:article_4:TITLE:EDITORIAL=yes}">
									<div class="imgWrapper">
										<img src="{ART:article_4:RELATIONS:type=img,link,width=167,height=94}" alt="{ART:article_4:TITLE:EDITORIAL=yes}"></div>
									<div class="lineseparator"></div>
									<span class="mix_1arts_09_sprite"></span>
									<strong class="category"><?=giveMeTag($article_4->tags());?></strong>
									<h3>{ART:article_4:TITLE:EDITORIAL=yes}</h3>
									<i class="icon tvsa-caret-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			{EMPTY:END}

			<div class="clearBoth"></div>
		</div>
	</div>
</div>