<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/global.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/colores.css" />
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/btn_progr_03.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/btn_progr_03_mobile.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/btn_progr_03_tablet.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01_mobile.css" media="screen">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01_tablet.css" media="screen">

<!-- BEGIN: LIVENOW -->
<div class="btn_progr_03" data-enhance="false">

	<!-- BEGIN: str_pleca -->
    <div class="str_pleca_01">
        <div class="str_pleca_01_title">
            <strong class="background-color-pleca1">
                <a target="_self" title="Link Description" class="textcolor-title3">
                    {LBL:modulo_titulo:CAPTION}
                    <span class="str_pleca_01_arrowa selected"></span>
                    <span class="str_pleca_01_arrowb"></span>
                </a>
            </strong>
        </div>
    </div>
    <!-- END: str_pleca -->    
    <div class="envivo" itemscope itemtype="http://data-vocabulary.org/Event">
    
        <img itemprop="photo" src="{BTN:moduloenvivo_content:IMAGE}" alt="{BTN:moduloenvivo_content:TITLE}"/>
        <div class="back_overlay"></div>
        
        <div class="envivo_content">
            <a itemprop="url" href="{BTN:moduloenvivo_content:LINK}" title="{BTN:moduloenvivo_content:LINK}}">
                <h2 itemprop="summary">
                    <!--<span class="equipo1"> {BTN:moduloenvivo_content:CAPTION} </span>-->
                   
                    <span class="equipo1">{LBL:contenido_linea1:CAPTION}</span>
                    <span class="vs" style=" top:58px;">{LBL:contenido_linea2a:CAPTION}</span>
                	<span class="equipo2">{LBL:contenido_linea2b:CAPTION}</span>
                   
                </h2>
                <div class="line"></div>
                <p class="line_p">{BTN:moduloenvivo_pleca:CAPTION}</p>
                <time class="hidden" itemprop="startDate" datetime="{LBL:fecha_formatoISO:CAPTION}">{LBL:fecha_formatohumano:CAPTION}</time>
                <div  class="channelImg">
                	<img alt="{BTN:moduloenvivo_pleca:TITLE}" src="{BTN:moduloenvivo_pleca:IMAGE}" class="channelImg">
                </div>
                <i class="tvsa-double-caret-right"></i>
            </a>
        </div>
    </div>
</div>