<div class="div_minutoxminuto_vacio">
    <div class="letras_minuto">
        <p class="letras_minuto_cobertura">
            No te pierdas la cobertura Minuto a Minuto
        </p>
        <p class="letras_minuto_brasil">
            Sorteo Final para Brasil 2014
        </p>
        <p class="letras_minuto_fecha">
            {LBL:FechaEvento:CAPTION}<br>{LBL:HoraEvento:CAPTION} hora local
        </p>
    </div>
    <div class="bigclock">
        <img width="186" height="186" alt="bigclock" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/bigclock.png">
    </div>
</div>   
<!-- Carga acciones del Minuto a Minuto -->
<div class="wdg_mxm_live_02">
    <div class="azul"><h3>{LBL:MXMTitulo:CAPTION}</h3><p>&nbsp;</p></div>
    <div class="scroll">
        <div class="wdg_mxm_live_02_status">
            <ul class="wdg_mxm_live_02_list"><!-- Aquí se cargan las acciones de forma dinámica--></ul>
        </div>
    </div>
    <!--Scroll-->    
</div>
<!-- Termina carga de acciones del minuto a minuto-->