<div class="c1">
            <div class="c1_1">
<div class="art_title_01" data-enhance="false">
    <div class="art_title_01_title">
        <p>
            <a href="#" title="Link description">
                {NOTEMPTY:ART:article:AUTHORLINK}<span class="art_info">Por: {ART:article:AUTHORLINK}</span>{EMPTY:END}
                {NOTEMPTY:ART:article:SOURCE}<span class="art_info">Fuente: {ART:article:SOURCE}</span>{EMPTY:END}
                {NOTEMPTY:ART:article:CREATION}<span class="art_info">{ART:article:CREATION}</span>{EMPTY:END}
            </a>
        </p>
        <h1><a  title="{ART:article:TITLE:EDITORIAL=yes} ">{ART:article:TITLE:EDITORIAL=yes} </a></h1>
    </div>
</div>
            </div>
                    <div class="c1_2 left">
                               
<div class="art_reltd_01">
    <div class="art_reltd_01_title">
        <h5>
            <a class="art_reltd_01_blue ui-link" href="#" title="Link description">
                <span>Temas Relacionados</span>                 
            </a>
            <a class="art_reltd_01_black ui-link">
                <span>{NOTEMPTY:ART:article:TAGS:www.televisadeportes.com/tags}{ART:article:TAGS:www.televisadeportes.com/tags}{EMPTY:END}</span>
            </a>
        </h5>
    </div>
</div>

                    </div>
                    <div class="c1_3 left">
<div class="wdg_social_01" data-enhance="false">
    <div id="widgetSocialShare"></div>
</div>  
                    </div>

             {NOTEMPTY:ART:article:RELATIONS:type=vid,id}
                <div class="c1_6 hide-mobile">
                    <div class="vid_player_01">
                        <div class="vid_player_01_image">
                            <img src="{ART:article:RELATIONS:type=img,link,width=624,height=350}" alt="{ART:article:RELATIONS:type=vid,TITLE}" id="img_stage_01_IMG">
                            
                            <div style="display:none;" id="playerTIMMxM"></div>
                            
                        </div>
                        
                            
                        <a href="#" class="btn square ui-link" id="TIMplayerMxM" data-id="{ART:article:RELATIONS:type=vid,id}">
                            <i class="tvsa-play" id="videobtn"></i> 
                        </a>
                        <div class="vid_player_01_whtbkg"> 
                            <p class="vid_player_01_black">{ART:article:RELATIONS:type=vid,TITLE}</p> 
                        </div> 
                    </div>
                </div>
             {EMPTY:ELSE}
             {NOTEMPTY:ART:article:RELATIONS:type=gal,link}
            <!-- <div class="c1_4"><div class="img_galry_04" data-enhance="false" data-album="0" data-image="0">
                 <iframe class="MundialVideoPhotoPlayer" width="100%" height="100%" frameborder="0" scrolling="no" src="{ART:article:RELATIONS:type=gal,link}/?embed=true&nostats=true"></iframe>
            </div></div> -->
            <div class="c1_4"><div class="img_galry_04" data-enhance="false" data-album="0" data-image="0">
                 <iframe class="MundialVideoPhotoPlayer" width="100%" height="100%" frameborder="0" scrolling="no" src="http://televisadeportes.esmas.com/copa-mundial-fifa-brasil-2014/fotogalerias/xherdan-shaqiri/58558/?embed=true&nostats=true"></iframe>
            </div>
        <blockquote class="art_bullet_01 dotted-bottom"  data-enhance="false">
            <a>{ART:article:RELATIONS:type=gal,SUMMARY}</a>
        </blockquote>
        </div>
            {EMPTY:ELSE}
            {NOTEMPTY:ART:article:RELATIONS:type=img,link,width=624,height=350}
             <div class="c1_6 hide-mobile">
                    <div class="vid_player_01">
                        <div class="vid_player_01_image">
                            <img src="{ART:article:RELATIONS:type=img,link,width=624,height=350}" id="img_stage_01_IMG">
                        </div>
                    </div>
                </div>
            {EMPTY:END}
            {EMPTY:END}
            {EMPTY:END}


            <div class="c1_5">
                <div class="art_note_01">
                     {ART:ARTICLE:CONTENT}
                 
                </div>
            </div>
    
            <?php if($article->relations("type=vid,id")!== ""){   ?>
             {NOTEMPTY:ART:article:RELATIONS:type={},link}
            <!-- <div class="c1_4"><div class="img_galry_04" data-enhance="false" data-album="0" data-image="0">
                 <iframe class="MundialVideoPhotoPlayer" width="100%" height="100%" frameborder="0" scrolling="no" src="{ART:article:RELATIONS:type=gal,link}/?embed=true&nostats=true"></iframe>
            </div></div> -->
            <div class="c1_4"><div class="img_galry_04" data-enhance="false" data-album="0" data-image="0">
                 <iframe class="MundialVideoPhotoPlayer" width="100%" height="100%" frameborder="0" scrolling="no" src="http://televisadeportes.esmas.com/copa-mundial-fifa-brasil-2014/fotogalerias/xherdan-shaqiri/58558/?embed=true&nostats=true"></iframe>
            </div>
             <blockquote class="art_bullet_01 dotted-bottom"  data-enhance="false">
            <a>{ART:article:RELATIONS:type=gal,SUMMARY}</a>
        </blockquote>
        </div>
            {EMPTY:END}
         <?php } ?>
            
            
            <div class="c1_8">
   
            </div>
        </div>