<?php   #   Developer : viveros     ::   1.2.1             ?>



<script>
var config_mailing = {
    msgs:{
        "title"         : "{LBL:title_section:CAPTION}",
        "text"          : "{LBL:description_section:CAPTION}",
        "button_text"   : "{LBL:text_button:CAPTION}",
        "thanks_text"   : "{LBL:thanks_text:CAPTION}",
        "input_text"    : "{LBL:input_text:CAPTION}"
    },
    templates: {
    "form"      :   '<form method="post" action="{'+'server'+'}" target="social_mailing" name="mailing-form-post" id="mailing-form-post" onsubmit="return mailing.validate(this);">'
                    +'<div class="encabezado">'
                    +'<div class="title">{'+'title'+'}</div>'
                    +'<hr>'
                    +'</div>'
                    +'<ul>'
                    +'<li class="mensaje"> <img src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/newsletter_email.png">'
                    +'<div>{'+'text'+'}</div></li>'
                    +'<li class="option">'
                    +'<img src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/newsletter_blackmail.png">'
                    +'<input type="text" name="email" id="esubscrib" value="{'+'input_text'+'}" onfocus="mailing.cleaninput(this)" onblur="mailing.cleaninput(this,0)">'
                    +'</li></ul>'
                    +'<input type="submit" id="suscrib" value="{'+'button_text'+'}">'
                    +'</form>',
    "working"   :   '<div class="encabezado">'
                    +'<div class="title">{'+'title'+'}</div>'
                    +'<hr>'
                    +'</div>'
                    +'<ul>'
                    +'<li class="mensaje"> <img src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/newsletter_email.png">'
                    +'<div>{'+'working_msg'+'}</div></li></ul>',
    "thanks"    :   '<div class="encabezado">'
                    +'<div class="title">{'+'title'+'}</div>'
                    +'<hr>'
                    +'</div>'
                    +'<ul>'
                    +'<li class="mensaje"> <img src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/newsletter_email.png">'
                    +'<div>{'+'thanks_text'+'}</div></li></ul>'                    

    }
};
</script>


<a name="mailing"></a>
<div class="newsletter" id="mailing"> </div>