<script type="text/javascript" src="http://comentarios.esmas.com/mailing/js/mailing.js"></script>

<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/file.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/newsletter.js"></script>

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/global.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/colores.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/jquery.mobile-1.3.2.min.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-icons.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01_mobile.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01_tablet.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01.css" media="all">

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/file.css" media="all">

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_newsletter.css">

<script type="text/javascript">

var config_mailing = {
    msgs:{
        "title"         : "{LBL:title_section:CAPTION}",
        "text"          : "{LBL:description_section:CAPTION}",
        "button_text"   : "{LBL:text_button:CAPTION}",
        "thanks_text"   : "{LBL:thanks_text:CAPTION}",
        "input_text"    : "{LBL:input_text:CAPTION}"
    },
    templates: {
    "form"      :   '<form method="post" action="{'+'server'+'}" target="social_mailing" name="mailing-form-post" id="mailing-form-post" onsubmit="return mailing.validate(this);">'
                    +'<div class="wdg_nwslt_01" data-enhance="false">'
                    +'    <div class="str_pleca_01">'
                    +'        <div class="str_pleca_01_title">'
                    +'            <h3 class="background-color-pleca1">'
                    +'                <a class="textcolor-title3"  title="Link Description">'
                    +'                    {'+'title'+'}'
                    +'                    <span class="str_pleca_01_arrowa selected"></span>'
                    +'                    <span class="str_pleca_01_arrowb"></span>'
                    +'                </a>'
                    +'            </h3>'
                    +'        </div>'
                    +'    </div>'
                    +'    <div class="container-top background-color1">'
                    +'        <div class="performance background-color1"></div>'
                    +'        <i class="tvsa-inbox tvsa-2x"></i>'
                    +'        <p class="textcolor-title3">{'+'text'+'}</p>'
                    +'    </div>'
                    +'    <div class="container-email">'
                    +'        <div class="container-right">'
                    +'            <input type="email" value="{'+'input_text'+'}" name="email" onfocus="hideEmailText();" onblur="showEmailText();" class="email-txt" id="esubscrib">'
                    +'        </div>'
                    +'    </div>'
                    +'    <div class="container-btn">'
                    +'        <input type="submit" value="{'+'button_text'+'}" class="subscribe" id="suscrib">'
                    +'    </div>'
                    +'</div>'
                    +'</form>',
    "working"   :   '<div class="wdg_nwslt_01" data-enhance="false">'
                    +'    <div class="str_pleca_01">'
                    +'        <div class="str_pleca_01_title">'
                    +'            <h3 class="background-color-pleca1">'
                    +'                <a class="textcolor-title3"  title="Link Description">'
                    +'                    {'+'title'+'}'
                    +'                    <span class="str_pleca_01_arrowa selected"></span>'
                    +'                    <span class="str_pleca_01_arrowb"></span>'
                    +'                </a>'
                    +'            </h3>'
                    +'        </div>'
                    +'    </div>'
                    +'    <div class="container-top background-color1">'
                    +'        <ul>'
                    +'        <li class="mensaje"> <img src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/newsletter_email.png">'
                    +'    <div>{'+'working_msg'+'}</div></li></ul></div>'
                    +'</div>',
    "thanks"    :   '<div class="wdg_nwslt_01" data-enhance="false">'
                    +'    <div class="str_pleca_01">'
                    +'        <div class="str_pleca_01_title">'
                    +'            <h3 class="background-color-pleca1">'
                    +'                <a class="textcolor-title3"  title="Link Description">'
                    +'                    {'+'title'+'}'
                    +'                    <span class="str_pleca_01_arrowa selected"></span>'
                    +'                    <span class="str_pleca_01_arrowb"></span>'
                    +'                </a>'
                    +'            </h3>'
                    +'        </div>'
                    +'    </div>'
                    +'    <div class="container-top background-color1">'
                    +'        <ul>'
                    +'        <li class="mensaje"> <img src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/img/newsletter_email.png">'
                    +'    <div>{'+'thanks_text'+'}</div></li></ul></div>'
                    +'</div>',                    

    }
};
</script>


<a name="mailing"></a>
<div class="newsletter" id="mailing"> </div>