<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/global.css">

<!--<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_4arts_01_mobile.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_4arts_01_tablet.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_4arts_01.css">-->

<style type="text/css">
@media screen{  
    .mix_4arts_01 .mix_4arts_01_bottom{
    }
    .mix_4arts_01 .mix_4arts_01_top {
        display: block;
    }
    .mix_4arts_01 .mix_4arts_01_bottom div:nth-child(1){
        margin-top:15px;
    }
    .mix_4arts_01 .mix_4arts_01_bottom div:last-child{
        display:none;
    }
} 
@media screen and (min-width: 624px){  
    .mix_4arts_01{
        width: 308px;
        margin-bottom: 36px;
    }
    .mix_4arts_01 .mix_4arts_01_top{
        width: 100%;
        margin: 0;
    }
    .mix_4arts_01 .mix_4arts_01_bottom .mix_1arts_07{
        margin-bottom: 12px;
        margin-left: 0px;
    }
    .ie7 .mix_4arts_01 .mix_4arts_01_bottom .mix_1arts_07{
        margin-bottom: 7px;
        margin-left: -5px;
    }
    .ie7 .mix_4arts_01 .mix_4arts_01_bottom .mix_1arts_07 ul li a h3{
        padding-top: 0px;
    }
    .mix_4arts_01 .mix_4arts_01_bottom div:last-child{
        display:block;
    }
    .mix_4arts_01 .mix_1arts_08,
    .mix_4arts_01 .mix_1arts_08b{
        margin-bottom:24px;
    }
}
@media screen and (min-width: 948px){  
    .mix_4arts_01{
        width: 300px;
        margin-bottom: 36px;
    }
    .ie8 .mix_4arts_01 .mix_4arts_01_bottom {
        overflow: hidden;
    }

}

/* ESTILOS MODIFICADOS */
.mix_1arts_08b div .articlemedium div span a {
    color: #eab11d !important;
}
.mix_1arts_07 ul li a h3 div{
    height: 53px;
    overflow: hidden;
    margin-top: 0px !important;
}
.mix_1arts_07 ul li a h3:nth-of-type(2) div, .mix_1arts_07 ul li a h3:nth-of-type(3) div, .mix_1arts_07 ul li a h3:nth-of-type(4) div{
    height: 53px;
    overflow: hidden;
    margin-top: 0px !important;
}
.mix_1arts_08b div .articleMedium div h3:nth-of-type(1){
    height: 57px !important;
    overflow: hidden !important;
}
</style>

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/colores.css">

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-icons.css">

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_1arts_08b_mobile.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_1arts_08b_tablet.css">
<!--<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_1arts_08b.css">-->

<!--<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_1arts_07_mobile.css">-->
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_1arts_07_tablet.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_1arts_07.css">

<!-- BEGIN: mix_4arts_01 -->
<div class="mix_4arts_01">
    <div class="mix_4arts_01_top">
        {NOTEMPTY:ART:article_1:ID}
 		<!--BEGIN: mix_1arts_08b -->
        <div class="mix_1arts_08b" data-enhance="false">
            <div>
                <article class="articleMedium">
                    <a href="{ART:article_1:LINK}" title="{ART:article_1:TITLE:EDITORIAL=yes}">
                        <img src="{ART:article_1:RELATIONS:type=img,link,width=408,height=306}" alt="{ART:article_1:TITLE:EDITORIAL=yes}"/>
                        <span class="sprite video-corner"></span>
                    </a>
                    <div>
                        <span><a href="http://www.televisa.com/" title="Link Description" class="topic_title"><?=preg_replace("/\s+/"," ",htmlentities(str_replace("mundial","Mundial",str_replace("fifa","FIFA",$article_1->rama(''))),ENT_QUOTES))?></a></span>
                        <h3><a href="http://www.televisa.com/" title="Link Description">{ART:article_1:TITLE:EDITORIAL=yes}</a></h3>
                        <span class="icon"></span>
                    </div>
                </article>
            </div>
        </div>
        <!-- END: mix_1arts_08b -->
        {EMPTY:END}
    </div>
    <div class="mix_4arts_01_bottom">
        {NOTEMPTY:ART:article_2:ID}
        <!-- BEGIN: mix_1arts_07 -->
        <div class="mix_1arts_07">
            <ul class="articles"> 
                <li> 
                    <a href="{ART:article_2:LINK}" title="{ART:article_2:TITLE:EDITORIAL=yes}" class="link"> 
                        <img src="{ART:article_2:RELATIONS:type=img,link,width=84,height=63}" alt="{ART:article_2:TITLE:EDITORIAL=yes}"/>
                        <span class="sprite photo-corner"></span>
                        <h3><div>{ART:article_2:TITLE:EDITORIAL=yes}</div></h3>
                        <span class="icon"></span> 
                    </a> 
                </li>
            </ul>
        </div>
        <!-- END: mix_1arts_07 -->
        {EMPTY:END}
        {NOTEMPTY:ART:article_3:ID}
        <!-- BEGIN: mix_1arts_07 -->
        <div class="mix_1arts_07">
            <ul class="articles"> 
                <li> 
                    <a href="{ART:article_3:LINK}" title="{ART:article_3:TITLE:EDITORIAL=yes}" class="link"> 
                        <img src="{ART:article_3:RELATIONS:type=img,link,width=84,height=63}" alt="{ART:article_3:TITLE:EDITORIAL=yes}"/>
                        <span class="sprite photo-corner"></span>
                        <h3><div>{ART:article_3:TITLE:EDITORIAL=yes}</div></h3>
                        <span class="icon"></span> 
                    </a> 
                </li>
            </ul>
        </div>
        <!-- END: mix_1arts_07 -->
        {EMPTY:END}
        {NOTEMPTY:ART:article_4:ID}
        <!-- BEGIN: mix_1arts_07 -->
        <div class="mix_1arts_07">
            <ul class="articles"> 
                <li> 
                    <a href="{ART:article_4:LINK}" title="{ART:article_4:TITLE:EDITORIAL=yes}" class="link"> 
                        <img src="{ART:article_4:RELATIONS:type=img,link,width=84,height=63}" alt="{ART:article_4:TITLE:EDITORIAL=yes}"/>
                        <span class="sprite photo-corner"></span>
                        <h3><div>{ART:article_4:TITLE:EDITORIAL=yes}</div></h3>
                        <span class="icon"></span> 
                    </a> 
                </li>
            </ul>
        </div>
        <!-- END: mix_1arts_07 -->
        {EMPTY:END}
    </div>
</div>
<!-- END: mix_4arts_01 -->