<script>
    function recortarNota(str, num, dest) {
        var str2 = str.substring(0, num);
        document.getElementById(dest).innerHTML = str2;
    }
</script>

<!-- BEGIN: <mix_2arts_03> -->

<div class="mix_2arts_03" data-enhance="false">
     <!-- BEGIN: <type3e> -->
    <div class="type3e">

        <div class="str_pleca_01">
            <div class="str_pleca_01_title">
                <h3>
                    <a  title="Link Description">
                        Notas Secundarias 
                        <span class="icon mobile"></span>
                    </a>
                </h3>
            </div>
        </div>
        
        

       <!-- BEGIN: mix_1arts_08 -->
        <div class="mix_1arts_08">
            <div>
                <article class="articleMedium">
                    <a href="{ART:art1_stage:LINK}" title="Link Description">
                        <img src="{ART:art1_stage:RELATIONS:type=img,link}" width="300" height="225" alt="{ART:art1_stage:LINK}"/>
                        <span class="sprite video-corner"></span>
                    </a>
                    <div>
                        <h3>
                            <a class="textcolor-title2" id="tituloArt_01" href="{ART:art1_stage:LINK}" title="Link Description">
                                {ART:art1_stage:TITLE}
                            </a>
                        </h3>
                        <h4>
                            <a href="{ART:art1_stage:LINK}" id="resumenArt_01" title="Link Description">
                                {ART:art1_stage:SUMMARY}
                            </a>
                        </h4>
                        <span class="icon"></span>
                    </div>
                </article>
            </div>
        </div>
        <!-- END: mix_1arts_08 -->
        
        <div class="separador"></div>
        
        <!-- BEGIN: mix_1arts_08 -->
        <div class="mix_1arts_08">
            <div>
                <article class="articleMedium">
                    <a href="{ART:art2_stage:LINK}" title="Link Description">
                        <img src="{ART:art2_stage:RELATIONS:type=img,link}" width="300" height="225" alt="{ART:art2_stage:LINK}"/>
                        <span class="sprite video-corner"></span>
                    </a>
                    <div>
                        <h3>
                            <a class="textcolor-title2" id="tituloArt_02" href="{ART:art2_stage:LINK}" title="Link Description">
                                {ART:art2_stage:TITLE}
                            </a>
                        </h3>
                        <h4>
                            <a href="{ART:art2_stage:LINK}" id="resumenArt_01" title="Link Description">
                                {ART:art2_stage:SUMMARY}
                            </a>
                        </h4>
                        <span class="icon"></span>
                    </div>
                </article>
            </div>
        </div>
        <!-- END: mix_1arts_08 -->

    </div>

<!-- END: <type3e> -->            



</div>