<script>
    function recortarNota(str, num, dest) {
        var str2 = str.substring(0, num);
        document.getElementById(dest).innerHTML = str2;
    }
</script>

<div class="wdg_top10_01" data-enhance="false">
    <div class="wdg_carousa showArrows">
        <div class="wdg_top10_01_title">
            <h3>
                <a title="Link Description">Top 10 
                    <span class="icon mobile"></span>
                </a>
            </h3>
            <ul class="wt10_arrows">
                <li>
                    <a href="#left" class="wdg_carousa_left2 carouselArrowLeft">
                    	<i class="tvsa-double-caret-left inactive"></i>
                    </a>
                </li>
                <li class="dotted-left">
                    <a href="#right" class="wdg_carousa_right2 carouselArrowRight">
                    	<i class="tvsa-double-caret-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="wdg_top10_01_carousel">
             <ul style="width: 629px !important;">
                <li class="showArrows">
                    <div>
                        <a href="{ART:nt_top_nota_01:LINK}" title="{ART:nt_top_nota_01:TITLE}">
                            <img src="{ART:nt_top_nota_01:RELATIONS:type=img,link}" alt="Image description"/>
                            <h3 class="topic_title">{ART:nt_top_nota_01:TITLE}</h3>
                            <script>
                                recortarNota("{ART:nt_top_nota_01:SUMMARY}", 20, "resumenNota_01");
                            </script>
                            <p id="resumenNota_01"></p>
                            <span class="icon"></span>
                        </a>
                    </div>
                    <div>
                        <a href="{ART:nt_top_nota_02:LINK}" title="{ART:nt_top_nota_02:TITLE}">
                            <img src="{ART:nt_top_nota_02:RELATIONS:type=img,link}" alt="Image description"/>
                            <h3 class="topic_title">{ART:nt_top_nota_02:TITLE}</h3>
                            <script>
                                recortarNota("{ART:nt_top_nota_02:SUMMARY}", 20, "resumenNota_02");
                            </script>
                            <p id="resumenNota_02"></p>
                            <span class="icon"></span>
                        </a>
                    </div>
                    <div>
                        <a href="{ART:nt_top_nota_03:LINK}" title="{ART:nt_top_nota_03:TITLE}">
                            <img src="{ART:nt_top_nota_03:RELATIONS:type=img,link}" alt="Image description"/>
                            <h3 class="topic_title">{ART:nt_top_nota_03:TITLE}</h3>
                            <p>{ART:nt_top_nota_03:SUMMARY}</p>
                            <span class="icon"></span>
                        </a>
                    </div>
                    <div>
                        <a href="{ART:nt_top_nota_04:LINK}" title="{ART:nt_top_nota_04:TITLE}">
                            <img src="{ART:nt_top_nota_04:RELATIONS:type=img,link}" alt="Image description"/>
                            <h3 class="topic_title">{ART:nt_top_nota_04:TITLE}</h3>
                            <p>{ART:nt_top_nota_04:SUMMARY}</p>
                            <span class="icon"></span>
                        </a>
                    </div>
                    <div>
                        <a href="{ART:nt_top_nota_05:LINK}" title="{ART:nt_top_nota_05:TITLE}">
                            <img src="{ART:nt_top_nota_05:RELATIONS:type=img,link}" alt="Image description"/>
                            <h3 class="topic_title">{ART:nt_top_nota_05:TITLE}</h3>
                            <p>{ART:nt_top_nota_05:SUMMARY}</p>
                            <span class="icon"></span>
                        </a>
                    </div>
					</li>
					<li class="showArrows">
                    <div>
                        <a href="{ART:nt_top_nota_06:LINK}" title="{ART:nt_top_nota_06:TITLE}">
                            <img src="{ART:nt_top_nota_06:RELATIONS:type=img,link}" alt="Image description"/>
                            <h3 class="topic_title">{ART:nt_top_nota_06:TITLE}</h3>
                            <p>{ART:nt_top_nota_06:SUMMARY}</p>
                            <span class="icon"></span>
                        </a>
                    </div>
                    <div>
                        <a href="{ART:nt_top_nota_07:LINK}" title="{ART:nt_top_nota_07:TITLE}">
                            <img src="{ART:nt_top_nota_07:RELATIONS:type=img,link}" alt="Image description"/>
                            <h3 class="topic_title">{ART:nt_top_nota_07:TITLE}</h3>
                            <p>{ART:nt_top_nota_07:SUMMARY}</p>
                            <span class="icon"></span>
                        </a>
                    </div>
                    <div>
                        <a href="{ART:nt_top_nota_08:LINK}" title="{ART:nt_top_nota_08:TITLE}">
                            <img src="{ART:nt_top_nota_08:RELATIONS:type=img,link}" alt="Image description"/>
                            <h3 class="topic_title">{ART:nt_top_nota_08:TITLE}</h3>
                            <p>{ART:nt_top_nota_08:SUMMARY}</p>
                            <span class="icon"></span>
                        </a>
                    </div>
                    <div>
                        <a href="{ART:nt_top_nota_09:LINK}" title="{ART:nt_top_nota_09:TITLE}">
                            <img src="{ART:nt_top_nota_09:RELATIONS:type=img,link}" alt="Image description"/>
                            <h3 class="topic_title">{ART:nt_top_nota_09:TITLE}</h3>
                            <p>{ART:nt_top_nota_09:SUMMARY}</p>
                            <span class="icon"></span>
                        </a>
                    </div>
                    <div>
                        <a href="{ART:nt_top_nota_10:LINK}" title="{ART:nt_top_nota_10:TITLE}">
                            <img src="{ART:nt_top_nota_10:RELATIONS:type=img,link}" alt="Image description"/>
                            <h3 class="topic_title">{ART:nt_top_nota_10:TITLE}</h3>
                            <p>{ART:nt_top_nota_10:SUMMARY}</p>
                            <span class="icon"></span>
                        </a>
                    </div>                     
                </li>
            </ul>
        </div>
    </div>
    <div class="bullets">
        <div class="background-color1"></div>
        <div></div>
    </div>
</div>