<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/colores.css" media="screen"> 
 <link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/global.css" media="screen"> 
     <!--
     <link rel="stylesheet" href="css/mix_2arts_mobile.css" media="screen">
        <link rel="stylesheet" href="css/mix_2arts_tablet.css" media="screen and (min-width: 624px)">
    <link rel="stylesheet" href="css/mix_2arts_.css" media="screen and (min-width: 948px)"> 
-->

<style type="text/css">
@media screen {
    .mix_2arts{
        width: 100%;
        margin-bottom:0;
        margin-top: 12px;
    }
    .mix_2arts .cont-left{
        width:auto;
    }
    .mix_2arts .cont-right{
        width:auto;
    }
    .mix_2arts .container{
        width:100%;
        float:left;
        clear:none;
    }
    .mix_2arts .separator{
        background: none;
    }
    .mix_2arts .mix_1arts{
        margin-bottom:0px;
        position:relative;
    }
    .mix_2arts img,
    .mix_2arts .mix_1arts div .articleMedium a .sprite {
        display:none;
    }
    .mix_2arts .mix_1arts .articleMedium div {
        background-color: transparent;
        margin: 0;
        padding: 19px 35px 20px 32px;
        border-top:1px solid #CCC;
    }
    .mix_2arts .mix_1arts .articleMedium div .text1 {
        border-top:none;
        margin: 0px 0 0 0px;
        padding: 0 0 12px 0;
    }
    .mix_2arts .mix_1arts .articleMedium div .text1 a{
        font-style:italic;
        font-size: 12px;
    }
    .mix_2arts .mix_1arts div .articleMedium div h4 {
        color: #000000;
        font-weight: bold;
        margin-left: 0px;
        margin-top:-11px;
        line-height:16px;
        width: 72%;
    }
    .mix_2arts .tvsa-caret-right{
        color: #CCCCCC;
        display: block;
        font-size: 35px;
        font-weight: bold;
        height: 78px;
        line-height: 49px;
        position: absolute;
        right: 33px;
        top: 22%;
    }
    .articleMedium img{
        display: none;
        width: 300px;
        height: 225px;
    }
}
@media screen and (min-width: 624px){

    .mix_2arts{
        width: 624px;
        overflow: hidden;
        margin-top: 0px;
    }
     .mix_2arts .cont-left{
        width:300px;
        float:left;
        clear:none;
    }
    .mix_2arts .cont-right{
        width:300px;
        float:right;
        clear:none;
    }
    .mix_2arts .container{
        width:624px;
        margin-bottom:36px;
    }
    .mix_2arts .separator{
        background: url("../global/img/bg_cols.html") repeat-y scroll 0 0 transparent;
    }
    .mix_2arts img,
    .mix_2arts .mix_1arts .sprite video-corner{
        display:block;
    }
    .mix_2arts .mix_1arts .articleMedium div {
        background-color: #FFFFFF;
        margin: -24px 0 0 25px;
        padding: 20px 36px 20px 32px;
        border-top:none;
        position: relative;
    }
    .mix_2arts .mix_1arts .articleMedium div .text1 {       
        margin: -20px 0 0 0px;
        padding: 20px 0px 8px 0px;
        border-top:none;
    }
    .mix_2arts .mix_1arts .articleMedium div .text1 a{
        font-size: 14px;
    }
    .mix_2arts .mix_1arts div .articleMedium div h4 {
        font-size: 18px !important;
        width:100%;
        margin-top: -3px;
        line-height:16pt;
    }
    .mix_2arts .tvsa-caret-right{
        display:none;
    }
    .articleMedium img{
        width: 300px;
        height: 225px;
    }
}
@media screen and (max-width: 624px){
    .mix_2arts{
        display: none;
    }
}

</style>

<script type="text/javascript">
window.onload = function ()
{
 
    var descriptiona = "{ART:articulo_1:SUMMARY}";
    var descriptionb = "{ART:articulo_2:SUMMARY}";
    var longitud=40;
 
    if(descriptiona.length > longitud){ 

        var descriptiona=descriptiona.substr(0,longitud)+' ...';  
    };
     if(descriptionb.length > longitud){  
         var descriptionb=descriptionb.substr(0,longitud)+' ...'; 
    
    };
    document.getElementById('ns-descriptiona').innerHTML = descriptiona;
    document.getElementById('ns-descriptionb').innerHTML = descriptionb;
    }
 

</script>

<div class="mix_2arts" data-enhance="false">
    <div class="container separator">
        <div class="cont-left">
        
           <!-- BEGIN: mix_1arts -->
            <div class="mix_1arts">
                <div>
                    <article class="articleMedium">
                    <a href="{ART:articulo_1:LINK} " title="{ART:articulo_1:TITLE} ">
                        <img src="{ART:articulo_1:RELATIONS:type=img,link}"  alt="Image description"/>
                        <span class="sprite video-corner"></span>
                    </a>
                    <div>
                        <div class="text1"><a class="textcolor-title2" href="{ART:articulo_1:LINK}" title="{ART:articulo_1:TITLE} ">{ART:articulo_1:TITLE} </a></div>
                        <h4><a href="{ART:articulo_1:LINK} " title="{ART:articulo_1:TITLE} "><span id="ns-descriptiona"></span>
                        <i class="icon tvsa-caret-right"></i></a>
                        </h4>
                        
                    </div>
                    </article>
                </div>
            </div>
        <!-- END: mix_1arts -->
        
       </div>
       
        <div class="cont-right">
        
           <!-- BEGIN: mix_1arts -->
            <div class="mix_1arts">
                <div>
                    <article class="articleMedium">
                        <a href="{ART:articulo_2:LINK} " title="{ART:articulo_2:TITLE} ">
                            <img src="{ART:articulo_2:RELATIONS:type=IMG,LINK}"   alt="{ART:articulo_2:TITLE} "/>
                            <span class="sprite video-corner"></span>
                        </a>
                        <div>
                            <div class="text1"><a class="textcolor-title2" href="http://www.televisa.com/" title="Link Description">{ART:articulo_2:TITLE} </a></div>
                            <h4><a href="{ART:articulo_2:LINK} " title="{ART:articulo_2:TITLE} "><span id="ns-descriptionb"></span>
                            <i class="icon tvsa-caret-right"></i></a>
                            </h4>
                            
                        </div>
                    </article>
                </div>
            </div>
            <!-- END: mix_1arts -->
            
        </div>
    </div>
</div>