<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/reset.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/bootstrap.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/bootstrap-cm2014.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/cm2014.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/global.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/colores.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/jquery.mobile-1.3.2.min.css" media="all">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-icons.css" media="all"><link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01_mobile.css" media="screen">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/desktop.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/i7.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/i8.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/i9.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mobile.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tablet.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-icons.ie7.css">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01_tablet.css" media="screen and (min-width: 39em)">
<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/str_pleca_01.css" media="screen and (min-width: 60em)">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/file.css" media="all">

<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/headjs.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.mobile-1.3.2.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.migrate.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.easing-1.3.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/modernizr.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/Televisa.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/global.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.corner.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.mb.miniPlayer.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jplayer_request.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.lightbox_me.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/swipeupdown.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/swipe2.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/bootstrap.js"></script>

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_4arts_05_mobile.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_4arts_05_tablet.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_1arts_09.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/mix_1arts_03.css">

<?php
    function giveMeTag($original){
        $ex = explode("</a>", $original);
        $ex2 = explode(">", $ex[0]);
        echo $ex2[1];
    }
?>


<!-- BEGIN: mix_4arts_05 --> 
<div class="mix_4arts_05" data-enhance="false">

    <div class="contenedor">
        {NOTEMPTY:LBL:title_section:CAPTION}
        <!-- BEGIN: pleca -->
        <div class="str_pleca_01">
            <div class="str_pleca_01_title">
                <h3 class="background-color-pleca1">
                    <a title="{LBL:title_section:CAPTION}" class="textcolor-title3">
                        {LBL:title_section:CAPTION}
                        <span class="str_pleca_01_arrowa selected"></span>
                        <span class="str_pleca_01_arrowb"></span>
                    </a>
                </h3>
            </div>
        </div>
        <!-- END: pleca -->
        {EMPTY:END}       
        <!-- BEGIN: mix_1arts_03 -->        
        
        <!-- BEGIN: mix_1arts_03 -->
        <div class="mix_1arts_03" data-enhance="false">
            <div class="type2b">
                <article class="articleBigModule"> 
                    <a href="#">
                        <div class="resize">
                            <img src="{ART:article_1:RELATIONS:type=img,link,width=408,height=306}" alt="{ART:article_1:TITLE:EDITORIAL=yes}" width="408" height="306">
                            <span class="sprite video-corner"></span>
                        </div>
                    </a>
                    <div class="floatRight">
                        <a class="category" href="{ART:article_1:LINK}"><?=giveMeTag($article_1->tags());?></a>
                        <a href="{ART:article_1:LINK}" title="{ART:article_1:TITLE:EDITORIAL=yes}">
                            <h3>{ART:article_1:TITLE}</h3>
                            <p class="desc">{ART:article_1:SUMMARY}</p>
                        </a>
                        <!--
                        <ul>
                            <li><a href="#"><span class="iconArticle"><i class="tvsa-double-caret-right tvsa-1x "></i></span><p>Bajan dólar y euro en bancos capitalinos</p></a></li>
                            <li><a href="#"><span class="iconVideo"><i class=" tvsa-videocamera tvsa-1x "></i></span><p>Rusa perderá plata de Londres, por dopaje</p></a></li>
                        </ul>
                        -->
                    </div>
                </article>
            </div>

        </div>
        <!-- END: mix_1arts_03 -->

        <!-- BEGIN:mix_3arts_02 -->
        <div class="mix_3arts_02">
            {NOTEMPTY:ART:article_2:TITLE:EDITORIAL=yes}
            <div class="mix_3arts_02_first">
                <!-- BEGIN:mix_1arts_09 -->
                <div class="mix_1arts_09">
                    <div>
                        <ul class="mix_1arts_09_thumb">
                            <li>
                                <a href="{ART:article_2:LINK}" title="{ART:article_2:TITLE:EDITORIAL=yes}">
                                    <div class="imgWrapper">
                                        <img src="{ART:article_2:RELATIONS:type=img,link,width=192,height=108}" alt="{ART:article_2:TITLE:EDITORIAL=yes}" width="192" height="108">
                                    </div>
                                    <div class="lineseparator"></div>
                                    <span class="mix_1arts_09_sprite video-corner"></span>
                                    <strong class="category"><?=giveMeTag($article_2->tags());?></strong>
                                    <h3>{ART:article_2:TITLE:EDITORIAL=yes}</h3>
                                    <i class="icon tvsa-caret-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--END:mix_1arts_09-->
            </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_3:TITLE:EDITORIAL=yes}
            <div class="mix_3arts_02_middle">
                <!-- BEGIN:mix_1arts_09 -->
                <div class="mix_1arts_09">
                    <div>
                        <ul class="mix_1arts_09_thumb">
                            <li>
                                <a href="{ART:article_3:LINK}" title="{ART:article_3:TITLE:EDITORIAL=yes}">
                                    <div class="imgWrapper">
                                        <img src="{ART:article_3:RELATIONS:type=img,link,width=192,height=108}" alt="{ART:article_3:TITLE:EDITORIAL=yes}" width="192" height="108">
                                    </div>
                                    <div class="lineseparator"></div>
                                    <span class="mix_1arts_09_sprite video-corner"></span>
                                    <strong class="category"><?=giveMeTag($article_3->tags());?></strong>
                                    <h3>{ART:article_3:TITLE:EDITORIAL=yes}</h3>
                                    <i class="icon tvsa-caret-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--END:mix_1arts_09-->
            </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_4:TITLE:EDITORIAL=yes}
            <div class="mix_3arts_02_last">
                <!-- BEGIN:mix_1arts_09 -->
                <div class="mix_1arts_09">
                    <div>
                        <ul class="mix_1arts_09_thumb">
                            <li>
                                <a href="{ART:article_4:LINK}" title="{ART:article_4:TITLE:EDITORIAL=yes}">
                                    <div class="imgWrapper">
                                        <img src="{ART:article_4:RELATIONS:type=img,link,width=192,height=108}" alt="{ART:article_4:TITLE:EDITORIAL=yes}" width="192" height="108">
                                    </div>
                                    <div class="lineseparator"></div>
                                    <span class="mix_1arts_09_sprite video-corner"></span>
                                    <strong class="category"><?=giveMeTag($article_4->tags());?></strong>
                                    <h3>{ART:article_4:TITLE:EDITORIAL=yes}</h3>
                                    <i class="icon tvsa-caret-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--END:mix_1arts_09-->
            </div>
            {EMPTY:END}
            <div class="clearBoth"></div>
        </div>
        <!--END:mix_3arts_02-->
   
    </div><!--Cierra contenedor -->
</div>
<!-- END: mix_4arts_05 -->