<section class="StageSliderMundial">

        <ul class="StageContainterLarge">
          {NOTEMPTY:ART:article_01:TITLE:editorial=YES}
            <li data-statuslider="1">
                <img src="{ART:article_01:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_01:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_01:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_01:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_01:LINK}">{ART:article_01:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_01:LINK}">{ART:article_01:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
            {EMPTY:END}
        {NOTEMPTY:ART:article_02:TITLE:editorial=YES}
            <li data-statuslider="2">
                <img src="{ART:article_02:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_02:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_02:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_02:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_02:LINK}">{ART:article_02:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_02:LINK}">{ART:article_02:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}
        {NOTEMPTY:ART:article_03:TITLE:editorial=YES}
            <li data-statuslider="3">
                <img src="{ART:article_03:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_03:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_03:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_03:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_03:LINK}">{ART:article_03:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_03:LINK}">{ART:article_03:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}
        {NOTEMPTY:ART:article_04:TITLE:editorial=YES}
            <li data-statuslider="4">
                <img src="{ART:article_04:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_04:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_04:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_04:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_04:LINK}">{ART:article_04:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_04:LINK}">{ART:article_04:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}  
        {NOTEMPTY:ART:article_05:TITLE:editorial=YES}
            <li data-statuslider="5">
                <img src="{ART:article_05:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_05:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_05:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_05:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_05:LINK}">{ART:article_05:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_05:LINK}">{ART:article_05:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}  
        {NOTEMPTY:ART:article_06:TITLE:editorial=YES}
            <li data-statuslider="6">
                <img src="{ART:article_06:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_06:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_06:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_06:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_06:LINK}">{ART:article_06:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_06:LINK}">{ART:article_06:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}  
        {NOTEMPTY:ART:article_07:TITLE:editorial=YES}
            <li data-statuslider="7">
                <img src="{ART:article_07:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_07:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_07:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_07:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_07:LINK}">{ART:article_07:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_07:LINK}">{ART:article_07:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}  
        {NOTEMPTY:ART:article_08:TITLE:editorial=YES}
            <li data-statuslider="8">
                <img src="{ART:article_08:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_08:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_08:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_08:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_08:LINK}">{ART:article_08:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_08:LINK}">{ART:article_08:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}  
        {NOTEMPTY:ART:article_09:TITLE:editorial=YES}
            <li data-statuslider="9">
                <img src="{ART:article_09:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_09:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_09:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_09:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_09:LINK}">{ART:article_09:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_09:LINK}">{ART:article_09:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}
        {NOTEMPTY:ART:article_10:TITLE:editorial=YES}
            <li data-statuslider="10">
                <img src="{ART:article_10:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_10:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_10:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_10:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_10:LINK}">{ART:article_10:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_10:LINK}">{ART:article_10:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}
        {NOTEMPTY:ART:article_11:TITLE:editorial=YES}
            <li data-statuslider="11">
                <img src="{ART:article_11:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_11:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_11:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_11:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_11:LINK}">{ART:article_11:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_11:LINK}">{ART:article_11:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}  
        {NOTEMPTY:ART:article_12:TITLE:editorial=YES}
            <li data-statuslider="12">
                <img src="{ART:article_12:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_12:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_12:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_12:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_12:LINK}">{ART:article_12:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_12:LINK}">{ART:article_12:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}  
        {NOTEMPTY:ART:article_13:TITLE:editorial=YES}
            <li data-statuslider="13">
                <img src="{ART:article_13:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_13:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_13:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_13:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_13:LINK}">{ART:article_13:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_13:LINK}">{ART:article_13:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}  
        {NOTEMPTY:ART:article_14:TITLE:editorial=YES}
            <li data-statuslider="14">
                <img src="{ART:article_14:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_14:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_14:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_14:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_14:LINK}">{ART:article_14:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_14:LINK}">{ART:article_14:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}
        {NOTEMPTY:ART:article_15:TITLE:editorial=YES}
            <li data-statuslider="15">
                <img src="{ART:article_15:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_15:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_15:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_15:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_15:LINK}">{ART:article_15:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_15:LINK}">{ART:article_15:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}
        {NOTEMPTY:ART:article_16:TITLE:editorial=YES}
            <li data-statuslider="16">
                <img src="{ART:article_16:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_16:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_16:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_16:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_16:LINK}">{ART:article_16:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_16:LINK}">{ART:article_16:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}
        {NOTEMPTY:ART:article_17:TITLE:editorial=YES}
            <li data-statuslider="17">
                <img src="{ART:article_17:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_17:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_17:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_17:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_17:LINK}">{ART:article_17:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_17:LINK}">{ART:article_17:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}
        {NOTEMPTY:ART:article_18:TITLE:editorial=YES}
            <li data-statuslider="18">
                <img src="{ART:article_18:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_18:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_18:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_18:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_18:LINK}">{ART:article_18:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_18:LINK}">{ART:article_18:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}  
        {NOTEMPTY:ART:article_19:TITLE:editorial=YES}
            <li data-statuslider="19">
                <img src="{ART:article_19:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_19:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_19:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_19:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_19:LINK}">{ART:article_19:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_19:LINK}">{ART:article_19:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}  
        {NOTEMPTY:ART:article_20:TITLE:editorial=YES}
            <li data-statuslider="20">
                <img src="{ART:article_20:RELATIONS:type=img,link,width=624,height=469}" alt="{ART:article_20:TITLE:editorial=YES}">
                <div class="descriptionStageContainerLarge">
                       {NOTEMPTY:ART:article_20:EXTRAS:tipo}<div class="TitleStageContainerLarge">{ART:article_20:EXTRAS:tipo}</div>{EMPTY:END}
                       <div class="TitleEdiStageContainerLarge">
                            <a href="{ART:article_20:LINK}">{ART:article_20:TITLE:editorial=YES}</a>
                       </div>
                       <div class="SummaryStageContainerLarge">
                            <a href="{ART:article_20:LINK}">{ART:article_20:SUMMARY}</a>
                       </div>                    
                </div>
            </li>
        {EMPTY:END}
        </ul>

     

        {NOTEMPTY:ART:article_01:TITLE:editorial=YES}
        <div class="descriptionOutMundial">
                <div class="TitleEdiStageContainerLarge" style="display:block;" data-statuslider="1">
                            <a href="{ART:article_01:LINK}">{ART:article_01:TITLE:editorial=YES}</a>
                </div>
            {NOTEMPTY:ART:article_02:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="2">
                    <a href="{ART:article_02:LINK}">{ART:article_02:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_03:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="3">
                    <a href="{ART:article_03:LINK}">{ART:article_03:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_04:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="4">
                    <a href="{ART:article_04:LINK}">{ART:article_04:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_05:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="5">
                    <a href="{ART:article_05:LINK}">{ART:article_05:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_06:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="6">
                    <a href="{ART:article_06:LINK}">{ART:article_06:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_07:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="7">
                    <a href="{ART:article_07:LINK}">{ART:article_07:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_08:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="8">
                    <a href="{ART:article_08:LINK}">{ART:article_08:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_09:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="9">
                    <a href="{ART:article_09:LINK}">{ART:article_09:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
                        {NOTEMPTY:ART:article_10:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="10">
                    <a href="{ART:article_10:LINK}">{ART:article_10:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_11:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="11">
                    <a href="{ART:article_11:LINK}">{ART:article_11:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_12:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="12">
                    <a href="{ART:article_12:LINK}">{ART:article_12:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_13:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="13">
                    <a href="{ART:article_13:LINK}">{ART:article_13:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_14:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="14">
                    <a href="{ART:article_14:LINK}">{ART:article_14:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_15:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="15">
                    <a href="{ART:article_15:LINK}">{ART:article_15:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_16:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="16">
                    <a href="{ART:article_16:LINK}">{ART:article_16:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_17:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="17">
                    <a href="{ART:article_17:LINK}">{ART:article_17:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_18:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="18">
                    <a href="{ART:article_18:LINK}">{ART:article_18:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_19:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="19">
                    <a href="{ART:article_19:LINK}">{ART:article_19:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}
            {NOTEMPTY:ART:article_20:TITLE:editorial=YES}
                <div class="TitleEdiStageContainerLarge" data-statuslider="20">
                    <a href="{ART:article_20:LINK}">{ART:article_20:TITLE:editorial=YES}</a>
                </div>
            {EMPTY:END}            
        </div>
        {EMPTY:END}

        
        <div class="ContainerSliderThumbs">
            <div class="PrevCarouselMundial">
              <i class="tvsa-double-caret-left"></i>
            </div>
            <div class="contthumbslider">
            <ul class="StageContainerThumbs" >
              {NOTEMPTY:ART:article_01:TITLE:editorial=YES}
                <li data-statuslider="1" class="active">
                    <img src="{ART:article_01:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_01:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_02:TITLE:editorial=YES}
                <li data-statuslider="2">
                    <img src="{ART:article_02:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_02:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_03:TITLE:editorial=YES}
                <li data-statuslider="3">
                    <img src="{ART:article_03:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_03:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_04:TITLE:editorial=YES}
                <li data-statuslider="4">
                    <img src="{ART:article_04:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_04:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_05:TITLE:editorial=YES}
                <li data-statuslider="5">
                    <img src="{ART:article_05:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_05:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}   
                {NOTEMPTY:ART:article_06:TITLE:editorial=YES}
                <li data-statuslider="6">
                    <img src="{ART:article_06:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_06:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_07:TITLE:editorial=YES}
                <li data-statuslider="7">
                    <img src="{ART:article_07:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_07:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}  
                {NOTEMPTY:ART:article_08:TITLE:editorial=YES}
                <li data-statuslider="8">
                    <img src="{ART:article_08:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_08:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_09:TITLE:editorial=YES}
                <li data-statuslider="9">
                    <img src="{ART:article_09:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_09:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_10:TITLE:editorial=YES}
                <li data-statuslider="10">
                    <img src="{ART:article_10:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_10:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_11:TITLE:editorial=YES}
                <li data-statuslider="11">
                    <img src="{ART:article_11:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_11:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}   
                {NOTEMPTY:ART:article_12:TITLE:editorial=YES}
                <li data-statuslider="12">
                    <img src="{ART:article_12:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_12:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_13:TITLE:editorial=YES}
                <li data-statuslider="13">
                    <img src="{ART:article_13:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_13:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_14:TITLE:editorial=YES}
                <li data-statuslider="14">
                    <img src="{ART:article_14:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_14:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_15:TITLE:editorial=YES}
                <li data-statuslider="15">
                    <img src="{ART:article_15:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_15:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_16:TITLE:editorial=YES}
                <li data-statuslider="16">
                    <img src="{ART:article_16:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_16:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_17:TITLE:editorial=YES}
                <li data-statuslider="17">
                    <img src="{ART:article_17:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_17:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_18:TITLE:editorial=YES}
                <li data-statuslider="18">
                    <img src="{ART:article_18:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_18:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_19:TITLE:editorial=YES}
                <li data-statuslider="19">
                    <img src="{ART:article_19:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_19:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}
                {NOTEMPTY:ART:article_20:TITLE:editorial=YES}
                <li data-statuslider="20">
                    <img src="{ART:article_20:RELATIONS:type=img,link,width=87,height=65}" alt="{ART:article_20:TITLE:editorial=YES}">
                </li>
                {EMPTY:END}    
            </ul>
            </div>
            {NOTEMPTY:LBL:texto_boton_sn:CAPTION}          
<div class="more">             	
<a class="full-timetable" href="{LBL:link_boton_sn:CAPTION}"> 
                	{LBL:texto_boton_sn:CAPTION}
                </a>
</div> 
            {EMPTY:END}
            <div class="NextCarouselMundial">
              <i class="tvsa-double-caret-right"></i>
            </div>
        </div>        

    </section>