<!-- BEGGING: submenu_fase1 -->
<!-- {LBL:OnVersionNoOficial:CAPTION} -->
{NOTEMPTY:LBL:OnVersionNoOficial:CAPTION}
<div class="submenu_inoficial">       
{EMPTY:ELSE}   
<div class="submenu">
{EMPTY:END}
<div class="deg_left"></div>
<div class="scroll">
    <ul class="submenu_nav" style="width: 1005px;">
        <li class="dotted-right-white first">
            <a href="{LBL:menuURL1:CAPTION}"><i class=" tvsa-home"></i><span>{LBL:menuOpcion1:CAPTION}</span></a>
        </li>
        <li class="dotted-right-white second">
            <a href="{LBL:menuURL2:CAPTION}">{LBL:menuOpcion2:CAPTION}</a>
        </li>
        <li class="dotted-right-white third">
            <a href="{LBL:menuURL3:CAPTION}">{LBL:menuOpcion3:CAPTION}</a>
        </li>
        <li class="dotted-right-white">
            {NOTEMPTY:LBL:submenuOpcion1:CAPTION}
            <a class="history" href="#">{LBL:menuOpcion4:CAPTION}</a>
            {EMPTY:ELSE}  
            <a class="history" href="{LBL:menuURL4:CAPTION}">{LBL:menuOpcion4:CAPTION}</a>
            {EMPTY:END}
            {NOTEMPTY:LBL:submenuOpcion1:CAPTION}
            <ul class="subhistory_nav">
                <li class="subhistory dotted-bottom-white"><a href="{LBL:submenuURL1:CAPTION}">{LBL:submenuOpcion1:CAPTION}</a></li>
                <li class="subhistory"><a href="{LBL:submenuURL2:CAPTION}">{LBL:submenuOpcion2:CAPTION}</a></li>
            </ul>
            {EMPTY:END} 
        </li>
        <li class="dotted-right-white">
            <a href="{LBL:menuURL5:CAPTION}">{LBL:menuOpcion5:CAPTION}</a>
        </li>
        <li class="last">
            <a href="{LBL:menuURL6:CAPTION}">{LBL:menuOpcion6:CAPTION}</a>
        </li>
    </ul>
</div>
<div class="deg_right"></div>
</div>
<!-- END: submenu_fase1 -->