<!-- BEGGING: submenu_fase1 -->
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/submenu_f2f3.js"></script>
    <header class="nav_header_01" data-enhance="false">
	<div class="title">
		<div class="inner">
        	<strong>Brasil 2014<br><span class="lema">Apasionados de verdad / 12 Junio - 13 Julio</span></strong>
<?php include("/nfs/cache/flat/deportes30/copa-mundial-fifa-brasil-2014/countdown_v2.html"); ?>			

<br>
        </div>	
	</div>
    <div class="mainnav">
    	<div class="inner">
        	<nav class="main">
            	<nav class="social">
                	<ul style="display: none;">
                    	
                   </ul>
				</nav>
				
                <ul>
               	
                </ul>
			</nav>
		</div>
	</div>
</header>
<div class="main-nav-countries" style="display:none;">
    <div class="content-countries">
        
    </div>
</div>