<style>
body{
	color: #232323 !important;
    padding: 0px 0px 0px 0px;
}
body {
    font: normal normal 100% Trebuchet MS, Arial, sans-serif;
    background-color: #F5F5F5;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: auto;
    min-width: 20em;
}
    .nav_team_header_01{
        width: 100%;
    }
    .nav_team_header_01{
        width: 100%;
		margin-bottom: 24px;
    }
    .nav_team_header_01{
        width: 100%;
        overflow: hidden;
        margin-bottom: 19px;
        clear: both;
    }
    .nav_team_header_01 .fondo{
		height: 82px;
		margin: 0 auto;
		width: 948px;
        background-color:#63C;
		background-repeat:no-repeat;
	}
    .nav_team_header_01 .fondo{
		margin:0 auto;
		padding-left: 0;
    	/*width: 100%;*/
		height:82px;
		/*background-image:url(http://lorempixel.com/940/97/abstract/);*/
		background-color:#63C;
		background-repeat:no-repeat;
    }
    .nav_team_header_01 .gradiente_head{
		height:82px;
		width:100%;
		/*Pinta gradient*/
		background-image: linear-gradient(left , #4C3F69 30%, #B613D6 61%);
		background-image: -o-linear-gradient(left , #4C3F69 30%, #B613D6 61%);
		background-image: -moz-linear-gradient(left , #4C3F69 30%, #B613D6 61%);
		background-image: -webkit-linear-gradient(left , #4C3F69 30%, #B613D6 61%);
		background-image: -ms-linear-gradient(left , #4C3F69 30%, #B613D6 61%);
		background-image: -webkit-gradient(
			linear,
			left top,
			right top,
			color-stop(0.3, #4C3F69),
			color-stop(0.61, #B613D6)
		);
		/*Finaliza gradient*/
    }
    .nav_team_header_01 .degradado_head{
		position:relative;
		background-image:url(../global/img/path_text_headerEquipos.html);
		height:97px;
		top:-96px;
    }
    .nav_team_header_01 .fondo .logo{
		left: 28px;
		top: -200px;
	}
    .nav_team_header_01 .fondo .logo{
		position:relative;
		width:108px;
		height:68px;
		/*left: 12px;*/
		/*top: -215px;*/
    }
    .nav_team_header_01 .fondo .texto{
		width:750px;
		top: 50px;
		left: 138px;
		height: 32px;
	}
    .nav_team_header_01 .fondo .texto{
        font-style: italic;
        font-size: 30px;
        position: relative;
		overflow: hidden;
		line-height: 30px;
		
	  	white-space: nowrap;
	  	text-overflow: ellipsis;
    }
    .textcolor-title3{
       color: #ffffff !important;
    }
    .nav_team_header_01 .sombra{
		width:942px;
	}
    
    .nav_team_header_01 .sombra{
		float:none;
		margin: 0 auto;
	}
    .nav_team_header_01 .sombra{
		margin: 0 auto 0 -16px;
		padding-left: 0;
		height:18px;
		background-image:url(../global/img/img_sombra.html);
		float: left;
    }
</style>


<div class="nav_team_header_01" data-enhance="false">
<!--In the data-color attr you need to setup the link color-->
	<div class="link_color" data-color="#63C"></div><!-- END color -->
	<div class="fondo">
    	<div class="gradiente_head"></div>
    	<div class="degradado_head"></div>
            <div class="logo">
                <div class="texto textcolor-title3">Nombre Equipo dependiendo</div>
                <img src="http://placehold.it/108x68" alt="Logo Equipo dependiendo" />
            </div>
    </div>
    <div class="sombra"></div>
    <div class="nav_team_header_01_container">
        <div class="nav_team_header_01_right">
            <div class="nav_team_header_01_navcontainer">
                <div class="wdg_matchesresult_navarrowleft">
                    <a class="wdg_matchesresult_navleft" href="#left">
                        <span class="wdg_matchesresult_navlefticon">
                        	<i class="tvsa-double-caret-left"></i>
                        </span>
                    </a>
                </div>
                <div class="box">
                    <div class="nav_team_header_01_nav">
                        <ul class="nav_team_header_01_theme" style="width:10000px;">
                            <li class="border-bottom2"><a class="textcolor-title2" href="#"><p>Estadísticas</p></a></li>
                            <li><a href="#"><p>Torneo actual</p></a></li>
                            <li><a href="#"><p>Plantel</p></a> </li>
                            <li><a href="#"><p>Noticias</p></a></li>
                            <li><a href="#"><p>Videos</p></a></li>
                        </ul>
                    </div>
                </div>
                <div class="wdg_matchesresult_navarrowright">
                    <a class="wdg_matchesresult_navright" href="#right">
                        <span class="wdg_matchesresult_navrighticon">
                        	<i class="tvsa-double-caret-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

<!-- END nav_team_header_01 -->
</div>