<!--
    {LBL:username_1:CAPTION}  | {LBL:username_2:CAPTION}  | {LBL:username_3:CAPTION}
-->
<section class="twitter_sorteo">
    <div class="wdg_carousa">
        <div class="twitter_sorteo_title">
                <a class="azul" href="http://www.twitter.com/{LBL:username_1:CAPTION}" target="_blank"> @{LBL:username_1:CAPTION}<span class="icon mobile"></span></a>
            <ul class="wt2_arrows">
                <li class="wt2left">
                  <a href="#left" class="wdg_carousa_left carouselArrowLeft">
                      <i class="tvsa-double-caret-left"></i>
                    </a>
                </li>
                <li class="dotted-left"></li>
                <li class="wt2right">
                  <a href="#right" class="wdg_carousa_right carouselArrowRight">
                      <i class="tvsa-double-caret-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="twitter_sorteo_carousel">
            <ul>
{NOTEMPTY:LBL:username_1:CAPTION}              
                <li id="username_1">                    
                    <div  data-template class="twitter_sorteo_block one id_tw_[[_tempo.index]]">
                      <div class="twitter_sorteo_img">
                            <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                        </div>
                        <div class="twitter_sorteo_txt">
                        <a title="@[[user.screen_name]">
                            <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                            <p>[[text]]</p>                                
                          </a>  
                          <span class="twitter_sorteo_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                          <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                        </div>
                    </div>
                                            
                </li>
{EMPTY:END}

{NOTEMPTY:LBL:username_2:CAPTION}                                
                <li id="username_2">                    
                    <div  data-template class="twitter_sorteo_block one id_tw_[[_tempo.index]]">
                      <div class="twitter_sorteo_img">
                            <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                        </div>
                        <div class="twitter_sorteo_txt">
                        <a title="@[[user.screen_name]">
                            <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                            <p>[[text]]</p>                                
                          </a>  
                          <span class="twitter_sorteo_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                          <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                        </div>
                    </div>
                                            
                </li>
{EMPTY:END}

{NOTEMPTY:LBL:hashtag:CAPTION}
                <li id="hashtag">                    
                    <div  data-template>
                      <div data-template="results" class="twitter_sorteo_block one">
                        <div class="twitter_sorteo_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[profile_image_url]]" alt="[[from_user_name]]"></a>
                          </div>
                          <div class="twitter_sorteo_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[from_user_name]]<span class="cta_twitter textcolor-title4"> @[[from_user_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="twitter_sorteo_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                    </div>
                                            
                </li>
{EMPTY:END}
            </ul>
        </div>
    </div>    
    <div class="bullets">
        <div class="background-color1"></div>
        <div></div>
        <div></div>
    </div>

<script>
    var tweet_config={
        items: [
            {NOTEMPTY:LBL:username_1:CAPTION}{ "template" : "username_1", "screen_name" : "{LBL:username_1:CAPTION}", "max":2   },{EMPTY:END}           
            {NOTEMPTY:LBL:username_2:CAPTION}{ "template" : "username_2", "screen_name" : "{LBL:username_2:CAPTION}", "max":2   },{EMPTY:END}
            {NOTEMPTY:LBL:username_3:CAPTION}{ "template" : "username_3", "screen_name" : "{LBL:username_3:CAPTION}", "max":2   },{EMPTY:END}
            {NOTEMPTY:LBL:hashtag:CAPTION}{ "template" : "hashtag", "hashtags" : "{LBL:hashtag:CAPTION}", "max":2   }{EMPTY:END}
        ]
    };
</script>

</section>