<link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_twitt_02_mobile.css" media="screen">
      <link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_twitt_02_tablet.css" media="screen and (min-width: 624px)">
      <link rel="stylesheet" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/wdg_twitt_02.css" media="screen and (min-width: 948px)">

<div class="wdg_twitt_02" data-enhance="false">
     <div class="wdg_carousa showArrows">
            <div class="wdg_twitt_02_title">
                <strong class="background-color-pleca1">
                    <a class="textcolor-title3" target="_self" title="Link Description"> Twitter<span class="icon mobile"></span></a>
                </strong>
                <ul class="wt2_arrows">
                    <li class="wt2left">
                        <a href="#left" class="wdg_carousa_left carouselArrowLeft">
                            <i class="tvsa-double-caret-left inactive"></i>
                        </a>
                    </li>
                    <li class="dotted-left"></li>
                    <li class="wt2right">
                        <a href="#right" class="wdg_carousa_right carouselArrowRight">
                            <i class="tvsa-double-caret-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
          <div class="wdg_twitt_02_carousel">
              <ul>
  {NOTEMPTY:LBL:username_1:CAPTION}              
                  <li class="showArrows" id="username_1">                    
                      <div class="wdg_twitt_02_block one showArrows">
                        <div class="wdg_twitt_02_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                          </div>
                          <div class="wdg_twitt_02_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="wdg_twitt_02_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                                              
                  </li>
  {EMPTY:END}

  {NOTEMPTY:LBL:username_2:CAPTION}                                
                  <li class="showArrows" id="username_2">                    
                      <div  data-template class="wdg_twitt_02_block one id_tw_[[_tempo.index]] showArrows">
                        <div class="wdg_twitt_02_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                          </div>
                          <div class="wdg_twitt_02_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="wdg_twitt_02_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                                              
                  </li>
  {EMPTY:END}

  {NOTEMPTY:LBL:username_3:CAPTION}              
                  <li class="showArrows" id="username_3">                    
                      <div  data-template class="wdg_twitt_02_block one id_tw_[[_tempo.index]] showArrows">
                        <div class="wdg_twitt_02_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                          </div>
                          <div class="wdg_twitt_02_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="wdg_twitt_02_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                                              
                  </li>
  {EMPTY:END}

  {NOTEMPTY:LBL:username_4:CAPTION}              
                  <li class="showArrows" id="username_4">                    
                      <div  data-template class="wdg_twitt_02_block one id_tw_[[_tempo.index]] showArrows">
                        <div class="wdg_twitt_02_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                          </div>
                          <div class="wdg_twitt_02_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="wdg_twitt_02_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                                              
                  </li>
  {EMPTY:END}

  {NOTEMPTY:LBL:username_5:CAPTION}              
                  <li class="showArrows" id="username_5">                    
                      <div  data-template class="wdg_twitt_02_block one id_tw_[[_tempo.index]] showArrows">
                        <div class="wdg_twitt_02_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                          </div>
                          <div class="wdg_twitt_02_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="wdg_twitt_02_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                                              
                  </li>
  {EMPTY:END}

  {NOTEMPTY:LBL:username_6:CAPTION}              
                  <li class="showArrows" id="username_6">                    
                      <div  data-template class="wdg_twitt_02_block one id_tw_[[_tempo.index]] showArrows">
                        <div class="wdg_twitt_02_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                          </div>
                          <div class="wdg_twitt_02_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="wdg_twitt_02_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                                              
                  </li>
  {EMPTY:END}

  {NOTEMPTY:LBL:username_7:CAPTION}              
                  <li class="showArrows" id="username_7">                    
                      <div  data-template class="wdg_twitt_02_block one id_tw_[[_tempo.index]] showArrows">
                        <div class="wdg_twitt_02_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                          </div>
                          <div class="wdg_twitt_02_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="wdg_twitt_02_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                                              
                  </li>
  {EMPTY:END}
  {NOTEMPTY:LBL:username_8:CAPTION}              
                  <li class="showArrows" id="username_8">                    
                      <div  data-template class="wdg_twitt_02_block one id_tw_[[_tempo.index]] showArrows">
                        <div class="wdg_twitt_02_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                          </div>
                          <div class="wdg_twitt_02_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="wdg_twitt_02_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                                              
                  </li>
  {EMPTY:END}

  {NOTEMPTY:LBL:username_9:CAPTION}              
                  <li class="showArrows" id="username_9">                    
                      <div  data-template class="wdg_twitt_02_block one id_tw_[[_tempo.index]] showArrows">
                        <div class="wdg_twitt_02_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                          </div>
                          <div class="wdg_twitt_02_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="wdg_twitt_02_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                                              
                  </li>
  {EMPTY:END}

  {NOTEMPTY:LBL:username_10:CAPTION}              
                  <li class="showArrows" id="username_10">                    
                      <div  data-template class="wdg_twitt_02_block one id_tw_[[_tempo.index]] showArrows">
                        <div class="wdg_twitt_02_img">
                              <a href="http://www.twitter.com/[[user.screen_name]]" target="_blank"><img src="http://i2.esmas.com/spacer.gif" data-s<?php /* */ ?>rc="[[user.profile_image_url]]" alt="[[user.screen_name]]"></a>
                          </div>
                          <div class="wdg_twitt_02_txt">
                          <a title="@[[user.screen_name]">
                              <span class="title textcolor-title2">[[user.screen_name]]<span class="cta_twitter textcolor-title4"> @[[user.screen_name]]</span></span>                                
                              <p>[[text]]</p>                                
                            </a>  
                            <span class="wdg_twitt_02_blue">[[created_at|date 'HH:mm']] - <a href="https://twitter.com/intent/tweet?in_reply_to=[[id_str]]">Reply</a>
                            <a href="https://twitter.com/intent/retweet?tweet_id=[[id_str]]">Retweet</a> - <a href="https://twitter.com/intent/favorite?tweet_id=[[id_str]]">Favorito</a></span>                                
                          </div>
                      </div>
                                              
                  </li>
  {EMPTY:END}
              </ul>
          </div>
      </div>    
      <div class="bullets">
          <div class="background-color1"></div>
          <div></div>
          <div></div>
      </div>

  <script>
      var tweet_config={
          items: [
              {NOTEMPTY:LBL:username_1:CAPTION}{ "template" : "username_1", "screen_name" : "{LBL:username_1:CAPTION}", "max":2   },{EMPTY:END}           
              {NOTEMPTY:LBL:username_2:CAPTION}{ "template" : "username_2", "screen_name" : "{LBL:username_2:CAPTION}", "max":2   },{EMPTY:END}
              {NOTEMPTY:LBL:username_3:CAPTION}{ "template" : "username_3", "screen_name" : "{LBL:username_3:CAPTION}", "max":2   },{EMPTY:END}
              {NOTEMPTY:LBL:username_4:CAPTION}{ "template" : "username_4", "screen_name" : "{LBL:username_4:CAPTION}", "max":2   },{EMPTY:END}
              {NOTEMPTY:LBL:username_5:CAPTION}{ "template" : "username_5", "screen_name" : "{LBL:username_5:CAPTION}", "max":2   },{EMPTY:END}
              {NOTEMPTY:LBL:username_6:CAPTION}{ "template" : "username_6", "screen_name" : "{LBL:username_6:CAPTION}", "max":2   },{EMPTY:END}
              {NOTEMPTY:LBL:username_7:CAPTION}{ "template" : "username_7", "screen_name" : "{LBL:username_7:CAPTION}", "max":2   },{EMPTY:END}
              {NOTEMPTY:LBL:username_8:CAPTION}{ "template" : "username_8", "screen_name" : "{LBL:username_8:CAPTION}", "max":2   },{EMPTY:END}
              {NOTEMPTY:LBL:username_9:CAPTION}{ "template" : "username_9", "screen_name" : "{LBL:username_9:CAPTION}", "max":2   },{EMPTY:END}
              {NOTEMPTY:LBL:username_10:CAPTION}{ "template" : "username_10", "screen_name" : "{LBL:username_10:CAPTION}", "max":2   },{EMPTY:END}

              {NOTEMPTY:LBL:hashtag:CAPTION}{ "template" : "hashtag", "hashtags" : "{LBL:hashtag:CAPTION}", "max":2   }{EMPTY:END}
          ]
      };
  </script>

  </div>