<div class="video">
    <div class="titulo_menu_video">{LBL:Video_Titulo:CAPTION}</div>
    <div class="menu_video">
    <nav>
        <ul class="lista_video">
        {NOTEMPTY:LBL:Id_Senal1:CAPTION} 
            <!-- {LBL:Activo_Senal1:CAPTION} -->
            <li 
                {NOTEMPTY:LBL:Activo_Senal1:CAPTION} 
                     class="select" 
                {EMPTY:END}
            >
                <input type="button" data-id="{LBL:Id_Senal1:CAPTION}" id="signal1" class="link-iframe no-border" value="{LBL:Titulo_Senal1:CAPTION}">
            </li>
        {EMPTY:END}
        {NOTEMPTY:LBL:Id_Senal2:CAPTION} 
            <!-- {LBL:Activo_Senal2:CAPTION} -->
            <li 
                {NOTEMPTY:LBL:Activo_Senal2:CAPTION} 
                     class="select" 
                {EMPTY:END}
            >
                <input type="button" data-id="{LBL:Id_Senal2:CAPTION}" id="signal2" class="link-iframe" value="{LBL:Titulo_Senal2:CAPTION}">
            </li>
        {EMPTY:END}
        {NOTEMPTY:LBL:Id_Senal3:CAPTION} 
            <!-- {LBL:Activo_Senal3:CAPTION} -->
            <li 
                {NOTEMPTY:LBL:Activo_Senal3:CAPTION} 
                     class="select" 
                {EMPTY:END}
            >
                <input type="button" data-id="{LBL:Id_Senal3:CAPTION}" id="signal3" class="link-iframe" value="{LBL:Titulo_Senal3:CAPTION}">
            </li>
        {EMPTY:END}
        </ul>
    </nav>
</div>
<div class="videoWrapper">
    <div class="content_video">
        <iframe id="videoplayer"></iframe>
    </div>
    <div class="overlay">
        <a class="btn_vid square" href="#"><i class="tvsa-play videobtn"></i></a>
            <div class="video_whtbkg">
                <p class="video_black">{LBL:Video_Descripcion:CAPTION}</p>
                <p class="video_gray">Video: {LBL:Video_Fuente:CAPTION}</p> 
            </div>
        </div>
        <div class="desktop_noautoplay">Presione play para comenzar reproducci&oacute;n de video en vivo.</div>
        <div class="video_nota">{LBL:Video_Descripcion:CAPTION}</div>
    </div>
    <div class="mobile_noautoplay">Presione play para comenzar reproducci&oacute;n de video en vivo.</div>            
</div>