<!-- {VID:video_1:link} | {VID:video_2:link} | {VID:video_3:link} | {VID:video_4:link} | {VID:video_5:link} | {VID:video_6:link} | {VID:video_7:link} |{VID:video_8:link} | {VID:video_9:link} | {VID:video_10:link} | {LBL:titulo_pleca:CAPTION} -->





<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/global.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/colores.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/tvsa-icons.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/jquery.mobile-1.3.2.min.css">

<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/vid_4vids_04.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/vid_4vids_04_mobile.css">
<link rel="stylesheet" type="text/css" href="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/css/vid_4vids_04_tablet.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/head.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/Televisa.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/global.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.corner.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.mb.miniPlayer.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jquery.lightbox_me.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/jplayer_request.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/swipeupdown.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/swipe2.js"></script>
<script type="text/javascript" src="http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/js/vid_4vids_04.js"></script>


<script type="text/javascript">
;jQuery(function($){ 
    (function ($, T) {
        var $m = $('.wdg_mix_carrousa div:last-child'),
        animationDelay = 500;
        
        var $w = $('.wdg_mix_carrousa div:last-child ul li');
        var $count = 0;
        
        $w.each(function() {
            $count ++;
        });


        var elem = $('.vid_4vids_04 .carrusel-sizes .cont4 > div');
        var num = elem.length;
        var tam = Math.ceil(num/4);
        if(tam <= 1 )$('.vid_4vids_04 .tvsa-double-caret-right').addClass('inactive');

        
        $m.each(function() {
            var $total = 160;
            if( $count <= 2){
               $total = 60; 
            }
            var $items = $(this).find('ul li'),
            padding = ($(this).parent().hasClass('wdg_mix_carrousa')) ? 41 : 24,
            Pointer = {
                UP: (T.getIsTouchDevice()) ? 'touchend' : 'mouseup',
                DOWN: (T.getIsTouchDevice()) ? 'touchstart' : 'mousedown'
            },
            $parent = $(this);


            /*Anchura........*/
            //alert($(window).width());         
            if( $(window).width() > 960  ){
                $('.carrusel-sizes').width('956px');
            }
            if( $(window).width() >= 624 && $(window).width() <= 960  ){
                $('.carrusel-sizes').width('956px');            
            }
            if( $(window).width() < 624 ){
                $('.carrusel-sizes').width('956px');
                //$('.carrusel-sizes').width($(window).width());
            }
            /*Default*/
            
            
            if (/Android|iPhone|iPod|iPad/.test(navigator.userAgent) && // If it's an iPad, iPod or iPhone
                !(/OS [2-4]_\d(_\d)? like Mac OS X/i.test(navigator.userAgent))) { // And the version of the OS is bigger than 4.x...
                $(this).addClass('iOS');
            } else {
                    
                // Touch devices (non-iOS or iOS < 5)
                var isWinPhone = /Windows Phone/.test(navigator.userAgent);

                if (T.getIsTouchDevice() && !T.isBlackBerryCurve()) {

                    // Hide the arrows if it's not carouseltype1b
                    /*if (!$(this).parent().hasClass('wdg_mix_carrousa')) {
                    $(this).parent().find('div:first-child ul').hide();
                }*/

                    $(this).bind('touchstart', function(e) {
                        var clientX = e.originalEvent.changedTouches[0].clientX;

                        $(this).attr('startX', clientX);
                        $(this).attr('down', true);
                        $(this).attr('scrollLeft', $(this).scrollLeft());
                    });

                    $(this).bind('touchend', function(e) {
                        if ($(this).attr('active') === 'true') {
                            e.preventDefault();
                            e.stopPropagation();
                        }

                        $(this).attr('active', false);
                        $(this).attr('down', false);
                    });

                    $(this).bind('touchmove', function(e) {
                                        
                                        
                        var clientX = e.originalEvent.changedTouches[0].clientX,
                        sx = $(this).attr('startX') >> 0,
                        ex = clientX;

                        if (Math.abs(sx - ex) > 10) {
                            $(this).attr('active', true);
                        }

                        if ($(this).attr('active') === 'true') {
                            e.preventDefault();

                            $(this).scrollLeft(($(this).attr('scrollLeft') >> 0) + (sx - ex));
                        }

                        return false;
                    });
                } else {
                    // Force the arrows to show up
                    $(this).parent().addClass('showArrows');
                }
            }

            // Support the click event on arrows
            $parent.parent().find('a.wdg_carousa_left').click(function(e) {
                e.preventDefault();
                if( $(window).width() >= 624 && $(window).width() <= 960  ){
                    $parent.animate({
                        'scrollLeft': $parent.scrollLeft() - 300
                    }, animationDelay);
                }else
                {
                    $parent.animate({
                        'scrollLeft': $parent.scrollLeft() - 329
                    }, animationDelay);
                    
                }
                        
            });

            $parent.parent().find('a.wdg_carousa_right').click(function(e) {
                if(tam > 1 ){
                    e.preventDefault();
                    if( $(window).width() >= 624 && $(window).width() <= 960  ){
                        $parent.animate({
                            'scrollLeft': $parent.scrollLeft() + 300
                        }, 500);
                    }else
                    {
                        $parent.animate({
                        'scrollLeft': $parent.scrollLeft() + 329
                        }, 500);
                    }

                    }

                });
            

        });

        /*Diferente ventana*/
        $(window).resize(function() {
            if( $(window).width() > 960  ){
                $('.carrusel-sizes').width('956px');
            }
            if( $(window).width() > 624 && $(window).width() < 960  ){
                $('.carrusel-sizes').width('956px');
            }
            if( $(window).width() < 624 ){
                $('.carrusel-sizes').width('956px');
                //$('.carrusel-sizes').width($(window).width());
            }
        });
        /*Swipe*/
            /*horizontal*/
        $('.vid_4vids_04 .wdg_mix_carrousa .general').bind('swipeleft',function(){
            if($(window).width() > 624){$v4v4_move = 329;}else{$v4v4_move = 318;}
                $(this).animate({
                        'scrollLeft': $(this).scrollLeft() + $v4v4_move
                    }, 500);
            });
        $('.vid_4vids_04 .wdg_mix_carrousa .general').bind('swiperight',function(){
            if($(window).width() > 624){$v4v4_move = 329;}else{$v4v4_move = 318;}
                $(this).animate({
                        'scrollLeft': $(this).scrollLeft() - $v4v4_move
                    }, 500);
            }); 
            /*vertical*/
        $('.vid_4vids_04 .wdg_mix_carrousa .general').bind('swipeup',function(){
                 $('body,html').animate({
                        'scrollTop': $(window).scrollTop() + 200
                    }, 500);
            });
        $('.vid_4vids_04 .wdg_mix_carrousa .general').bind('swipedown',function(){
                $('body,html').animate({
                        'scrollTop': $(window).scrollTop() - 200
                    }, 500);
            });
        /*Monitoreo scroll*/
    $('.vid_4vids_04 .general').scroll(function() {
        /*Horizontal*/
        var $v43_position = $(this).scrollLeft();
        var $v43_med = $v43_position;
        if($v43_position == 0){
            $(this).siblings('.vid_4vids_04_title').children('.arrows').children().children().children('.tvsa-double-caret-left').addClass('inactive');
                $(this).parents('.vid_4vids_04').children('.bullets').children().removeClass();
                $(this).parents('.vid_4vids_04').children('.bullets').children().eq(0).addClass('background-color1');
        }
        else{
        $(this).siblings('.vid_4vids_04_title').children('.arrows').children().children().children('.tvsa-double-caret-left').removeClass('inactive');
        $(this).siblings('.vid_4vids_04_title').children('.arrows').children().children().children('.tvsa-double-caret-right').removeClass('inactive');
        $(this).parents('.vid_4vids_04').children('.bullets').children().removeClass();
        $(this).parents('.vid_4vids_04').children('.bullets').children().eq(1).addClass('background-color1');
        }
        if($v43_med > 350){
        $(this).siblings('.vid_4vids_04_title').children('.arrows').children().children().children('.tvsa-double-caret-right').addClass('inactive');
        $(this).parents('.vid_4vids_04').children('.bullets').children().removeClass();
        $(this).parents('.vid_4vids_04').children('.bullets').children().eq(2).addClass('background-color1');
        }
        /*Vertical*/
        var $v43_alt = $(this).children('.carrusel-sizes').height();
        var $v43_position2 = $(this).scrollTop();
        var $v43_med2 = $v43_position2 + $(this).height();
        if($v43_med2 == $v43_alt ){
            $(this).parent().siblings('.degraded').css("visibility","hidden");
        }
        else{
            $(this).parent().siblings('.degraded').css("visibility","visible");
        }
        console.log('Scroll: '+$v43_position2+' suma: '+$v43_med2+' alt_tot: '+$v43_alt);
    });
    
    $('.vid_4vids_04 .general').bind("touchmove",function(event){
    event.preventDefault();
    });
        
        /*Ver más modo mobile*/
        /*$('.vid_4vids_04 .vid_4vids_04_verMas').click(function(event){
            event.preventDefault();
            $('.vid_4vids_04 .carrusel-sizes > div').show();
            altura = $('.vid_4vids_04 .carrusel-sizes').height();
            altura = altura + 40;
            $('.vid_4vids_04').css('height',altura);
            $('.vid_4vids_04 .vid_4vids_04_verMas').hide();
        });*/
        
    }(jQuery, Televisa));
});


</script>

    <div class="vid_4vids_04" data-enhance="false">
        <div class="wdg_mix_carrousa showArrows">
            <div class="vid_4vids_04_title">
                <div class="one background-color-pleca1">
                    <a href="http://www.televisa.com/" title="Link Description">
                        {LBL:titulo_pleca:CAPTION}<span class="icon mobile"></span>
                    </a>
                </div>
                <ul class="arrows">
                    <li>
                        <a href="#left" class="wdg_carousa_left carouselArrowLeft">
                            <i class="tvsa-double-caret-left inactive"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#right" class="wdg_carousa_right carouselArrowRight">
                            <i class="tvsa-double-caret-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="general">
                <div class="carrusel-sizes">
                    
                    <div class="cont4 cont4_first">
                        <div class="izq1 ">
                            <a href="{VID:video_1:LINK}" class="ventana" title="{VID:video_1:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_1:IMAGE}" alt="{VID:video_1:TITLE}">
                            </a>
                            <div class="two"><a href="{VID:video_1:LINK}" title="{VID:video_1:TITLE}">{VID:video_1:TITLE}</a></div>
                        </div>
                        <div class="izq">
                            <a href="{VID:video_2:LINK}" class="ventana" title="{VID:video_2:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_2:IMAGE}" alt="{VID:video_2:TITLE}" >
                            </a>
                            <div class="two"><a href="{VID:video_2:LINK}" title="{VID:video_2:TITLE}">{VID:video_2:TITLE}</a></div>
                        </div>
                        <div class="izq1 ">
                            <a href="{VID:video_3:LINK}" class="ventana" title="{VID:video_3:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_2:IMAGE}" alt="{VID:video_3:TITLE}">
                            </a>
                            <div class="two"><a href="{VID:video_3:LINK}" title="{VID:video_3:TITLE}">{VID:video_3:TITLE}</a></div>
                        </div>
                        <div class="izq">
                            <a href="{VID:video_4:LINK}" class="ventana" title="{VID:video_4:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_4:IMAGE}" alt="{VID:video_4:TITLE}" >
                            </a>
                            <div class="two"><a href="{VID:video_4:LINK}" title="{VID:video_4:TITLE}">{VID:video_4:TITLE}</a></div>
                        </div>
                    </div>  
                    
                    <div class="cont4">
                         <div class="izq1 ">
                            <a href="{VID:video_5:LINK}" class="ventana" title="{VID:video_5:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_5:IMAGE}" alt="{VID:video_5:TITLE}">
                            </a>
                            <div class="two"><a href="{VID:video_5:LINK}" title="{VID:video_5:TITLE}">{VID:video_5:TITLE}</a></div>
                        </div>
                        <div class="izq">
                            <a href="{VID:video_6:LINK}" class="ventana" title="{VID:video_6:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_6:IMAGE}" alt="{VID:video_6:TITLE}" >
                            </a>
                            <div class="two"><a href="{VID:video_6:LINK}" title="{VID:video_6:TITLE}">{VID:video_6:TITLE}</a></div>
                        </div>
                        <div class="izq1 ">
                            <a href="{VID:video_7:LINK}" class="ventana" title="{VID:video_7:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_7:IMAGE}" alt="{VID:video_7:TITLE}">
                            </a>
                            <div class="two"><a href="{VID:video_7:LINK}" title="{VID:video_7:TITLE}">{VID:video_7:TITLE}</a></div>
                        </div>
                        <div class="izq">
                            <a href="{VID:video_8:LINK}" class="ventana" title="{VID:video_8:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_8:IMAGE}" alt="{VID:video_8:TITLE}" >
                            </a>
                            <div class="two"><a href="{VID:video_8:LINK}" title="{VID:video_8:TITLE}">{VID:video_8:TITLE}</a></div>
                        </div>
                    </div>  
                        
                        
                    <div class="cont4 last">
                         <div class="izq1 ">
                            <a href="{VID:video_9:LINK}" class="ventana" title="{VID:video_9:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_9:IMAGE}" alt="{VID:video_9:TITLE}">
                            </a>
                            <div class="two"><a href="{VID:video_9:LINK}" title="{VID:video_9:TITLE}">{VID:video_9:TITLE}</a></div>
                        </div>
                        <div class="izq">
                            <a href="{VID:video_10:LINK}" class="ventana" title="{VID:video_10:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_10:IMAGE}" alt="{VID:video_10:TITLE}" >
                            </a>
                            <div class="two"><a href="{VID:video_10:LINK}" title="{VID:video_10:TITLE}">{VID:video_10:TITLE}</a></div>
                        </div>
                        <div class="izq1 ">
                            <a href="{VID:video_11:LINK}" class="ventana" title="{VID:video_11:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_11:IMAGE}" alt="{VID:video_11:TITLE}">
                            </a>
                            <div class="two"><a href="{VID:video_11:LINK}" title="{VID:video_11:TITLE}">{VID:video_11:TITLE}</a></div>
                        </div>
                        <div class="izq">
                            <a href="{VID:video_12:LINK}" class="ventana" title="{VID:video_12:TITLE}">
                            <div class="overlay"><i class="tvsa-camera"></i></div>
                            <img width="136" height="104" src="{VID:video_12:IMAGE}" alt="{VID:video_12:TITLE}" >
                            </a>
                            <div class="two"><a href="{VID:video_12:LINK}" title="{VID:video_12:TITLE}">{VID:video_12:TITLE}</a></div>
                        </div>
                    </div>
                        
                </div><!-- Contenedor -->  
            </div><!--General-->
          </div><!--wdg_mix_carrousa showArrows-->
        <div class="bullets">
            <div class="background-color1"></div>
            <div></div>
            <div></div>
        </div>
        <div class="degraded"></div>
         <!-- <div class="vid_4vids_04_verMas">
            <a class="textcolor-title4" href="#">Ver Más</a>
         </div> -->
          
    </div>