<!-- {LBL:ticker_master:CAPTION} | {LBL:ticker_tournament:CAPTION} | {LBL:url_ver_todos:CAPTION} | {LBL:tema:CAPTION} -->
 <?php if($ticker_tournament->caption('')!=="" || $ticker_master->caption('')!=="" ){ ?>
 <div id="parentmatchresult">
    {NOTEMPTY:BAN:sponsor:scripts}<div class="ads_matchresult">{BAN:sponsor:SCRIPTS}</div>{EMPTY:END}
    <div class="wdg_matchesresult_01" data-enhance="false" id="parentWDG_matchresult_01" ></div>
 </div>
 <?php } ?>
 
 
<?php if($ticker_tournament->caption('')!=="" || $ticker_master->caption('')!=="" ){  ?>
<script>
    $(function() {
            $("#parentWDG_matchresult_01").wdgMatchResult({                
                {NOTEMPTY:LBL:ticker_master:CAPTION} 'tickermaster':{LBL:ticker_master:CAPTION}, {EMPTY:ELSE}
                {NOTEMPTY:LBL:ticker_tournament:CAPTION}'tickertournament':{LBL:ticker_tournament:CAPTION}, {EMPTY:END}{EMPTY:END}
                {NOTEMPTY:LBL:tema:CAPTION}'tema':'{LBL:tema:CAPTION}',{EMPTY:END}
                {NOTEMPTY:LBL:url_ver_todos:CAPTION}'link':'{LBL:url_ver_todos:CAPTION}'{EMPTY:END}
            });
        });
</script>
<?php } ?>