/*mobile*/
    .wdg_social_01{
        display: inline;
        float: left;
        height: 60px;
        margin-bottom: 5px;
        width: 300px;
    }
    .wdg_social_01 #social-iconos {
        width:100%;
        height:75px;
        margin-bottom:10px;
        display:block;
        clear:both;
        background-color: #f5f5f5; 
    }
    .wdg_social_01 .social-icons{display:table}
    .wdg_social_01 .social-icons ul {
        list-style-image:none;
        list-style-position:outside;
        list-style-type:none;
        text-align:right;
        padding:5px 5px 0 0;
        margin-top: 0;
        margin-bottom: 7px;
    }
    .wdg_social_01 .social-icons ul {
        padding:0;
        float:left;
        margin-bottom:0;

    }
    .wdg_social_01 .social-icons li.social_icon {
        background:none !important;
        padding-left:0 !important;
        display:inline;
        float:left;
        padding-right: 6px;
        height: 30px;
        text-align: center;
    }
    
/*DEsktop*/
   .wdg_social_01{
        height: 60px;
    }
    .wdg_social_01 #social-iconos {
        width:100%;
        height:75px;
        margin-bottom:10px;
        display:block;
        clear:both;
        background-color: #f5f5f5; 
    }
    .wdg_social_01 .social-icons{display:table}
    .wdg_social_01 .social-icons ul {
        list-style-image:none;
        list-style-position:outside;
        list-style-type:none;
        text-align:right;
        padding:5px 5px 0 0;
        margin-top: 0;
        margin-bottom: 7px;
    }
    .wdg_social_01 .social-icons ul {
        padding:0;
        float:left;
        margin-bottom:0;

    }
      .wdg_social_01{	
        height: 60px;
		padding-top:24px;
    }
    
    .wdg_social_01 #social-iconos {
        width:100%;
        height:75px;
        margin-bottom:10px;
        display:block;
        clear:both;
        background-color: #f5f5f5; 
    }
    .wdg_social_01 .social-icons{display:table}
    .wdg_social_01 .social-icons ul {
        list-style-image:none;
        list-style-position:outside;
        list-style-type:none;
        text-align:right;
        padding:5px 5px 0 0;
        margin-top: 0;
        margin-bottom: 7px;
    }
    .wdg_social_01 .social-icons ul {
        padding:0;
        float:left;
        margin-bottom:0;
    }

    .wdg_social_01 .social-icons ul li{
        display: inline-block;
    }   

    .wdg_social_01 .social-icons ul li{
        margin-left:0px !important;
        width: 65px;
        float: left;
    }
/*BEGIN: art_bullet_01 / mobile*/
@media screen and (max-width:623px){
		 .wdg_social_01{
		 	margin-bottom: 12px;
		 }
}