@media screen {
    .btn_6prog_02{
        margin-bottom: 16px;
        overflow: hidden;
    }
    .btn_6prog_02 .type1a {
        overflow: hidden;
        width: 100%;
    }
     .btn_6prog_02 .type1a .carrusel{
        overflow: hidden;
    }
    .btn_6prog_02 .type1a .carrusel ul{
        overflow: hidden;
    }
    .btn_6prog_02 .type1a div {
        width: 100%;
        height: auto;
    }
    .btn_6prog_02 .type1a .title {
        border-bottom: 1px solid #CCC;
    }
    .btn_6prog_02 .type1a .title .flechas{
        display: none;
    }
    .btn_6prog_02 .type1a div ul {
        width: 62px;
        margin: 0;
        float: right;
    }
    .btn_6prog_02 .type1a div ul li {
        width: 33px;
		height:21px;
        float: left;
        margin: 0;
        margin-top: 5px;
    }
	
	.btn_6prog_02 .type1a div .flechas li:nth-child(2) {
		width: 21px;
	}
    .btn_6prog_02 .type1a div ul li a {
        width: 15px;
        height: 16px;
        padding-right: 1px !important;
    }
	.btn_6prog_02 .type1a div ul li .carouselArrowRight {
		padding-left: 14px;
	}
    .btn_6prog_02 .type1a div ul li:first-child {
        margin: 6px 0 0 0;
    }
   
    .btn_6prog_02 .type1a.showArrows .title h1 {
        width: 50%;
    }
    .btn_6prog_02 .type1a.showArrows .title h1 a span.icon {
        display: none;
    }
    .btn_6prog_02 .type1a .carrusel {
        width: 100%;
        overflow: hidden;
    }
    .btn_6prog_02 .type1a .carrusel ul {
        float: none;
        margin: 0;
        margin-top: 12px;
        width: 16000px;
        height: 156px;
    }
    .btn_6prog_02 .type1a .carrusel ul:before,
    .btn_6prog_02 .type1a .carrusel ul:after {
        content: "";
        display: table;
    }
    .btn_6prog_02 .type1a .carrusel ul:after {
        clear: both;
    }
    .btn_6prog_02 .type1a .carrusel ul {
        zoom: 1;
    }
    .btn_6prog_02 .type1a .carrusel ul li {
        display: block;
        float: left;
        width: 137px;
        height: auto;
        margin: 0 0 24px 25px;
    }
    .btn_6prog_02 .type1a .carrusel ul li h3 {
        font-size: 14px;
        line-height: 16px;
        width: 136px;
    }
    .btn_6prog_02 .type1a .carrusel ul li h3 a {
        color: black;
        background: none;
        width: auto;
        height: auto;
        overflow: hidden;
    }
    .btn_6prog_02 .type1a .carrusel ul li p {
        font-style: italic;
        font-size: 11px;
        font-weight:normal;
    }
    .btn_6prog_02 .type1a .carrusel ul li a {
        width: auto;
        height: auto;
        padding: auto;
        background: none;
        display: block;
    }
    .btn_6prog_02 .type1a .carrusel ul li a img {
        width: 136px;
        height: 102px;
        background-color: #666;
        margin-bottom: 1px !important;
    }
    .btn_6prog_02 .type1a .carrusel ul li:first-child {
        margin: 0 0 0 12px;
    }
    .btn_6prog_02 .type1a .carrusel ul li:last-child {
        margin-right: 0;
        border: none;
    }
   
    .btn_6prog_02 .type1a .title h2 a {
        font-size: 14px;
        padding-left:24px;
        text-decoration: none;
        color: #fff;
        height: 32px;
        display: block;
        line-height: 40px;
        background: none;
        -webkit-background-size: 12px 12px;
        -moz-background-size: 12px 20px;
        -o-background-size: 12px 12px;
        background-size: 12px 20px;
		margin-top: 0px;
    }
    .btn_6prog_02 .bullets{
        display: block;
        width: 100%;
        border-top: 1px solid #CCC;
        margin-bottom: 0px;
        height: 20px;
    }
    .ie7 .btn_6prog_02 .bullets{
        display: block;
        width: 100%;
        border-top: 1px solid #CCC;
        margin-bottom: 0px;
        height: 20px;
    }
    .btn_6prog_02 .bullets ul{
        width:102px;
        float: right;
        margin-top:10px;
		margin-right:12px;
    }
    .btn_6prog_02 .bullets ul li{

        width:12px;
        height: 12px;
        background-color:#CCC;
        margin-left: 5px;
        float:left;
    }
    .btn_6prog_02 .bullets ul li.selected{
        background-color:#A70A0B;
    }
	.btn_6prog_02 .carouselArrowLeft{
		margin-top:-2px;
	}
    .btn_6prog_02 .inactive{
        color: #BABABA;
    }
}@media screen and (min-width: 624px){
    .btn_6prog_02{
        margin-bottom: 36px;
        overflow: hidden;
    }
    .btn_6prog_02 .type1a {
        padding-left: 0;
    }
    .btn_6prog_02 .type1a .title .flechas{
        display: none !important;
    }
    .btn_6prog_02 .type1a ul {
        margin: 25px 0 auto;
    }
   
    .btn_6prog_02 .type1a .carrusel {
        overflow: hidden !important;
    }
    .btn_6prog_02 .type1a .carrusel ul {
        margin-top: 0;
        overflow: hidden !important;
    }
    .btn_6prog_02 .type1a .carrusel ul li {        
        margin: 0 0 6px 25px;
    }
    .btn_6prog_02 div.title {
        margin-bottom: 24px;
    }
    .btn_6prog_02 div.title:before,
    .btn_6prog_02 div.title:after {
        content: "";
        display: table;
    }
    .btn_6prog_02 div.title:after {
        clear: both;
    }
    .btn_6prog_02 div.title {
        zoom: 1;
    }
    .btn_6prog_02 div.title h2 {
        width: 48%;
        min-width:165px;
        float: left;
        height: 32px;
		max-width: 300px;
    }
    .btn_6prog_02 div.title h2 a {
        background-image: none !important;
        padding: 7px 16px 5px 22px;
        line-height: 24px !important;
		line-height:32px;
    }
	.btn_6prog_02 .type1a .title h2 a {
		margin-top:-2px;
	}
    .btn_6prog_02 div.title h2 a span.icon {
        display: none;
    }

    .btn_6prog_02 .bullets ul li:nth-of-type(4),
    .btn_6prog_02 .bullets ul li:nth-of-type(5),
    .btn_6prog_02 .bullets ul li:nth-of-type(6){
        display: none;
    }
    .btn_6prog_02 .bullets ul {
        width: 53px;
        margin-top: 10px;
    }
    .btn_6prog_02 .type1a .carrusel ul li a img{
        width: 136px;
        height: 102px;
        background-color: #666;
        margin-bottom: 2px !important;
    }
    .btn_6prog_02 .type1a .carrusel ul li h2{
        font-size: 14px;
        line-height: 16px;
    }
    .btn_6prog_02 .type1a div ul li a{
        padding-right: 0 !important;
    }
    .btn_6prog_02 .type1a .carrusel ul{
        height: 156px !important;
    }
	.btn_6prog_02 .type1a .carrusel ul li:first-child {
        margin: 0;
    }
	.btn_6prog_02 .bullets ul{
		margin-right:0;
	}
	
	.btn_6prog_02 .title h2{
        width: 100%;
        font-size: 13px;
        float: left;
        text-align: left;
    }
}
@media only screen and (device-width: 768px) {
        .btn_6prog_02 .type1a div ul li a{
            padding-right: 0 !important;
            background-color: red;
        }
        .btn_6prog_02 .type1a .carrusel ul{
            height: 165px !important;
        }
    }@media screen and (min-width: 948px){
    
    .btn_6prog_02 {
        border-bottom: 1px solid #CCC;
    }
    .btn_6prog_02 .bullets{
        display: none;
    }
    .btn_6prog_02 .type1a .title .flechas{
        display: block !important;
    }
      .btn_6prog_02 .type1a .carrusel ul li {        
        margin: 0 0 24px 25px;
    }
    .btn_6prog_02 div.title h3 {
        width: 31%;
    }

    .btn_6prog_02 .carouselArrowLeft{
        width: 34px !important;
    }
    
    .btn_6prog_02 .carouselArrowRight{
        width: 14px !important;
    }
    .btn_6prog_02 .arrow_inactive{
        color: #8f8f8e !important; 
    }
    .btn_6prog_02 .arrow_active{
        color: #232323 !important; 
    }
    .ie7 .btn_6prog_02 .bullets{
    	display: none;
    }
}