@media screen and (min-width: 948px){
    /*Wrap*/
    .td_mxm_cronica_01 .main{
        width: 948px;
    }
    /* Contenedor principal */
    .td_mxm_cronica_01 .main .c1{
        float: left;
        clear: both;
        width: 624px;
    }
    /* Contenedor derecho */   
    .td_mxm_cronica_01 .main .c2{
        float:right;
        overflow: hidden;
        width: 300px;
    }
	.td_mxm_cronica_01 .main .c3{
        float: left;
        width: 624px;
    }
	.td_mxm_cronica_01 .main .c4
	{
		width:100%;
		clear:both;
		position:relative;
	}

	.td_mxm_cronica_01 .main .c1 .c1_3 {
    	width: 290px;
	}

    .art_note_01{
            padding: 15px;
            padding-top: 0px;
            font-size:12px;
            line-height: 16px;
            color:#333; 
            /*border-bottom:1px dashed #A1A1A1;*/
        }
        .art_note_01 p{       
            margin-bottom: 12px;
            font-size: 14px;    
            line-height: 16px;
            margin-left:9px;
        }

        .art_note_01 div.block_p{     
            font-size: 14px;    
        }
        .art_note_01 a{
            text-decoration:none;
            color: #eab11d;
            
        }
        .art_note_01 .block_p{
            margin-bottom: 15px;
        }
        
        .art_quote_01{
            /*background-color:blue;*/
            
        }
        
       /*.art_quote_01 a{
            width: 190px\0/;
            *width: 190px;
            height:auto\0/;
            *height:auto;
            display:inline-block\0/;
            *display:inline-block;        
            border-bottom: 1px solid #CCC!important\0/;
            float:left;
            margin-left: 8px;
            margin-left: 0px\0/;
            *margin-left: 0px;
        }*/
        /*.art_quote_01 {
            height: 68px;
        }*/
    }
    @media screen and (min-width: 624px){
        .art_note_01{
            /* margin-bottom:36px;   Se quitó el margen inferior por el espacio que deja entre un componente de texto y el siguiente del mismo tipo */
            font-size:14px;
        padding: 0 24px;
        }
      .art_note_01 p{
        font-size: 14px;
        }
    }/* only mobile */
    @media screen and (max-width: 623px) {
        blockquote.art_quote_01{
            max-width: 100%;
            padding:5%;
            border:0px none;
            margin:0;
        }
    }
    /*ie*/
    blockquote.art_quote_01{
        font-size: 19px;
        font-style: italic;
        font-weight: normal;
        line-height: 22px;
        color: #000;
        text-decoration:none;
         border-bottom: 1px solid #CCC;
            float:left;
            line-height:22px;
            margin: 24px 24px 24px -15px;
            max-width: 210px!important;
            padding:0 0 10px 0;
    }


    @media screen and (min-width: 624px){
        .art_quote_01{
            border-bottom: 1px solid #CCC;
            float:left;
            line-height:22px;
            margin: 24px 24px 24px -15px;
            max-width: 210px!important;
            padding:0 0 10px 0;
        }
      
      /* all devices */
      blockquote.art_quote_01,
      blockquote.art_quote_01 a{
        font-size: 19px;
        font-style: italic;
        font-weight: normal;
        line-height: 22px;
        color: #000;
        text-decoration:none;
      }
    }

        .nav_paginator_01 ul li a{
      font-size:11pt !important;
       text-indent:2px !important;
       color: #232323 !important;
  }
  .nav_paginator_01 ul li .selected{
       font-size: 13pt  !important;

  }

  
  /* ESTILOS  NAV HEADER */

  .row {

        margin-left: 0 !important;

  }

  .row {

       margin-left: -5px !important;

       margin-top: 32px !important;

  }



  .art_title_01 h1 a{

       font-weight: bold !important;

  }

  div.art_title_01_title p{

        margin-bottom:10px !important;

  }
    
}

      