/* All devices */
.regreso{
    background-color: #398218;
    width:100px;
    height: 35px;
    padding: 5px;
    font:italic bold 14px/30px Trebuchet MS;
    letter-spacing: -0.3px;
    color: white;
    display:inline-block;
    position: absolute;
    right: 22px;
}
.regreso img, .regreso span{
    display: inline-block;
    }

div.interes-gallery {display:none;position:relative;}
div.img_fotogalfull_01 div.share {display:none;}
div.img_fotogalfull_01 div.image-container:hover div.share {display:block;}
div.img_fotogalfull_01 span.data {display:none;}
div.img_fotogalfull_01 div.interes-gallery {display:none;}
div.img_fotogalfull_01 div.image-container,
div.img_fotogalfull_01 div.related-container {position:relative; overflow:hidden;}
div.img_fotogalfull_01 div.related-container {background:#e2e2e2; display:none;}
div.img_fotogalfull_01 div.share {position:absolute; top:0; left:24px;}
div.img_fotogalfull_01 div.share a {
    /*background:rgb(167, 10, 11);*/
    color:#FFF;
    display:block;
    float:left;
    height:28px;
    width:28px;
    line-height:28px;
    margin-right:1px;
    text-align:center;
}
div.img_fotogalfull_01 div.overlay {
    background:rgba(255,255,255,.75);
    position:absolute;
    bottom:3px;
    left:24px;
    width:100%;
}
div.img_fotogalfull_01 div.related-container div.overlay {
    bottom:0!important;
}
div.img_fotogalfull_01 div.overlay a {
    color:#59a529;
    font-style:italic;
}
div.img_fotogalfull_01 abbr,
div.img_fotogalfull_01 acronym {
    border-bottom:1px dotted;
}
.lt-ie9 div.img_fotogalfull_01 div.overlay {
    background:#FFF;
    opacity:.75;
    filter: alpha(opacity=75);
}
#col2 {display:none;}
div.img_fotogalfull_01 div.overlay p {font-size:12px;padding:24px 24px 24px 24px; text-align:left;}
div.img_fotogalfull_01 div.overlay div.controls {position:absolute;top:-28px;left:0;}
div.img_fotogalfull_01 div.overlay div.controls a {width:28px; color:#FFF; height:28px; display:block; margin-right:1px; float:left; text-align:center; line-height:28px;}

div.img_fotogalfull_01 a.left.disabled,
div.img_fotogalfull_01 a.right.disabled {color:#8C8C8C;}

/* Internet mo$%&fu*&#ng Explorer */
.ie7 div.img_fotogalfull_01 div.image-container div.overlay {
    background:url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/75percentwhite.png);
}
.ie7 img { -ms-interpolation-mode: bicubic; }
.ie7 div.carousel div {
    overflow:hidden;
    position:relative;
    width:80%!important;
    position:absolute;left:10%;
}
/* Only Mobile */
@media screen and (max-width: 623px) {
    div.img_fotogalfull_01 img.mainimage {width:100%;height:auto;}
    div.img_fotogalfull_01 div.share {display:none;}
    div.img_fotogalfull_01 #main {margin:0;}
    div.img_fotogalfull_01 div.carousel {display:none;}
    div.img_fotogalfull_01 div.overlay {width:100%; bottom:4px; position:relative; }
    div.img_fotogalfull_01 div.overlay .imageDescription {text-align:left;}
    div.img_fotogalfull_01 div.details {display:none;}
    .related-container {display:none;}
}@media screen and (min-width: 624px){
    #main {margin:0 24px 24px 24px;}
    #col1 { width: 100%; }
    #col2 { float:none; width: 300px}
    div.img_fotogalfull_01 {font-size:14px;}
    div.img_fotogalfull_01 div.image-container,
    div.img_fotogalfull_01 div.related-container {overflow:hidden; text-align:center; }
    div.related-container {display:none;color:#717171;}
    div.img_fotogalfull_01 div.related-container div.suggestions {width:486px; margin:50px auto 0 auto;}
    div.img_fotogalfull_01 div.related-container div.suggestions h2 {font-style:italic; margin-bottom:26px;}
    div.img_fotogalfull_01 div.related-container div.suggestions li {width:136px; height:150px; float:left; margin-right:26px;}
    div.img_fotogalfull_01 div.related-container div.suggestions a {color:#717171}
    div.img_fotogalfull_01 img.mainimage {width:100%; height:auto;}
    div.img_fotogalfull_01 div.overlay div.controls .rewind,
    div.img_fotogalfull_01 div.overlay div.controls .forward {display:none;}
    #col2 #col2_content {margin-top:-6px;}
    #col2 p {font-size:13px;line-height:17px;}
    div.img_fotogalfull_01 div.carousel {position:relative; padding:12px 0 0 0;  }
    div.img_fotogalfull_01 div.carousel div {margin:0 auto; height:38px; width:80%; overflow:hidden;}
    div.img_fotogalfull_01 div.carousel ul {width:10000px; margin:0; padding:0; float:left;}
    div.img_fotogalfull_01 div.carousel ul li {float:left; margin-right:12px;}
    div.img_fotogalfull_01 div.carousel ul li a {position:relative; display:block; float:left;}
    div.img_fotogalfull_01 div.carousel ul li a:hover span.border,
    div.img_fotogalfull_01 div.carousel ul li.active a span.border {position:absolute; top:0; left:0; border:3px solid #59a529; width:61px; height:32px;}
    div.img_fotogalfull_01 div.carousel a.left,
    div.img_fotogalfull_01 div.carousel a.right {position:absolute;top:12px; line-height:38px; width:10%; text-align:center; }
    div.img_fotogalfull_01 div.carousel a.left {left:0;}
    div.img_fotogalfull_01 div.carousel a.right {right:0;}
    div.img_fotogalfull_01 div.details {display:block; width:80%; margin:12px auto 36px auto; padding-top:24px;}
    div.img_fotogalfull_01 div.leftcol { width:45%; float:left; padding-right:5%;}
    div.img_fotogalfull_01 div.rightcol { margin-left:55%; }
    div.details strong {color: #59a529; font-style:italic; font-size:13px; font-weight:bold;}
    div.details div.leftcol p {}
    div.details div.rightcol p,
    div.details div.rightcol p a {color:#8c8c8c}
    div.details div.rightcol p {padding-bottom:24px;}
    div.details div.rightcol img.social {padding-top:24px;}
}@media screen and (min-width: 948px){
    #main {margin:0 24px 24px 24px;}
    #col1 { width: auto; margin: 0 324px 0 0;}
    #col2 { float:right; width: 300px; display:block; position:relative;}
    div.related-social { width:300px;position:absolute; bottom:0; padding:12px 0 0 0;}
    div.related-social strong {color: #59a529; font-style:italic; font-size:13px; font-weight:bold;}
    div.related-social p,
    div.related-social p a {color:#8c8c8c}
    div.related-social p {padding-bottom:24px; margin-bottom: 24px;}
    div.related-social img.social {padding-top:24px;}
    div.img_fotogalfull_01 div.details {display:none;}
    .related-container {display:none;}
}@media screen{ 

    /*Fondo.....*/
    .nav_corft_01_sprite {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/global-sprites.png) no-repeat 0 0;
        display: inline-block;
        height: 10px;
        overflow: hidden;
        text-indent: -1584px;
        width: 10px;
    }
    .nav_corft_01_sprite.logo {
        background-position: -270px -40px;
        height: 21px;
        width: 30px;
        margin-right: 6px;
    }
    /*END Fondo*/
    
    .nav_corft_01 .noticias {
        background-color: green;
    }
    .nav_corft_01 .deportes {
        background-color: #a41d21;
    }
    .nav_corft_01 .entretenimiento {
        background-color: #edba1f;
    }
    .nav_corft_01 .ninos {
        background-color: #3eb9b6;
    }
    .nav_corft_01 .estilo {
        background-color: #6daa49;
    }
    .nav_corft_01 .television {
        background-color: #f78429;
    }
    .nav_corft_01 footer {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

    .nav_corft_01 footer div.shortcut-home{
        display: none;
    }

    .nav_corft_01 footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav_corft_01 footer ul li {
        color: #fff;
        padding: 13px;
        padding-left: 21px;
        display: none;
    }
    .nav_corft_01 footer ul li span {
        float: right;
        margin: 21px 21px 0 0;
        padding: 0;
    }
    .nav_corft_01 footer ul li a {
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.3);
        font-weight: bold;
        color: #fff;
    }
    .nav_corft_01 footer ul li > ul {
        display: none;
    }
    .nav_corft_01 footer .icon {
        display: inline-block;
        height: 16px;
        overflow: hidden;
        text-indent: -1584;
        width: 12px;
        background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/footer/sprites-mobile.png) no-repeat -23px -265px;
        opacity: 0.6;
        filter: alpha(opacity=60);
    }
    .nav_corft_01 footer div .legal {
        padding-top: 118px;
        position: relative;
        overflow: hidden;
    }
    .nav_corft_01 .landscape {
        display:none;
    }
    .nav_corft_01 footer div.row {    
        /*padding-top: 10px;*/
        padding-left: 7px;
        padding-bottom: 25px;
        font-style: italic;
        overflow: hidden;
        float: none;
        width: auto;
        margin-left: 0px;
        margin-bottom: 15px;
        border-left: solid 1px #ccc;
        max-height: 10px;        
    }
    .nav_corft_01 footer div.row nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #f2f2f2;
    }
    .nav_corft_01 footer div.row nav ul {
        overflow: hidden;
        width: 100%;
    }

    .nav_corft_01 footer div.row nav ul li {
        color: #5D5D5D;
        display: block;
        padding: 4px 0;
    }
    .nav_corft_01 footer div.row nav ul li a {
        text-shadow: none;
        border-top: 1px solid #CCC;
        display: block;
        font: italic 16px/21px "Trebuchet MS", sans-serif; 
        padding: 0 0 0 39px;
        color: #5D5D5D;  
        font-weight: bold;
        font-size: 11px;
    }
    .nav_corft_01 footer div.row nav ul li a span {
        float: right;
        margin: 5px 22px;
    }
    .nav_corft_01 footer div.row nav ul li a .icon {
        background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/footer/sprites-mobile.png) no-repeat -28px -5px;
    }
    .nav_corft_01 footer .dark-row {
        background-color: #e2e2e2;       
    }
    div.dark-row div a span.nav_corft_01_sprite{
        float: left;
        margin-left: 6px;
        margin-top: 5px;
        position: relative;
        display: inline-block;
        *left: 30px;
    }
    .ie7 div.dark-row div.nav_corft_01_wrapper div.row div.left{
        margin-left: 30px; 
        height: 10px;
    }
    .ie7 div.nav_corft_01_sprite_trade{
        margin-left: 30px;
    }

    .nav_corft_01 footer .white-row {
        background-color: white;
    }
    .nav_corft_01 footer .blue-row {
        background: #204369;
    }
    .nav_corft_01 footer .blue-row a {
        display: none;
        padding-right: 85px;
    }
    .nav_corft_01 footer .blue-row .blueSections > li {
        display: block;
    }

    .nav_corft_01 footer .blue-row ul li {
        padding: 0;
        margin: 0;
    }
    .nav_corft_01 footer .blue-row ul li a {
        border-bottom: 1px solid #1C3B5C;
        margin: 0;
        padding: 10px 0 10px 30px;
        padding-right: 0;
        color: white !important;
        float: none;
        display: block;
        font-size: 13px;
        font-weight: bold;
        line-height: 16px;
        text-decoration: none;
        font-style: italic;
        font-size: 14px; 
    }
    .nav_corft_01 footer .blue-row ul li a span {
        float: right;
        margin: 0 20px;
        margin-top:1px;
    }
    .nav_corft_01 footer .blue-row ul li a .icon {
        background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/footer/sprites-mobile.png) no-repeat -4px -312px;
    }
    .nav_corft_01 footer .blue-row ul li ul li {
        text-align: left;
        border: 0;
    }
    .nav_corft_01 footer div .right,
    .nav_corft_01 footer div .left {
        color: #666;
        font-size: 10px;
        display: block;
        float: none;
        text-align: left;
        line-height: 18px;
    }

    .ie7 .nav_corft_01 footer div .right span.icon.mobile.arrow{
        margin-top: -12px;

    }
}
@media screen and (device-width:320px) and (orientation:landscape) {
    /* iPhone Landscape Styles Here*/
    .nav_corft_01 footer div .legal {
        padding-top:115px;
        height:50px;
    }
    .nav_corft_01 footer div.row {
        padding-bottom: 25px;
        margin-bottom: 15px;
    }
    div.dark-row div a span.nav_corft_01_sprite{    
        margin-top: 7px;
    }
}

@media screen and (max-width: 623px) {  
    .nav_corft_01 footer .blue-row ul li a {
        border-bottom: 1px solid #1C3B5C;
        border-top: 1px solid #345372;
        height:38px;
        line-height:38px;
        padding:0 0 0 24px;
        font-size:16px;
        font-weight:normal;
    }
    
    .nav_corft_01 footer .blue-row ul li a i {
        color:#000;
        text-shadow: 0.5px 1px 0px rgba(255, 255, 255, 0.5);
        opacity:.5;
        float:right;
        font-size:33px;
        margin-top:-5px;
    }
    
    .nav_corft_01 footer div.row nav ul li {
        padding:0;
    }
    
    .nav_corft_01 footer div.row nav ul li a {
        height:24px;
        line-height:24px;
        border-top:1px solid #efefef;
        border-bottom:1px solid #CCC;
        padding:0 12px 0 24px;
    }
    
    .nav_corft_01 footer div.row nav ul li a i {
        float:right;
        margin-top:5px;
    }
    
    /*Ocultar las flechas de la seccion azul*/
    .nav_corft_01 footer .blue-row .nav_corft_01_wrapper .blueSections li div a i.tvsa-caret-right{
        display: none;
    }
    .nav_corft_01 footer div .nav_corft_01_wrapper{
        width: auto;
    }
}
/*Dispositivos vista  retina------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2)  and (max-width: 623px),(min-resolution: 192dpi) and (max-width: 623px) {
    .nav_corft_01_sprite {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa_movil%402x.png) no-repeat 0 0;
        background-size:187px 38px;
        display: inline-block;
        height: 10px;
        width: 10px;
        overflow: hidden;
        text-indent: -1584px;
        
        
    }
    .nav_corft_01_sprite.logo {
        background-position: 4px 4px;
        height: 21px;
        width: 30px;
        margin-right: 6px;
    }
    
    
}
@media screen and (min-width: 624px){  
    /*.nav_corft_01{
        margin-bottom: 24px;
    }*/
    .nav_corft_01 footer .leftBorder {
        border-left: 1px solid #dadada;
    }
    .nav_corft_01 footer .noticias,
    .nav_corft_01 footer .deportes,
    .nav_corft_01 footer .entretenimiento,
    .nav_corft_01 footer .ninos,
    .nav_corft_01 footer .estilo,
    .nav_corft_01 footer .television {
        background-color: transparent;
    }
    .nav_corft_01 footer .mobileNav {
        display: none;
    }
    .nav_corft_01 footer {
        background: white;
    }
    .nav_corft_01 footer a:hover {
        text-decoration: underline;
    }
    .nav_corft_01 footer .makeBookmark {
        display: block;
        border-top: solid 1px #ccc;
        border-bottom: solid 1px #ccc;
        background: #F5F5F5;
        font-size: 11px;
        font-style: italic;
        font-weight: bold;
        margin-top: 24px;
    }
    .nav_corft_01 footer .makeBookmark span {
        display: block;
        margin: 0 auto;
        width: 618px;
        padding: 11px 0;
        background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/footervertical/sprites_deportes.png) no-repeat 0 -85px;
    }
    .nav_corft_01 footer .makeBookmark span a {
        color: #1970B4;
        padding-left: 20px;
    }
    .nav_corft_01 footer ul {
        float: left;
        font-size: 14px;
        min-height: 240px;
        width: 107px;
        overflow: hidden;
    }
    .nav_corft_01 footer ul li {
        color: #000;
        padding: 0 0 0 23px;
        overflow: hidden;
        margin: 0;
        display: block;
    }
    .nav_corft_01 footer ul li > ul {
        display: block;
        font-weight: normal;
        color: #5d5d5d;
        border-left: none;
        height: auto;
    }
    .nav_corft_01 footer ul li > ul li {
        padding: 0 0 12px 0;
        border-left: none;
    }

    .nav_corft_01 footer .icon {
        display: none;
    }
    .nav_corft_01 footer .desktopNav {
        display: block;
        overflow: hidden;
        text-align: left;
        background: white;
        margin-top: 40px;
    }
    .nav_corft_01 footer .desktopNav ul {
        width: 618px;
        margin: 0 auto;
        border-bottom: 1px solid #ccc;
        min-height: 21px;
        overflow: hidden;
        float: none;
    }
    .nav_corft_01 footer .desktopNav ul li {
        float: left;
        margin: 16px 0;
        font-size: 13px;
        padding: 0 24px;
        border-left: 1px dotted #ccc;
    }
    .nav_corft_01 footer .desktopNav ul li.active a {
        color: #1970B4;
    }

    .nav_corft_01 footer div .nav_corft_01_wrapper {
        overflow: hidden;
        margin: auto;
        min-width: 624px; 
        width: 74%;     
    }
    .nav_corft_01 footer div .row {
        margin: 14px 0 0 0;
        padding-bottom: 21px;
    }
    .nav_corft_01 footer .white-row {
        text-align: center;
        background-color: #fff;
    }
    .nav_corft_01 footer .white-row .nav_corft_01_wrapper {
        height: 600px;
        padding-top: 30px;
        width: 618px;
        padding-bottom: 82px;
    }
    .nav_corft_01 footer .white-row .column {
        width: 157px;
        margin-right: 65px;
        float: left;
    }
    .nav_corft_01 footer .white-row .column ul {
        min-height: 0;
        border-left: 1px solid #ccc;
        float: none;
        padding-bottom: 20px;
        padding-left: 16px;
    }
    .nav_corft_01 footer .white-row .column ul.videopodcast,
    .nav_corft_01 footer .white-row .column ul.iphoneApps,
    .nav_corft_01 footer .white-row .column ul.androidApps,
    .nav_corft_01 footer .white-row .column ul.platforms {
        display: block;
    }
    .nav_corft_01 footer .white-row ul {
        text-align: left;
        width: 157px;
        padding-left: 10px;
        position: relative;
        overflow: visible;
        float: none;
    }
    .nav_corft_01 footer .white-row ul li {
        border: 0;
        width: auto;
        height: auto;
        padding: 5px 0;
    }
    .nav_corft_01 footer .white-row ul li .icon {
        position: absolute;
        width: 22px;
        height: 23px;
        top: 0;
        left: -33px;
        display: block;
    }

    .nav_corft_01 footer .white-row ul ul {
        float: none;
        border-left: 1px solid #ccc;
    }
    .nav_corft_01 footer .white-row ul ul li {
        border-top: 0;
        border-left: 0;
    }
    .nav_corft_01 footer .white-row ul ul li ul {
        float: none;
        margin-bottom: 23px;
        padding: 0;
    }

    .nav_corft_01 footer span.icon {
        background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/footervertical/sprites_deportes.png) no-repeat;
    }
    .nav_corft_01 footer .twitter span.icon {
        background-position: 0 -37px;
    }
    .nav_corft_01 footer .facebook span.icon {
        background-position: 0 -60px;
    }
    .nav_corft_01 footer .foros span.icon {
        background-position: -22px -37px;
    }
    .nav_corft_01 footer .blogs span.icon {
        background-position: -46px -60px;
    }
    .nav_corft_01 footer .apps span.icon,
    .nav_corft_01 footer .iphoneApps span.icon,
    .nav_corft_01 footer .ipadApps span.icon,
    .nav_corft_01 footer .androidApps span.icon,
    .nav_corft_01 footer .platforms span.icon {
        background-position: -69px -39px;
    }
    .nav_corft_01 footer .podcast span.icon {
        background-position: -46px -37px;
    }
    .nav_corft_01 footer .videopodcast span.icon {
        background-position: -22px -60px;
    }
    .nav_corft_01 footer .blue-row {
        height:30px;
        text-align: left;
        padding: 6px 0;
        border-top: 5px solid #204369;
    }
    .ie8 .nav_corft_01 footer .blue-row{
        z-index: 2000 !important;
    }
    .ie7 .nav_corft_01 footer .blue-row{
        z-index: 2000 !important;
    }
    .ie8 .nav_corft_01 footer .blue-row .nav_corft_01_wrapper{
        z-index: 1000 !important;
    }
    .ie7 .nav_corft_01 footer .blue-row .nav_corft_01_wrapper{
        z-index: 1000 !important;
    }

    .ie8 .nav_corft_01 footer .dark-row{
        z-index: 2000 !important;
    }
    .ie7 .nav_corft_01 footer .dark-row{
        z-index: 2000 !important;
    }
    .ie8 .nav_corft_01 footer .dark-row .nav_corft_01_wrapper{
        z-index: 1000 !important;
    }
    .ie7 .nav_corft_01 footer .dark-row .nav_corft_01_wrapper{
        z-index: 1000 !important;
    }



    .nav_corft_01 footer .blue-row a {
        float: right;
        font-style: italic;
        padding-right: 0;
    }
    .nav_corft_01 footer .blue-row a .text {
        display: block;
        font-size: 13px;
        color: #f39040;
        margin: 0;
        float: left;
        padding: 0 5px;
    }
    .nav_corft_01 footer .blue-row.expanded {
        border-top: 5px solid #f39040;
    }
    .nav_corft_01 footer .blue-row .nav_corft_01_wrapper {
        text-align: left;
        margin: auto;
        position: relative;
    }
    .nav_corft_01 footer .blue-row .nav_corft_01_wrapper > a {
        margin-right:18px;
        position: absolute;
        right: 0;
        top:0;
        text-decoration: none;
    }
    .nav_corft_01 footer .blue-row .nav_corft_01_wrapper > a .more,
    .nav_corft_01 footer .blue-row .nav_corft_01_wrapper > a .less {
        display: block;
        background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/footervertical/sprites_deportes.png) no-repeat 0 0;
        height: 16px;
        width: 16px;
        float: left;
    }
    .nav_corft_01 footer .blue-row .nav_corft_01_wrapper > a .more {
        /*background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/footervertical/sprites.png) no-repeat 0 0;*/
    }
    .nav_corft_01 footer .blue-row .nav_corft_01_wrapper > a .less {
        background: transparent url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/footervertical/sprites_deportes.png) no-repeat 0 -18px;
    }
    .nav_corft_01 footer .blue-row .blueSections {
        width: 100%;
        min-height: 0; 
        padding-top:3px;
    }
    .nav_corft_01 footer .blue-row .blueSections > li {
        width: 100px;
        float: left;
    }
    .nav_corft_01 footer .blue-row .blueSections > li:nth-child(2) {
        width: 88px;        
    }
    .nav_corft_01 footer .blue-row .blueSections > li:nth-child(3) {
        width: 75px;        
    }
    .nav_corft_01 footer .blue-row .blueSections > li ul.blueSections-list {
        min-height: 0;
        display: none;
    }
    .nav_corft_01 footer .blue-row .blueSections > li ul.blueSections-list li a {
        color: #fff;
        float: left;
        border: 0; 
        font-size: 10px;
    }
    .nav_corft_01 footer .blue-row.expanded .blueSections > li ul {
        display: block;    
    }
    .nav_corft_01 footer .blue-row ul li a {
        padding: 0 0 10px 18px;
        border-bottom: none;
        font-size: 12px;
    }

    .nav_corft_01 footer .expanded {
        border-top: 5px solid #f39040;
        padding-bottom: 50px;
        height: auto;
    }
    .nav_corft_01 footer .expanded .hide {
        display: block;
    }
    .nav_corft_01 footer .expanded .show {
        display: none;
    }
    .nav_corft_01 footer .notExpanded .hide {
        display: none;
    }
    .nav_corft_01 footer .notExpanded .show {
        display: block;
    }
    .nav_corft_01 footer .dark-row a {
        float: left;
    }

    .nav_corft_01 footer div.row nav ul li a{
        font-size: 10px !important;
    }
    .nav_corft_01 footer .dark-row a.logo {     
        margin-top: 10px !important;
        padding-left: 9px;
    }
    .nav_corft_01 footer nav {
        display: block;
        margin: 0;
        padding: 0;
    }
    .nav_corft_01 footer div .legal {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .nav_corft_01 footer div .legal div .right,
    .nav_corft_01 footer div .legal div .left {
        padding: 0;
    }
    .nav_corft_01 footer div .legal div.row {
        width: 87%;
    }
    .nav_corft_01 footer div .legal div.row .right {
        text-align: right;
        float: right;
        width: auto;
    }
    .nav_corft_01 footer div .legal div.row div.left {
        width: 21%;        
        float: left;
    }
    .nav_corft_01 footer div .legal div.row nav {
        position: relative;
        overflow: hidden;
        width: auto;
        display: block;
        padding: 0;
        margin: 0;
        background-color: transparent;
    }
    .nav_corft_01 footer div .legal div.row nav ul {
        width: auto;
        float: none;
        padding: 2px 0 0;
        min-height: 0;
    }
    .nav_corft_01 footer div .legal div.row nav ul li {
        border-left: 1px solid #888;
        float: left;
        margin: 0 0 0 10px;
        padding: 0 0 0 10px;
    }
    .nav_corft_01 footer div .legal div.row nav ul li a {
        font-size: 16px;
        line-height: 14px;
        text-decoration: underline;
        border-top: 0;
        padding: 0;
        font-style: normal;
        color: #666;
    }


    .nav_corft_01 footer .blue-row ul li a i {
        display:none;
    }
    
    .nav_corft_01 a.show,
    .nav_corft_01 a.hide {
        color: #f39040;
    }
    
    .nav_corft_01 a.show span.text,
    .nav_corft_01 a.hide span.text {
    display:none; 
    line-height:20px; 
    font-size:12px; 
    font-weight:bold;
    }
    
    
    div.dark-row div a span.nav_corft_01_sprite{    
        margin-left: 15px;
        margin-top: 6px;
        
    }
    .nav_corft_01_sprite.logo {
        margin-right: 10px;
    }
    .nav_corft_01 footer div.row {
         padding-top: 3px;
    }
    
    /*Ocultar las flechas*/
    .nav_corft_01 footer .dark-row .nav_corft_01_wrapper .row .right nav ul li a i.tvsa-caret-right{
        display: none;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
   .nav_corft_01 footer .dark-row {
        margin-bottom:-10px;
   }  
}
/* iPads (portrait) ------------ */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
   .nav_corft_01 footer .dark-row {
        margin-bottom:-10px;
   }  
}
/*Dispositivos vista retina------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 624px),(min-resolution: 192dpi) and (min-width: 624px) {
    .nav_corft_01_sprite {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa_movil%402x.png) no-repeat 0 0;
        background-size:187px 38px;
        display: inline-block;
        height: 10px;
        width: 10px;
        overflow: hidden;
        text-indent: -1584px;
    }
    .nav_corft_01_sprite.logo {
        background-position: 0px 0px;
        height: 21px;
        width: 30px;
        margin-right: 6px;
    }
}@media screen and (min-width: 948px){
    .nav_corft_01 footer div .legal div.row{
        float: right;
        width: 94%;
    }
    .nav_corft_01 footer div .legal div.row div.left {
        width:35%;
        float:left;
        margin-top:5px;
        padding-left:5px;
    }

    .nav_corft_01 footer .blue-row ul li a {
        font-size: 12px;
        padding: 4px 0 10px 0;
    }
    
    .nav_corft_01 a.show,
    .nav_corft_01 a.hide {
        color: #f39040;
    }    
    .nav_corft_01 a.show span.text,
    .nav_corft_01 a.hide span.text {
        display:inline-block;
    }
    .nav_corft_01 footer div .nav_corft_01_wrapper{
        width: 950px;
    }
    
     .nav_corft_01 footer .blue-row .blueSections > li {
        width: 176px;
    }
     .nav_corft_01 footer .blue-row .blueSections > li:nth-child(2) {
        width: 172px        
    }
    .nav_corft_01 footer .blue-row .blueSections > li:nth-child(3) {
        width: 172px;        
    }   
    .nav_corft_01 footer .blue-row a {
        padding-right: 0px;
    }
       div.dark-row div a span.nav_corft_01_sprite{    
        margin-left: 0;
        margin-top: 6px;       
    }
    .nav_corft_01_sprite.logo {
        margin-right: 10px;
    }
    
    .nav_corft_01 footer ul{
        width: 169px;
    }
    
    .ie7 .nav_corft_01 .nav_corft_01_sprite,
    .ie8 .nav_corft_01 .nav_corft_01_sprite {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/global-sprites.png) no-repeat 0 0 !important;
        background-position: -270px -40px !important;
    }
    
    .ie7 .nav_corft_01 footer div .legal div.row{
        width: 91%;
    }
    
}/* Dispositivos vista retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:
        623px) , ( min-resolution : 192dpi) and (max-width: 623px) {
    /* Logo Deportes */
    header.nav_header_01 div.topnav div.inner>a.televisa span.mobile-logo {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa_movil%402x.png)
            no-repeat 0 0;
        background-size: 187px 38px;
        background-position: 0px 1px;
        width: 28px;
        overflow: hidden;
    }
    header.nav_header_01 div.topnav a.televisa.deportes span {
        background: none;
    }
    header.nav_header_01 div.topnav div.inner>a.menu {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/global-sprites%402x.png) no-repeat 0 0;
        background-size: 640px 195px;
        background-position: -271px -1px;
    }
    /* Logos Mobile Deportes */
    header.nav_header_01 div.mobilenav nav ul li a span.vivafut {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover%402x.png) no-repeat 0 0;
        background-size: 174px 32px;
    }
    header.nav_header_01 div.mobilenav nav ul li a span.tdtv {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover%402x.png) no-repeat -87px 0;
        background-size: 174px 32px;
    }
    header.nav_header_01 div.mobilenav nav ul li a span.tdn {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover%402x.png) no-repeat -135px 0;
        background-size: 174px 32px;
    }
}

/* only mobile */
@media screen and (max-width: 623px) {
    header.nav_header_01 div.topnav {
        height: 45px;
    }
    div.niy {
        display: none;
        font: inherit;
        font-size: 13px;
    }
    header.nav_header_01 {
        overflow: hidden;
        width: 100%;
    }
    header.nav_header_01 div.topnav div.inner>span.date {
        display: none;
    }
    header.nav_header_01 div.topnav div.inner>a.menu {
        position: absolute;
        top: 6px;
        left: 8px;
        display: block;
        width: 41px;
        height: 33px;
        overflow: hidden;
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/global-sprites.png) no-repeat 0 0;
        background-position: -271px -1px;
    }
    header.nav_header_01 div.topnav div.inner>a.menu.active {
        background-position: -313px -1px;
    }
    header.nav_header_01 div.topnav div.inner>a.menu span {
        display: none;
    }
    header.nav_header_01 div.topnav div.inner>a.televisa {
        display: block;
        margin: 0 60px;
        font-size: 17px;
        font-weight: bold;
        color: #FFF;
        height: 46px;
        line-height: 45px;
        text-align: center;
        letter-spacing: -0.06em;
        font-family: 'Helvetica Neue', Helvetica, Arial;
    }
    header.nav_header_01 div.topnav div.inner>a.televisa span.mobile-logo {
        display: inline-block;
        height: 20px;
        width: 28px;
        background: orange;
        margin-right: 5px;
        vertical-align: -4px;
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/global-sprites.png) no-repeat 0 0;
        background-position: -271px -41px;
    }
    header.nav_header_01 div.topnav form.site_search {
        
    }
    header.nav_header_01 div.topnav form.site_search input.search_term {
        display: none;
        width: 100%;
        border: 0;
        line-height: 36px;
        height: 36px;
        float: left;
        padding: 0 10px;
    }
    header.nav_header_01 div.topnav form.site_search button.search_submit {
        background: #FFF;
        padding: 0 10px;
        color: #898989;
        position: absolute;
        top: 0;
        right: 0;
        height: 46px;
        width: 45px;
        border: 0;
    }
    header.nav_header_01 div.topnav form.site_search button.search_submit i
        {
        font-size: 16px;
    }
    header.nav_header_01 div.topnav div.inner>nav {
        display: block;
        float: left;
        width: 100%;
    }
    header.nav_header_01 div.topnav div.inner>nav ul li a {
        display: block;
        height: 44px;
        line-height: 44px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-left: 24px;
        font-size: 16px;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        display: block;
        letter-spacing: -0.05em;
        line-height: 43px;
        height: 43px;
        padding-left: 10px;
    }
    header.nav_header_01 div.topnav div.inner>nav ul li a.noticieros {
        background: #0078bf;
    }
    header.nav_header_01 div.topnav div.inner>nav ul li a.deportes {
        background: #59a529;
    }
    header.nav_header_01 div.topnav div.inner>nav ul li a.entretenimiento {
        background: #E2B528;
    }
    header.nav_header_01 div.topnav div.inner>nav ul li a.estilo-de-vida {
        background: #6AA845;
    }
    header.nav_header_01 div.topnav div.inner>nav ul li a.television {
        background: #F68428;
    }

    /* Main Navigation */
    header.nav_header_01 div.title {
        border-top: 1px solid #a92e31;
        background: #59a529;
        height: 42px;
        border-bottom: 1px solid #a11c1f;
        float: left;
        clear: left;
    }
    header.nav_header_01 div.title strong {
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        display: block;
        letter-spacing: -0.05em;
        line-height: 43px;
        height: 43px;
        padding-left: 10px;
    }
    header.nav_header_01 div.title strong a.arrow {
        height: 43px;
        line-height: 43px;
        font-size: 28px;
        color: #FFF;
        float: right;
        padding: 0 12px;
    }
    header.nav_header_01 div.topnav nav ul li {
        display: block;
    }
    header.nav_header_01 div.topnav nav ul li a {
        display: block;
        color: #FFF;
        /* text-shadow: -1px -1px 4px #0b2f4f; */
    }
    header.nav_header_01 div.mainnav {
        display: none;
    }
    header.nav_header_01 div.mobilenav {
        float: left;
        display: block;
        height: 40px;
        width: 100%;
        text-align: center;
        background: #efefef;
        background: -moz-linear-gradient(top, #efefef 66%, #ffffff 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(66%, #efefef),
            color-stop(100%, #ffffff));
        background: -webkit-linear-gradient(top, #efefef 66%, #ffffff 100%);
        background: -o-linear-gradient(top, #efefef 66%, #ffffff 100%);
        background: -ms-linear-gradient(top, #efefef 66%, #ffffff 100%);
        background: linear-gradient(to bottom, #efefef 66%, #ffffff 100%);
        filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef',
            endColorstr='#ffffff', GradientType=0)";
    }
    header.nav_header_01 div.mobilenav nav {
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin: 0;
    }
    header.nav_header_01 div.mobilenav nav ul {
        height: 40px;
        padding: 0;
        margin: 0;
    }
    header.nav_header_01 div.mobilenav nav ul li {
        display: inline-block;
        height: 40px;
        padding: 0;
        margin: 0;
        float: left;
        width: 16.6666%;
    }
    header.nav_header_01 div.mobilenav nav ul li.station{
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/dots-mainnav.png) no-repeat 100% 50%;
    }
    header.nav_header_01 div.mobilenav nav ul li.social{
        border-right: 1px solid #dadada;
    }
    header.nav_header_01 div.mobilenav nav ul li a {
        display: inline-block;
        width: 100%;
        line-height: 40px;
        height: 40px;
        font-size: 20px;
        text-align: center;
    }
    header.nav_header_01 div.mobilenav nav ul li a span.vivafut {
       background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat 0 0;
       width: 51px;
       height: 16px;
       display: inline-block;
    }
    header.nav_header_01 div.mobilenav nav ul li a span.tdtv {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat -87px 0;
        height: 16px;
        width: 48px;
        display: inline-block;
    }
    header.nav_header_01 div.mobilenav nav ul li a span.tdn {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat -135px 0;
        width: 39px;
        height: 16px;
        display: inline-block;
    }
}

/* all devices */
table {
    border-collapse: separate;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

header.nav_header_01 div.topnav nav ul li {
    display: inline;
}

header.nav_header_01 div.topnav nav ul li a {
    display: inline-block;
    color: #FFF;
}

hr.clearboth {
    clear: both;
    height: 0;
    border: 0;
}

header.nav_header_01 {
    line-height: 16px !important;
    font-family: 'Trebuchet MS' !important;
    font-size: 12px !important;
}

header.nav_header_01>* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

header.nav_header_01 div.inner {
    margin: 0 auto;
    /*border:1px solid green;*/
}

header.nav_header_01 div.topnav {
    background: #154C7B;
    border-bottom: 1px solid #0f426d;
    background: #0d4371; /* Old browsers */
    background: -moz-linear-gradient(top, #0d4371 0%, #0f4b7d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d4371),
        color-stop(100%, #0f4b7d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0d4371 0%, #0f4b7d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0d4371 0%, #0f4b7d 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0d4371 0%, #0f4b7d 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0d4371 0%, #0f4b7d 100%);
    /* W3C */
    filter: "progid:DXImageTransform.Microsoft.gradient(  startColorstr='#0d4371',
        endColorstr='#0f4b7d', GradientType=0)";
}/* Dispositivos vista retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:
        624px) , ( min-resolution : 192dpi) and (min-width: 624px) {
    /* Logo Deportes */
    header.nav_header_01 div.topnav a.televisa.deportes span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa%402x.png) no-repeat
            -81px -77px;;
        background-size: 145px 222px;
        height: 78px;
    }
    header.nav_header_01 div.mainnav nav.social>a.vivafut span.vivafut {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover%402x.png) no-repeat 0 0;
        background-size: 174px 32px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover%402x.png) no-repeat 0 0;
        background-size: 174px 32px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.nba {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover%402x.png) no-repeat -51px 0;
        background-size: 174px 32px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover%402x.png) no-repeat -87px 0;
        background-size: 174px 32px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover%402x.png) no-repeat -135px 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social>a.vivafut span.vivafut,
    .ie7 header.nav_header_01 div.mainnav nav.social>a.vivafut span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover.png) no-repeat 0 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.vivafut,
    .ie7 header.nav_header_01 div.mainnav nav.social ul li.station a span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover.png) no-repeat 0 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.nba,
    .ie7 header.nav_header_01 div.mainnav nav.social ul li.station a span.nba
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover.png) no-repeat -51px 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv,
    .ie7 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover.png) no-repeat -87px 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn,
    .ie7 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover.png) no-repeat -135px 0;
        background-size: 174px 32px;
    }


    
    /* Logo Noticieros */
    .ie7 header.nav_header_01 div.topnav a.televisa.noticieros span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat -81px 0;
        height: 61px;
    }
    /* Logo Deportes */
    .ie7 header.nav_header_01 div.topnav a.televisa.deportes span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat 0px -77px;
        height: 78px;
        zoom: 1;
    }
    /* Logo Resto */

    .ie7 header.nav_header_01 div.topnav div.inner>a.menu {
        display: none;
    }
    /* Televisa Logo */
    .ie7 header.nav_header_01 div.topnav a.televisa {
        position: absolute;
        left: 24px;
        top: 0;
        background: #154C7B;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        height: 108px;
        width: 112px;
        text-align: center;
        z-index: 5;
    }
    .ie7 header.nav_header_01 div.topnav a.televisa span {
        display: inline-block;
        overflow: hidden;
        text-indent: -99em;
        height: 77px;
        width: 64px;
        margin: 20px auto 0 auto;
    }
}

/* tablet+ */
@media screen and (min-width: 624px) {
    
    
     header.nav_header_01 nav.main ul li a,
    .ie7 header.nav_header_01 nav.main ul li a{
       background-color:#efefef;
    }
     header.nav_header_01 nav.main ul.dropdown li a,
    .ie7 header.nav_header_01 nav.main ul.dropdown li a{
       background-color:#fff;
    }
    
    /*header.nav_header_01 nav.main ul.dropdown li a:hover,
    .ie7 header.nav_header_01 nav.main ul.dropdown li a:hover{
       background-color:#59a529;
    }*/
    
     header.nav_header_01  li.station a,
     header.nav_header_01  li.social a,
    .ie7 header.nav_header_01  li.social a,
    .ie7 header.nav_header_01  li.station a{
        border-left:none!important;
        border-top:none!important;
    }
    
     header.nav_header_01  .station ,
    .ie7 header.nav_header_01  .station {
        border-right: 1px solid #dadada!important;
    }
    
    div.mobilenav,div.niy {
        display: none;
    }

    /* Layout */
    header.nav_header_01 div.inner {
        width: 624px;
        position: relative;
    }
    header.nav_header_01 div.topnav div.inner>a.menu {
        display: none;
    }
    /* Televisa Logo */
    header.nav_header_01 div.topnav a.televisa {
        position: absolute;
        left: 24px;
        top: 0;
        background: #154C7B;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        height: 108px;
        width: 112px;
        text-align: center;
        z-index: 5;
    }
    header.nav_header_01 div.topnav a.televisa span {
        display: inline-block;
        overflow: hidden;
        text-indent: -99em;
        height: 77px;
        width: 64px;
        margin: 20px auto 0 auto;
    }
    header.nav_header_01 div.topnav a.televisa span.mobile-logo {
        display: none;
    }

    /* Logo Noticieros */
    header.nav_header_01 div.topnav a.televisa.noticieros span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat -81px
            0;
        height: 61px;
    }

    /* Logo Deportes */
    header.nav_header_01 div.topnav a.televisa.deportes span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat -81px
            -77px;
        height: 62px;
    }

    /* Logo Resto */
    header.nav_header_01 div.topnav a.televisa span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat -81px
            -155px;
        height: 52px;
    }

    /* Top Navigation */
    header.nav_header_01 div.topnav {
        height: 36px;
    }
    header.nav_header_01 div.topnav nav ul {
        position: absolute;
        top: 1px;
        left: 170px;
    }
    header.nav_header_01 div.topnav nav ul li a {
        opacity: .8;
        height: 35px;
        line-height: 35px;
        padding: 0 8px;
        font-size: 11px;
        text-shadow: -1px -2px 3px rgba(0, 0, 0, 0.6);
    }
    header.nav_header_01 div.topnav nav ul li a:active,header.nav_header_01 div.topnav nav ul li a:focus
        {
        opacity: 1;
    }
    /*header.nav_header_01 div.topnav nav ul li a:hover {
        background: rgb(14, 65, 108) !important;
        box-shadow: inset 0 1px 6px #0d385b;
    }*/
    header.nav_header_01 div.topnav nav ul li.active a,header.nav_header_01 div.topnav nav ul li a:active
        {
        background: #0d385b !important;
        opacity: 1;
        box-shadow: inset 0 1px 6px #0b2f4f;
    }

    /* Date */
    header.nav_header_01 div.topnav span.date {
        display: none;
    }

    /* Site Search */
    header.nav_header_01 div.topnav form.site_search {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        z-index: 100;
        /*
        -moz-box-shadow: 0px 0px 4px #093252;
        -webkit-box-shadow: 0px 0px 4px #093252;
        box-shadow: 0px 0px 4px #093252; */
    }
    header.nav_header_01 div.topnav form.site_search input.search_term,header.nav_header_01 div.topnav form.site_search button.search_submit
        {
        border: 0;
        height: 37px;
        line-height: 37px;
        padding: 0;
        margin: 0;
    }
    header.nav_header_01 div.topnav form.site_search input.search_term {
        display: none;
        float: right;
        width: 0;
        top: 0px;
        right: -4px;
        padding: 0 4px;
    }
    header.nav_header_01 div.topnav form.site_search button.search_submit {
        background: #FFF;
        padding: 0 13px;
        float: right;
        border-bottom: 1px solid #dee0df;
        border-left: 1px solid #bababc;
        color: #898989;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#eaebed),
            to(#fbfbfb))
    }

    /* Collapsable Mainnav */
    header.nav_header_01 div.collapsable-mainnav div.inner {
        padding: 24px 0;
    }
    header.nav_header_01 div.collapsable-mainnav>div {
        background: #ffffff repeat-x 0 0
            url(data:image/gif;base64,R0lGODlhAQAQALMAAP7+/vz8/OPj4/////f39/T09PHx8efn5+Li4vn5+erq6vr6+u7u7gAAAAAAAAAAACH5BAAAAAAALAAAAAABABAAAAQLEImjmCkkrRCAHxEAOw==);
    }
    header.nav_header_01 div.collapsable-mainnav>div div.inner nav a {
        font-weight: bold;
        font-size: 11px;
        line-height: 35px;
        height: 35px;
    }
    header.nav_header_01 div.collapsable-mainnav>div div.inner nav.tabs ul {
        border-bottom: 1px solid #ebebeb !important;
        margin-bottom: 24px;
        width: 100%;
    }
    /* Main Navigation */
    header.nav_header_01 div.title {
        border-top: 1px solid #59a529;
        background: #59a529;
        height: 69px;
        border-bottom: 1px solid #398218;
    }
    header.nav_header_01 div.title strong {
        color: #FFF;
        font-size: 29px;
        font-weight: normal;
        position: absolute;
        left: 170px;
        top: 26px;
        display: block;
    }
    header.nav_header_01 div.title strong i {
        display: none;
    } /* hide caret */
    header.nav_header_01 div.mainnav {
        z-index: 10;
        position: relative;
        height: 35px;
        border-bottom: 1px solid #c4c4c4;
        background: #efefef; /* Old browsers */
        background: -moz-linear-gradient(top, #efefef 66%, #ffffff 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(66%, #efefef),
            color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #efefef 66%, #ffffff 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #efefef 66%, #ffffff 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #efefef 66%, #ffffff 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #efefef 66%, #ffffff 100%);
        /* W3C */
        filter: "progid:DXImageTransform.Microsoft.gradient(  startColorstr='#efefef',
            endColorstr='#ffffff', GradientType=0)"; /* IE6-9 */
    }
    header.nav_header_01 div.mainnav ul {
        border-left: 1px solid #dadada;
        height: 35px;
    }
    header.nav_header_01 div.mainnav ul li {
        display: inline-block;
        border: 0;
        border-right: 1px solid #dadada;
        height: 35px;
        line-height: 35px;
    }
    header.nav_header_01 div.mainnav nav.main {
        position: absolute;
        left: 0;
        top: 0;
    }
    header.nav_header_01 div.mainnav nav.main ul li.separator {
        height: 12px;
    }
    header.nav_header_01 div.mainnav ul>li a {
        float: left;
        height: 34px;
        line-height: 34px;
        padding: 0 11px;
        font-weight: 700;
        color: #494a4c;
        font-size: 11px;
        border: 0;
        border-top: 1px solid #efefef;
        border-right: 1px solid #eaeaec;
        border-left: 1px solid #f3f3f3;
        text-shadow: 1px 1px 2px #FFF;
        filter: dropshadow(color = #FFF, offx = 1, offy = 1);
    }
    header.nav_header_01 div.mainnav nav.main ul li {
        position: relative;
    }
    div.collabsable,div.collabsable a,div.collabsable li {
        color: #494a4c
    }
    header.nav_header_01 div.dropdown-content {
        font-size: 11px;
    }
    header.nav_header_01 div.dropdown-content ul li,
    header.nav_header_01 div.dropdown-content ul li a {
        height: 24px;
        line-height: 24px;
        font-size: 11px;
        color: #494a4c;
    }
    /*header.nav_header_01 div.dropdown-content ul li a:hover {
        color: #59a529;
    }*/
    header.nav_header_01 div.mainnav nav.main ul li:first-child a {
        padding: 0 8px;
    }

    /** Dropdown **/
    header.nav_header_01 div.mainnav nav.main ul li ul li:first-child a {
        padding: 0 11px;
    }
    header.nav_header_01 div.mainnav ul li ul li {
        height: 22px;
    }
    header.nav_header_01 div.mainnav ul li ul li a {
        float: left;
        height: 22px;
        line-height: 22px;
        padding: 0 11px;
        font-weight: 700;
        color: #494a4c;
        font-size: 11px;
        border: 0;
        text-shadow: 1px 1px 2px #FFF;
        filter: dropshadow(color = #FFF, offx = 1, offy = 1);
    }
    header.nav_header_01 div.mainnav nav.main ul li ul.dropdown {
        top: -10000em;
        left: 0;
        position: absolute;
    }
    /*header.nav_header_01 div.mainnav nav.main ul li:hover ul.dropdown,
    header.nav_header_01 div.mainnav nav.main ul li:hover ul,
    header.nav_header_01 div.mainnav nav.main ul li.active ul.dropdown,
    header.nav_header_01 div.mainnav nav.main ul li.active ul
        {
        top: 36px !important;
        z-index: 5;
    }*/
    header.nav_header_01 div.topnav div.inner>nav ul li a.noticieros {
        background: transparent;
    }
    header.nav_header_01 div.topnav div.inner>nav ul li a.deportes {
        background: transparent;
    }
    header.nav_header_01 div.topnav div.inner>nav ul li a.entretenimiento {
        background: transparent;
    }
    header.nav_header_01 div.topnav div.inner>nav ul li a.estilo-de-vida {
        background: transparent;
    }
    header.nav_header_01 div.topnav div.inner>nav ul li a.television {
        background: transparent;
    }
    header.nav_header_01 div.mainnav nav.main {
        width: 70%;
    }
    header.nav_header_01 div.mainnav nav.main ul li ul {
        top: -10000em;
        left: 0;
        position: absolute;
        width: 150px;
        background: #FFF;
        margin: 0 0 0 -1px;
        height: auto;
        /*border-top:1px solid #C4C4C4;*/
        border-top: none;
        border-bottom: 1px solid #C4C4C4;
        -webkit-box-shadow: 0 2px 5px rgba(50, 50, 50, 0.3);
        -moz-box-shadow: 0 2px 5px rgba(50, 50, 50, 0.3);
        box-shadow: 0 2px 5px rgba(50, 50, 50, 0.3);
    }
    header.nav_header_01 div.mainnav nav.main ul li ul li,header.nav_header_01 div.mainnav nav.main ul li ul li a
        {
        display: block;
        float: none;
    }
    header.nav_header_01 div.mainnav nav.main ul li.active ul,
    header.nav_header_01 div.mainnav nav.main ul li:hover ul
        {
        top: 36px !important;
    }
    header.nav_header_01 div.mainnav nav.main ul li.mas-deportes:hover>a {
        background: #59a529;
        border-top: 1px solid #a92e31;
        border-bottom: 1px solid #8c0404;
        color: #FFF !important;
        text-shadow: 1px 1px 0px #940909;
        filter: dropshadow(color = #940909, offx = 1, offy = 1);
        border-left: 1px solid #a92e31;
        border-right: 1px solid #a11c1f;
    }
    div.mainnav ul li ul li {
        display: inline-block;
        border: 0;
        border-right: 0px none;
        height: 22px;
        line-height: 22px;
    }
    header.nav_header_01 div.mainnav nav.main ul li:hover ul li a {
        border: 0;
        height: 22px;
        line-height: 22px;
    }
    header.nav_header_01 div.mainnav ul li a:hover {
        background: rgba(235, 235, 235, 0.9);
    }
    header.nav_header_01 div.mainnav ul li ul li a:hover {
        background: #59a529;
        color: #FFF !important;
        text-shadow: 1px 1px 0px #940909;
    }
    header.nav_header_01 div.mainnav ul li.active > a,
    header.nav_header_01 div.mainnav ul li a:active,
    header.nav_header_01 div.mainnav ul li a:focus,
    header.nav_header_01 div.mainnav ul li.active > a
        {
        background: #59a529;
        border-top: 1px solid #a92e31;
        border-bottom: 1px solid #8c0404;
        color: #FFF !important;
        text-shadow: 1px 1px 0px #940909;
        filter: dropshadow(color = #940909, offx = 1, offy = 1);
        border-left: 1px solid #a92e31;
        border-right: 1px solid #a11c1f;
    }
    header.nav_header_01 div.mainnav ul li a:focus i {
        border-bottom: 0px none;
    }
    header.nav_header_01 div.mainnav ul li.active >a i.td,
    header.nav_header_01 div.mainnav ul li.active>a i.tt,
    header.nav_header_01 div.mainnav ul li.active>a i.te,
    header.nav_header_01 div.mainnav ul li.active>a i.tv,
    header.nav_header_01 div.mainnav ul li.active>a i.tn,
    header.nav_header_01 div.mainnav ul li.active>a i.facebook,
    header.nav_header_01 div.mainnav ul li.active>a i.twitter
        {
        color: #FFF !important;
    }
    header.nav_header_01 div.mainnav ul li.active>a,header.nav_header_01 div.mainnav ul li a:focus,header.nav_header_01 div.mainnav ul li a:active
        {
        border-left: 1px solid #a92e31;
        border-right: 1px solid #a11c1f;
    }

    /* Social Navigation */
    header.nav_header_01 div.mainnav nav.social ul {
        display: none;
        position: absolute;
        right: 0;
        top: 36px;
        border-bottom: 1px solid #c4c4c4;
        background: #efefef; /* Old browsers */
        background: -moz-linear-gradient(top, #efefef 66%, #ffffff 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(66%, #efefef),
            color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #efefef 66%, #ffffff 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #efefef 66%, #ffffff 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #efefef 66%, #ffffff 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #efefef 66%, #ffffff 100%);
        /* W3C */
        filter: "progid:DXImageTransform.Microsoft.gradient(  startColorstr='#efefef',
            endColorstr='#ffffff', GradientType=0)"; /* IE6-9 */
    }
    header.nav_header_01 div.mainnav nav.social a.toggle {
        display: block;
        float: right;
    }
    header.nav_header_01 div.mainnav nav.social ul li a {
        height: 34px;
        padding: 0 8px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span {
        margin-top: 10px;
        display: block;
        height: 16px;
    }
    header.nav_header_01 div.mainnav nav.social>a.vivafut {
        float: right;
        height: 35px;
        line-height: 35px;
        font-size: 15px;
        display: inline-block;
        padding: 0 8px;
    }
    header.nav_header_01 div.mainnav nav.social>a.vivafut span.vivafut {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat 0 0;
        width: 51px;
        height: 16px;
        margin-top: 10px;
        display: inline-block;
    }
    header.nav_header_01 div.mainnav nav.social>a.vivafut:focus span.vivafut,header.nav_header_01 div.mainnav nav.social>a.vivafut:active span.vivafut
        {
        background: #59a529 url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat 0
            -16px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat 0 0;
        width: 51px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station.active a,header.nav_header_01 div.mainnav nav.social ul li.station a:focus,header.nav_header_01 div.mainnav nav.social ul li.station a:active
        {
        border-right: 1px solid #a11c1f;
        border-left: 1px solid #a92e31;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station.active a span.vivafut,header.nav_header_01 div.mainnav nav.social ul li.station a:focus span.vivafut,header.nav_header_01 div.mainnav nav.social ul li.station a:active span.vivafut
        {
        background: #59a529 url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat 0
            -16px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.nba {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat -51px 0;
        width: 36px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station.active a span.nba,header.nav_header_01 div.mainnav nav.social ul li.station a:focus span.nba,header.nav_header_01 div.mainnav nav.social ul li.station a:active span.nba
        {
        background: #59a529 url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat
            -51px -16px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat -87px 0;
        width: 48px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station.active a span.tdtv,header.nav_header_01 div.mainnav nav.social ul li.station a:focus span.tdtv,header.nav_header_01 div.mainnav nav.social ul li.station a:active span.tdtv
        {
        background: #59a529 url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat
            -87px -16px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat -135px 0;
        width: 39px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station.active a span.tdn,header.nav_header_01 div.mainnav nav.social ul li.station a:focus span.tdn,header.nav_header_01 div.mainnav nav.social ul li.station a:active span.tdn
        {
        background: #59a529 url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/mainnav2_hover.png) no-repeat
            -135px -16px;
    }

    /* icon sizes */
    header.nav_header_01 div.mainnav ul li a i,header.nav_header_01 div.mainnav nav.social ul li a i
        {
        font-size: 14px;
        position: relative;
        line-height: 30px;
        vertical-align: baseline;
        display: inline;
        padding: 0 2px;
    }
    header.nav_header_01 div.mainnav nav.social ul li:first-child a i {
        font-size: 13px !important;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station {
        border: 0px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station:last-child {
        border-right: 1px solid #dadada;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station:first-child {
        display: none;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station a {
        padding: 0 7px !important;
        border-right: 1px solid #eaeaec;
        border-left: 1px solid #f3f3f3;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station {
        padding-right: 1px;
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/header/dots-mainnav.png) no-repeat 100% 50%;
    }
    header.nav_header_01 div.mainnav nav.social a.toggle {
        color: #494a4c;
        height: 35px;
        width: 36px;
        text-align: center;
        line-height: 35px;
        font-size: 15px;
        display: inline-block;
        border-right: 1px solid #dadada;
        border-left: 1px solid #dadada;
        /*-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .3);
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .3);*/
    }
    header.nav_header_01 div.mainnav nav.social a.toggle span {
        border-right: 1px solid #eaeaec;
        border-left: 1px solid #f3f3f3;
    }

    /* Collapsable content */
    header.nav_header_01 div.collapsable-mainnav>div div.inner nav a {
        display: inline-block;
        color: #494a4c;
        height: 35px !important;
        line-height: 35px !important;
    }
    header.nav_header_01 div.collapsable-mainnav>div div.inner nav .active,header.nav_header_01 div.collapsable-mainnav>div div.inner nav a:hover,header.nav_header_01 div.collapsable-mainnav>div div.inner nav .active a
        {
        color: #59a529;
        border: 0 none;
        display: inline-block;
        border-bottom: 3px solid #59a529;
        height: 35px !important;
        line-height: 35px !important;
    }
    header.nav_header_01 div.collapsable-mainnav {
        color: #494a4c;
    }
    header.nav_header_01 div.collapsable-mainnav>div div.inner nav li.active,header.nav_header_01 div.collapsable-mainnav>div div.inner nav li:hover
        {
        display: inline-block;
        line-height: 35px;
        height: 35px;
        border-bottom: 3px solid #59a529;
    }
    header.nav_header_01 div.collapsable-mainnav>div div.inner nav li:hover a
        {
        color: #59a529;
    }
    header.nav_header_01 div.collapsable-mainnav nav.tabs ul li {
        display: inline-block;
    }
    header.nav_header_01 div.collapsable-mainnav nav.tabs ul li:last-child a
        {
        background: none;
    }
    header.nav_header_01 div.collapsable-mainnav .futbol.dropdown-content ul li.separator
        {
        height: 12px;
        border-bottom: 1px solid #ebebeb !important;
        margin-bottom: 12px;
        margin-right: 24px;
    }
    
    /* TDN */
    header.nav_header_01 .tdn.dropdown-content {
       padding:0;
    }
    header.nav_header_01 .tdn.dropdown-content div.inner > a{
        color:#59a529;
        font-size:16px;
        font-weight:bold;
        line-height:22px;
        height:22px;
        padding-bottom:12px;
        margin-bottom:24px;
        border-bottom:1px solid #EBEBEB;
        display:block;
    }
    header.nav_header_01 .tdn.dropdown-content div.inner span.topic {
       font-size:12px;
       font-style:italic;
       color:#59a529;
       font-weight:bold;
       display:block;
    }
    header.nav_header_01 div.dropdown-content.tdn ul li a.featured {
          line-height:17px!important;
    } 
    header.nav_header_01 .tdn.dropdown-content div.inner a span.desc {
       color:#000;
       font-size:14px;
       font-weight:bold;
    }
    header.nav_header_01 .tdn.dropdown-content div.inner a:hover span.desc {
       color:#000;
    }
    
    header.nav_header_01 .tdn.dropdown-content div.inner img.featured {
        float:left;
        border-right:1px solid #EBEBEB;
        margin:0 12px 12px 0;
        padding-right:12px;
        display:block;
    }
    header.nav_header_01 .tdn.dropdown-content div.inner div.subtab ul li {
       clear:left;
    }
    header.nav_header_01 .tdn.dropdown-content div.inner div.subtab ul li a {
       display:block;
    }
    nav.tabs ul li:first-child a {
        padding-left: 0;
    }
    nav.tabs ul li a {
        background:
            url("data:image/gif;base64,R0lGODlhAQAEAIABAKenp8XFxSH5BAEAAAEALAAAAAABAAQAAAICRF4AOw==")
            repeat-y scroll right top transparent;
        padding: 0 12px;
        display: inline-block;
        font-size: 12px;
        height: 35px;
        line-height: 35px;
    }
    nav.tabs ul li a:hover {
        color: #59a529 !important;
        border-bottom: 3px solid #59a529;
    }
    ul.subtabs {
        width: 200px;
        border-right: 1px solid #EBEBEB;
    }
    ul.subtabs li a {
        display: block;
        font-weight: bold;
    }
    ul.subtabs li.active a,ul.subtabs li a:hover {
        color: #59a529 !important;
        border-right: 3px solid #59a529;
    }
    .hide-tablet {
        display: none !important;
    }

    /* Bootstrap columns */
    .row-fluid {
        width: 100%;
        *zoom: 1;
    }
    .row-fluid:before,.row-fluid:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .row-fluid:after {
        clear: both;
    }
    .row-fluid [class^="span"] {
        /* display: block; */
        float: left;
        width: 100%;
        min-height: 30px;
        margin-left: 2.127659574468085%;
        *margin-left: 2.074468085106383%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .row-fluid [class^="span"]:first-child {
        margin-left: 0;
    }
    .row-fluid .controls-row [class^="span"] {
        margin-left: 2.127659574468085%;
    }
    .row-fluid .span12 {
        width: 100%;
        *width: 99.94680851063829%;
    }
    .row-fluid .span11 {
        width: 91.48936170212765%;
        *width: 91.43617021276594%;
    }
    .row-fluid .span10 {
        width: 82.97872340425532%;
        *width: 82.92553191489361%;
    }
    .row-fluid .span9 {
        width: 74.46808510638297%;
        *width: 74.41489361702126%;
    }
    .row-fluid .span8 {
        width: 65.95744680851064%;
        *width: 65.90425531914893%;
    }
    .row-fluid .span7 {
        width: 57.44680851063829%;
        *width: 57.39361702127659%;
    }
    .row-fluid .span6 {
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
    }
    .row-fluid .span5 {
        width: 40.42553191489362%;
        *width: 40.37234042553192%;
    }
    .row-fluid .span4 {
        width: 31.914893617021278%;
        *width: 31.861702127659576%;
    }
    .row-fluid .span3 {
        width: 23.404255319148934%;
        *width: 23.351063829787233%;
    }
    .row-fluid .span2 {
        width: 14.893617021276595%;
        *width: 14.840425531914894%;
    }
    .row-fluid .span1 {
        width: 6.382978723404255%;
        *width: 6.329787234042553%;
    }
    .row {
        margin-left: -24px;
        *zoom: 1;
    }
    .row:before,.row:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .row:after {
        clear: both;
    }
    [class^="span"] {
        float: left;
        min-height: 1px;
        margin-left: 24px;
    }
    .span12 {
        width: 948px;
        background: green;
    }
    .span11 {
        width: 860px;
        /* background:cornsilk; */
    }
    .span10 {
        width: 780px;
        /* background:cornsilk; */
    }
    .span9 {
        width: 724px;
        /* background:orange; */
    }
    .span8 {
        width: 396px;
        /* background:mauve; */
    }
    .span7 {
        width: 540px;
        /* background:slategrey; */
    }
    .span6 {
        width: 460px;
        /* background:grey; */
    }
    .span5 {
        width: 380px;
        /* background:blue; */
    }
    .span4 {
        width: 300px;
        /* background:#708090; */
    }
    .span3 {
        width: 192px;
        /* background:#708090; */
    }
    .span8 .span3 {
        width: 125px;
    }
    .span2 {
        width: 140px;
    }
    .span1 {
        width: 60px;
    }
    .row-fluid .offset1 {
        margin-left: 8.382978723%;
    }
    .row-fluid .offset2 {
        margin-left: 16.89361702%;
    }
    .row-fluid .offset3 {
        margin-left: 25.404255317%;
    }
    .row-fluid .offset4 {
        margin-left: 33.914893614%;
    }
    .row-fluid .offset5 {
        margin-left: 42.425531911%;
    }
    .row-fluid .offset6 {
        margin-left: 50.93617020799999%;
    }
    .row-fluid .offset7 {
        margin-left: 59.446808505%;
    }
    .row-fluid .offset8 {
        margin-left: 67.95744680199999%;
    }
    .row-fluid .offset9 {
        margin-left: 76.468085099%;
    }
    .row-fluid .offset10 {
        margin-left: 84.97872339599999%;
    }
    .row-fluid .offset11 {
        margin-left: 91.489361693%;
    }
    .offset12 {
        margin-left: 980px;
    }
    .offset11 {
        margin-left: 900px;
    }
    .offset10 {
        margin-left: 820px;
    }
    .offset9 {
        margin-left: 740px;
    }
    .offset8 {
        margin-left: 660px;
    }
    .offset7 {
        margin-left: 580px;
    }
    .offset6 {
        margin-left: 500px;
    }
    .offset5 {
        margin-left: 420px;
    }
    .offset4 {
        margin-left: 340px;
    }
    .offset3 {
        margin-left: 260px;
    }
    .offset2 {
        margin-left: 180px;
    }
    .offset1 {
        margin-left: 36px;
    }
    header.nav_header_01 div.mainnav nav.social ul li a:focus i,header.nav_header_01 div.mainnav nav.social ul li a:active i
        {
        color: #FFF !important;
    }

    /* Top Navigation Collapsible */
    header.nav_header_01 div.collapsable-verticals {
        background: #efefef;
    }
    header.nav_header_01 div.collapsable-verticals div.inner {
        position: relative;
    }
    header.nav_header_01 div.collapsable-verticals div.collapsable-content {
        position: relative;
        background: #efefef;
    }
    header.nav_header_01 div.collapsable-verticals div.collapsable-content-inner
        {
        padding: 24px 0;
    }
    header.nav_header_01 div.collapsable-verticals div.collapsable-content.open
        {
        display: block;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div {
        position: relative;
        clear: both;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.filtering
        {
        position: absolute;
        top: 28px;
        right: 0;
        line-height: 18px;
        vertical-align: baseline;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.filtering a i
        {
        font-size: 16px;
        text-shadow: 1px 1px 0 #FFF;
        filter: dropshadow(color = #FFF, offx = 1, offy = 1);
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.filtering a
        {
        background: repeat-y top left
            url('data:image/gif;base64,R0lGODlhAQAEAIABAKenp8XFxSH5BAEAAAEALAAAAAABAAQAAAICRF4AOw==');
        padding: 0 8px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.filtering a:first-child
        {
        background: none;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div strong.maintitle
        {
        font-size: 18px;
        font-weight: bold;
        margin-left: 248px;
        border-bottom: 1px solid #d5d5d5;
        height: 50px;
        display: block;
        text-align: left;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div h3,header.nav_header_01 div.collapsable-verticals div.inner>div em.sectiontitle
        {
        font-style: italic;
        font-weight: bold;
        font-size: 14px;
        margin: 0 0 12px 0;
        display: block;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.categories,header.nav_header_01 div.collapsable-verticals div.inner>div div.featured
        {
        padding-top: 24px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.categories
        {
        float: left;
        width: 168px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.featured
        {
        margin-left: 248px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.categories ul li,header.nav_header_01 div.collapsable-verticals div.inner>div div.categories ul li a
        {
        display: block;
        height: 24px;
        line-height: 24px;
        font-weight: bold;
    }

    /* big news */
    header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news
        {
        display: none;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news img
        {
        width: 300px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news .likes
        {
        background: rgba(141, 141, 141, 0.6);
        height: 24px;
        line-height: 24px;
        color: #FFF;
        display: inline-block;
        padding: 0 8px;
        font-weight: bold;
        position: absolute;
        top: -24px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news span.figcaption
        {
        position: relative;
        background: #FFF;
        margin-left: 24px;
        margin-top: -24px;
        display: inline-block;
        padding: 12px 0;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news small.topic,header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news strong.title
        {
        padding: 0 36px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news small.topic
        {
        display: block;
        font-style: italic;
        font-weight: bold;
        font-size: 14px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news strong.title
        {
        display: block;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        padding-top: 6px;
    }

    /* small news */
    header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news
        {
        width: ￼￼￼￼￼￼￼￼￼￼84px !important;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a
        {
        position: relative;
        display: block;
        margin-left: 96px;
        margin-bottom: 12px;
        border-left: 1px solid #d5d5d5;
        min-height: 67px;
        padding-left: 12px;
        width: 192px;
        font-weight: bold;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a img
        {
        width: ￼￼￼￼￼￼￼￼￼￼84px;
        height: 67px;
        position: absolute;
        left: -96px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a span.sprite.photo-corner,header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a span.sprite.video-corner
        {
        position: absolute;
        top: 0;
        left: -52px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a small.tn.topic,header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a strong
        {
        display: block;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a small.topic
        {
        font-style: italic;
        font-size: 13px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div a small.td.topic
        {
        color: #D6A256;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div a small.tn.topic
        {
        color: #9ea31d;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div a small.te.topic
        {
        color: #0DA598;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div a small.tl.topic
        {
        color: #6C3C9F;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div a small.tt.topic
        {
        color: #DCC224;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news a strong
        {
        font-size: 14px;
        line-height: 18px;
    }
    header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.small-news
        {
        margin: 0;
        float: none;
    }
    header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm
        {
        margin-left: 0;
        margin-top: 36px;
        width: 300px;
    }
    header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table
        {
        border-top: 1px solid #d5d5d5;
    }
    header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table tr td
        {
        border-bottom: 1px solid #d5d5d5;
        height: 36px;
        line-height: 36px;
        font-weight: bold;
        text-align: center;
    }
    header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table tr td.time,header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table tr td.result
        {
        color: #6F0707;
        font-size: 16px;
        padding: 0 3px;
    }
    header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table tr.soon td.time,header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm table tr.soon td.result
        {
        color: #D6A256;
    }
    header.nav_header_01 div.dropdown-content div.desktoponly {
    display:none;
    }
    .dropdown-content .span8 .span6 {width:100%;}
}/*Dispositivos vista retina------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:
        948px) , ( min-resolution : 192dpi) and (min-width: 948px) {
    /* Logo Deportes */
    header.nav_header_01 div.topnav a.televisa.deportes span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa%402x.png) no-repeat
            1px -79px;
        background-size: 145px 222px;
    }
    .ie8  header.nav_header_01 div.topnav a.deportes span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat 0
            -77px;
        height: 78px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social>a.vivafut span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover.png) no-repeat 0 0
            !important;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover.png) no-repeat 0 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.nba
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover.png) no-repeat -51px 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover.png) no-repeat -87px 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/mainnav2_hover.png) no-repeat -135px 0;
        background-size: 174px 32px;
    }

    .ie7 header.nav_header_01 div.mainnav div.inner nav.main ul li{
        position: relative;
        min-width: 30px;
        max-width: 150px;
        float: left;
    }
    .ie7 header.nav_header_01 div.mainnav div.inner nav.main ul li.mas-deportes ul.dropdown li{
        border: none;
    }
    .ie7 header.nav_header_01 div.mainnav div.inner nav.main ul li.mas-deportes ul.dropdown li a{
        position: relative;
        width: 130px;
    }
    .ie7 header.nav_header_01 div.mainnav nav.social ul{
        width: 380px;
    } 
    .ie7 header.nav_header_01 div.mainnav nav.social ul li{
        position: relative;
        min-width: 30px;
        max-width: 150px;
        float: left;
    }
    .ie7 header.nav_header_01 .title .inner strong{
        top:20px;
        line-height: 35px;
    }

    .ie7 header.nav_header_01 div.collapsable-mainnav > div div.inner nav.tabs ul li{
        position: relative;
        float: left;
    }
    .ie7 header.nav_header_01 div.topnav span.date {
        display: block;
        height: 35px;
        line-height: 35px;
        color: #FFF;
        position: absolute;
        top: 1px;
        right: 60px;
    }
    .ie7 header.nav_header_01 div.topnav a.televisa{
        display: inline;
        z-index: 1000;
        width: 144px;
        height: 112px;
    }
    .ie7 header.nav_header_01 div.topnav a.televisa.deportes span{
        display: block;
        z-index: 1000;
        height: 78px;
        width: 81px;
        position: relative;
    }
    .ie7 header.nav_header_01 div.topnav a.televisa.deportes span.mobile-logo{
        display: none;
    }
    .ie7 header.nav_header_01 div.collapsable-verticals div.inner > div{
        display: inline;
        position: relative;
        z-index: 1;
        zoom:0 !important;
    }
    .ie7 header.nav_header_01 div.collapsable-verticals div.inner>div div.filtering{
        position: absolute;
        display: inline;
        width: 145px;
        top: 28px;
        left: 800px;
    }

    .ie7 header.nav_header_01 .dropdown-content.tdn div.inner div.subtab ul{
        position: relative;
        float: left;
    }
    .ie7 header.nav_header_01 .dropdown-content.tdn div.inner div.subtab ul li{
        position: relative;
        float: left;
        height: 95px;
        width: 300px;
    }
}


/* desktop only */
@media screen and (min-width: 948px) {
    /* Layout */
    header.nav_header_01 div.inner {
        width: 948px;
        position: relative;
    }

    /* Televisa Logo */
    header.nav_header_01 div.topnav a.televisa {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        height: 112px;
        width: 144px;
    }
    header.nav_header_01 div.topnav a.televisa span {
        width: 81px;
    }
    header.nav_header_01 div.topnav a.televisa span {
        height: 77px;
        margin: 16px auto 0 auto;
    }

    /* Logo Noticieros */
    header.nav_header_01 div.topnav a.televisa.noticieros span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat 0 0;
        height: 77px;
    }

    /* Logo Deportes */
    header.nav_header_01 div.topnav a.televisa.deportes span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat 0
            -77px;
        height: 78px;
    }

    /* Logo Resto */
    header.nav_header_01 div.topnav a.televisa span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat 0
            -155px;
        height: 78px;
    }

    /* Top Navigation */
    header.nav_header_01 div.topnav nav ul {
        left: 215px;
    }
    header.nav_header_01 div.topnav span.date {
        display: block;
        height: 35px;
        line-height: 35px;
        color: #FFF;
        position: absolute;
        top: 1px;
        right: 50px;
    }
    header.nav_header_01 div.topnav nav ul li a {
        font-size: 12px;
        padding: 0 15px;
    }

    /* Main Navigation */
    header.nav_header_01 div.title {
        height: 73px;
    }
    header.nav_header_01 div.title strong {
        left: 215px;
    }
    header.nav_header_01 div.mainnav nav.social ul {
        top: 0;
        border-bottom: 0px none;
        background: transparent;
        filter: none;
        display: block !important;
        border-left: none;
    }
    /* Main Navigation */
    header.nav_header_01 div.mainnav nav.main ul {
        margin-left: 23px;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station:first-child {
        display: inline-block;
    }
    header.nav_header_01 div.mainnav nav.social ul li.station:last-child {
        border-right: 1px solid #dadada !important;
    }
    header.nav_header_01 div.mainnav nav.social a.vivafut {
        display: none;
    }
    header.nav_header_01 div.mainnav nav.social a.toggle {
        display: none;
    }
    header.nav_header_01 div.mainnav nav.social a.toggle {
        display: none;
    }
    .hide-tablet {
        display: block !important;
    }

    /* Bootstrap columns */
    .row-fluid {
        width: 100%;
        *zoom: 1;
    }
    .row-fluid:before,.row-fluid:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .row-fluid:after {
        clear: both;
    }
    .row-fluid [class^="span"] {
        /* display: block; */
        float: left;
        width: 100%;
        min-height: 30px;
        margin-left: 2.127659574468085%;
        *margin-left: 2.074468085106383%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .row-fluid [class^="span"]:first-child {
        margin-left: 0;
    }
    .row-fluid .controls-row [class^="span"] {
        margin-left: 2.127659574468085%;
    }
    .row-fluid .span12 {
        width: 100%;
        *width: 99.94680851063829%;
    }
    .row-fluid .span11 {
        width: 91.48936170212765%;
        *width: 91.43617021276594%;
    }
    .row-fluid .span10 {
        width: 82.97872340425532%;
        *width: 82.92553191489361%;
    }
    .row-fluid .span9 {
        width: 74.46808510638297%;
        *width: 74.41489361702126%;
    }
    .row-fluid .span8 {
        width: 65.95744680851064%;
        *width: 65.90425531914893%;
    }
    .row-fluid .span7 {
        width: 57.44680851063829%;
        *width: 57.39361702127659%;
    }
    .row-fluid .span6 {
        width: 48.93617021276595%;
        *width: 48.88297872340425%;
    }
    .row-fluid .span5 {
        width: 40.42553191489362%;
        *width: 40.37234042553192%;
    }
    .row-fluid .span4 {
        width: 31.914893617021278%;
        *width: 31.861702127659576%;
    }
    .row-fluid .span3 {
        width: 23.404255319148934%;
        *width: 23.351063829787233%;
    }
    .row-fluid .span2 {
        width: 14.893617021276595%;
        *width: 14.840425531914894%;
    }
    .row-fluid .span1 {
        width: 6.382978723404255%;
        *width: 6.329787234042553%;
    }
    .row {
        margin-left: -24px;
        *zoom: 1;
    }
    .row:before,.row:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .row:after {
        clear: both;
    }
    [class^="span"] {
        float: left;
        min-height: 1px;
        margin-left: 24px;
    }
    .span12 {
        width: 948px;
        background: green;
    }
    .span11 {
        width: 860px;
        /* background:cornsilk; */
    }
    .span10 {
        width: 780px;
        /* background:cornsilk; */
    }
    .span9 {
        width: 724px;
        /* background:orange; */
    }
    .span8 {
        width: 620px;
        /* background:mauve; */
    }
    .span7 {
        width: 540px;
        /* background:slategrey; */
    }
    .span6 {
        width: 460px;
        /* background:grey; */
    }
    .span5 {
        width: 380px;
        /* background:blue; */
    }
    .span4 {
        width: 300px;
        /* background:#708090; */
    }
    .span3 {
        width: 192px;
        /* background:#708090; */
    }
    .span2 {
        width: 140px;
    }
    .span1 {
        width: 60px;
    }
    .row-fluid .offset1 {
        margin-left: 8.382978723%;
    }
    .row-fluid .offset2 {
        margin-left: 16.89361702%;
    }
    .row-fluid .offset3 {
        margin-left: 25.404255317%;
    }
    .row-fluid .offset4 {
        margin-left: 33.914893614%;
    }
    .row-fluid .offset5 {
        margin-left: 42.425531911%;
    }
    .row-fluid .offset6 {
        margin-left: 50.93617020799999%;
    }
    .row-fluid .offset7 {
        margin-left: 59.446808505%;
    }
    .row-fluid .offset8 {
        margin-left: 67.95744680199999%;
    }
    .row-fluid .offset9 {
        margin-left: 76.468085099%;
    }
    .row-fluid .offset10 {
        margin-left: 84.97872339599999%;
    }
    .row-fluid .offset11 {
        margin-left: 91.489361693%;
    }
    .offset12 {
        margin-left: 980px;
    }
    .offset11 {
        margin-left: 900px;
    }
    .offset10 {
        margin-left: 820px;
    }
    .offset9 {
        margin-left: 740px;
    }
    .offset8 {
        margin-left: 660px;
    }
    .offset7 {
        margin-left: 580px;
    }
    .offset6 {
        margin-left: 500px;
    }
    .offset5 {
        margin-left: 420px;
    }
    .offset4 {
        margin-left: 340px;
    }
    .offset3 {
        margin-left: 260px;
    }
    .offset2 {
        margin-left: 180px;
    }
    .offset1 {
        margin-left: 72px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div strong.maintitle
        {
        margin-left: 215px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.featured
        {
        margin-left: 215px;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news
        {
        width: 300px;
        position: relative;
        float: left;
        display: block;
    }
    header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news
        {
        margin-left: 324px;
        float: none !important;
    }
    header.nav_header_01 div.collapsable-verticals div.inner div.deportes div.small-news
        {
        margin-left: 0;
        float: left !important;
    }
    header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm
        {
        margin-left: 324px;
        margin-top: 0;
        /* width:248px; */
        width: 300px;
    }
    header.nav_header_01 div.dropdown-content div.desktoponly {
    display:block;
    }
    .dropdown-content .span8 .span6 {width: 48.93617021276595%;}
    
    .ie8 .nav_header_01  .main ul li a,
    .ie8 .nav_header_01  .main ul li,
    .ie7 .nav_header_01  .main ul li a,
    .ie7 .nav_header_01  .main ul li{
       background-color:#efefef;
    }
    .ie8 .nav_header_01  .main ul li.separator,
    .ie7 .nav_header_01  .main ul li.separator{
       background-color:#fff;
    }
     .ie8 .nav_header_01 .main ul.dropdown li a,
     .ie7 .nav_header_01 .main ul.dropdown li a{
       background-color:#fff;
    }
    
    .ie8 .nav_header_01 .main ul.dropdown li a:hover,
    .ie7 .nav_header_01 .main ul.dropdown li a:hover{
       background-color:#59a529;
    }
    
     .ie8 .nav_header_01   li.station a,
     .ie8 .nav_header_01   li.social a,
     .ie7 .nav_header_01   li.station a,
     .ie7 .nav_header_01   li.social a{
        border-left:none!important;
        border-top:none!important;
        background-color:#efefef;
        border:0px;
    }
    
    .ie8 .nav_header_01 a i,
    .ie8 .nav_header_01 a i,
    .ie7 .nav_header_01 a i,
    .ie7 .nav_header_01 a i{
        background:#EFEFEF;
    }
}/* Mobile only */
@media screen and (max-width: 623px){
    a.televisa.deportes {width:200px; height:75px; }
    a.televisa.deportes span {}
}
/* Tablet and Desktop */
@media screen and (min-width: 624px){
    header.nav_header_01 div.topnav {height:1px!important; margin-top:-1px!important; border:0!important; }
    header.nav_header_01 a.televisa.deportes {width:110px!important; height:76px!important;}
    div.title {height:53px!important;}
    header.nav_header_01 div.title strong {
        left:154px;top:19px;
        font-size: 30px;
        font-style: italic;
        font-family: Trebuchet MS;
        font-weight: bold;
        letter-spacing: -0.4px;
    }
    .ie7 header.nav_header_01 div.title strong {left:154px;top:19px;}
    .ie8 header.nav_header_01 div.title strong {left:154px;top:19px;}  
    header.nav_header_01 div.topnav a.televisa span {margin:6px auto 0 auto!important;width:64px;}
}
/* Desktop Only */
@media screen and (min-width: 948px){
    /* Logo Noticieros */
    header.nav_header_01 div.topnav a.televisa.noticieros span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat -81px
            0;
        height: 61px;
    }

    /* Logo Deportes */
    header.nav_header_01 div.topnav a.televisa.deportes span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat -81px
            -77px;
        height: 62px;
    }

    /* Logo Resto */
    header.nav_header_01 div.topnav a.televisa span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/global/img/sprite_logos_televisa.png) no-repeat -81px
            -155px;
        height: 52px;
    }

    #col2_content h1{

        margin-bottom: 26px;
    }
}

.ads_combo_01 {
margin: auto;
margin-bottom: 36px;
width: 955px;
height: 90px;
}

.ads_combo_01 .desktop_banner .large_banner{
        float: left;
        margin-left: 0px;
        width: 728px;
    }
    .ads_combo_01 .desktop_banner .short_banner{
        float: right;
        width: 200px;
        margin-right: 8px;
    }
    .ads_combo_01 .desktop_banner{
        display: block;
    }
    .ads_combo_01 .mobile_banner{
        display: none;
    }
    .ads_combo_01 .tablet_banner_portrait {
        display: none;
    }
    .ads_combo_01 .tablet_banner_landscape{
        display: none;
    }


    .wdg_social_01{
    }