x|/*Dispositivos vista retina------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:
        948px) , ( min-resolution : 192dpi) and (min-width: 948px) {
	

    /* Logo Deportes */
    header.nav_header_01 div.topnav a.televisa.deportes span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/sprite_logos_televisa%402x.png) no-repeat
            1px -79px;
        background-size: 145px 222px;
    }

    .ie8  header.nav_header_01 div.topnav a.deportes span {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/sprite_logos_televisa.png) no-repeat 0
            -77px;
        height: 35px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social>a.vivafut span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat 0 0
            !important;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.vivafut
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat 0 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.nba
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -51px 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -87px 0;
        background-size: 174px 32px;
    }
    .ie8 header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn
        {
        background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -135px 0;
        background-size: 174px 32px;
    }

    .ie7 header.nav_header_01 div.mainnav div.inner nav.main ul li{
        position: relative;
        min-width: 30px;
        max-width: 150px;
        float: left;
    }
    .ie7 header.nav_header_01 div.mainnav div.inner nav.main ul li.mas-deportes ul.dropdown li{
        border: none;
    }
    .ie7 header.nav_header_01 div.mainnav div.inner nav.main ul li.mas-deportes ul.dropdown li a{
        position: relative;
        width: 130px;
    }
    .ie7 header.nav_header_01 div.mainnav nav.social ul{
        width: 380px;
    } 
    .ie7 header.nav_header_01 div.mainnav nav.social ul li{
        position: relative;
        min-width: 30px;
        max-width: 150px;
        float: left;
    }
    .ie7 header.nav_header_01 .title .inner strong{
        top:20px;
        line-height: 35px;
    }

    .ie7 header.nav_header_01 div.collapsable-mainnav > div div.inner nav.tabs ul li{
        position: relative;
        float: left;
    }
    .ie7 header.nav_header_01 div.topnav span.date {
        display: block;
        height: 35px;
        line-height: 35px;
        color: #FFF;
        position: absolute;
        top: 1px;
        right: 60px;
    }
    .ie7 header.nav_header_01 div.topnav a.televisa{
        display: inline;
        z-index: 1000;
        width: 144px;
        height: 112px;
    }
    .ie7 header.nav_header_01 div.topnav a.televisa.deportes span{
        display: block;
        z-index: 1000;
        height: 78px;
        width: 81px;
        position: relative;
    }
    .ie7 header.nav_header_01 div.topnav a.televisa.deportes span.mobile-logo{
        display: none;
    }
    .ie7 header.nav_header_01 div.collapsable-verticals div.inner > div{
        display: inline;
        position: relative;
        z-index: 1;
        zoom:0 !important;
    }
    .ie7 header.nav_header_01 div.collapsable-verticals div.inner>div div.filtering{
        position: absolute;
        display: inline;
        width: 145px;
        top: 28px;
        left: 800px;
    }

    .ie7 header.nav_header_01 .dropdown-content.tdn div.inner div.subtab ul{
        position: relative;
        float: left;
    }
    .ie7 header.nav_header_01 .dropdown-content.tdn div.inner div.subtab ul li{
        position: relative;
        float: left;
        height: 95px;
        width: 300px;
    }
}


/* desktop only */
@media screen and (min-width: 948px) {
	/* Layout */
	header.nav_header_01 div.inner {
		width: 948px;
		position: relative;
	}

	/* Televisa Logo */
	header.nav_header_01 div.topnav a.televisa {
		box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.2);
		height: 37px;
		width: 70px;
	}
	header.nav_header_01 div.topnav a.televisa span {
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/global-sprites@2x.png) no-repeat -538px -84px;
		height: 35px;
	}

	/* Logo Noticieros */
	header.nav_header_01 div.topnav a.televisa.noticieros span {
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/sprite_logos_televisa.png) no-repeat 0 0;
		height: 77px;
	}

	/* Logo Deportes */
	header.nav_header_01 div.topnav a.televisa.deportes span {
		background:url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/sprite_logos_televisa.png) no-repeat -81px -155px;
		height: 35px;
	}

	/* Top Navigation */
	/* Top Navigation */
	header.nav_header_01 div.topnav {
		height: 36px;
	}
	header.nav_header_01 div.topnav nav ul {
		position: absolute;
		top: 1px;
		left: 170px;
	}
	header.nav_header_01 div.topnav nav ul li a {
		opacity: .8;
		height: 35px;
		line-height: 35px;
		padding: 0 8px;
		font-size: 11px;
		text-shadow: -1px -2px 3px rgba(0, 0, 0, 0.6);
	}
	header.nav_header_01 div.topnav nav ul li a:active,header.nav_header_01 div.topnav nav ul li a:focus
		{
		opacity: 1;
	}
	/*header.nav_header_01 div.topnav nav ul li a:hover {
		background: rgb(14, 65, 108) !important;
		box-shadow: inset 0 1px 6px #0d385b;
	}*/
	header.nav_header_01 div.topnav nav ul li.active a,header.nav_header_01 div.topnav nav ul li a:active
		{
		background: #0d385b !important;
		opacity: 1;
		box-shadow: inset 0 1px 6px #0b2f4f;
	}

	/* Date */
	header.nav_header_01 div.topnav span.date {
		display: none;
	}

	/* Site Search */
	header.nav_header_01 div.topnav form.site_search {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
		margin: 0;
		z-index: 100;
		/*
        -moz-box-shadow: 0px 0px 4px #093252;
		-webkit-box-shadow: 0px 0px 4px #093252;
		box-shadow: 0px 0px 4px #093252; */
	}
	header.nav_header_01 div.topnav form.site_search input.search_term,header.nav_header_01 div.topnav form.site_search button.search_submit
		{
		border: 0;
		height: 37px;
		line-height: 37px;
		padding: 0;
		margin: 0;
	}
	header.nav_header_01 div.topnav form.site_search input.search_term {
		display: none;
		float: right;
		width: 0;
		top: 0px;
		right: -4px;
		padding: 0 4px;
	}
	header.nav_header_01 div.topnav form.site_search button.search_submit {
		background: #FFF;
		padding: 0 13px;
		float: right;
		border-bottom: 1px solid #dee0df;
		border-left: 1px solid #bababc;
		color: #898989;
		background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#eaebed),
			to(#fbfbfb))
	}

	/* Main Navigation */
	/* icon sizes */
	header.nav_header_01 div.mainnav ul li a,header.nav_header_01 div.mainnav nav.social ul li{
		margin-left:-5px;
	}
	
	
	header.nav_header_01 div.mainnav ul li a i,header.nav_header_01 div.mainnav nav.social ul li a i
		{
		font-size: 17px;
		padding-left:4px;
		position: relative;
		text-align:center;
		/* vertical-align: baseline; */
	}
	
	
	header.nav_header_01 div.mainnav nav.social ul li:first-child a i {
		font-size: 13px !important;
	}
	
	header.nav_header_01 div.mainnav nav.social ul li.station:last-child {
	}
	header.nav_header_01 div.mainnav nav.social ul li.station:first-child {
		display: none;
	}
	

	header.nav_header_01 div.mainnav nav.social a.toggle {
		color: #494a4c;
		height: 35px;
		width: 36px;
		text-align: center;
		line-height: 35px;
		font-size: 15px;
		display: inline-block;
		border-left: 1px solid #dadada;
		/*-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .3);
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .3);*/
	}
	header.nav_header_01 div.mainnav nav.social a.toggle span {
	}

header.nav_header_01 div.mainnav nav.social ul li.station a span.vf {
background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/logoVF.png) no-repeat ;
width: 20px;
height: 14px;
margin: 10px 0 0 5px;
}

	header.nav_header_01 div.mainnav nav.social ul li.station a span.tdn {
background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -135px -17px ;
}

header.nav_header_01 div.mainnav nav.social ul li.station a span.tdtv {
background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/mainnav2_hover.png) no-repeat -88px -17px ;
}
	header.nav_header_01 div.topnav nav ul {
		left: 215px;
	}
	header.nav_header_01 div.topnav span.date {
		display: block;
		height: 35px;
		line-height: 35px;
		color: #FFF;
		position: absolute;
		top: 1px;
		right: 50px;
	}
	header.nav_header_01 div.topnav nav ul li a {
		font-size: 12px;
		padding: 0 15px;
	}

	/* Main Navigation */
	header.nav_header_01 div.title {
		height: 73px;
	}
	header.nav_header_01 div.title strong {
		color: #FFF;
		font-size: 29px;
		font-style: italic;
		position: absolute;
		left: 25px;
		top: 26px;
		display: block;
	}


		header.nav_header_01 div.mainnav {
		z-index: 10;
		position: relative;
		height: 35px;
		/* background: #efefef; */ /* Old browsers */
		}

	header.nav_header_01 div.mainnav nav.social ul {
		top: 0;
		background: #6ec239;
		filter: none;
		display: block !important;
		-moz-box-shadow: inset -5px -5px 20px -5px rgba(50, 50, 50, 0.75);

	}
	/* Main Navigation */
	header.nav_header_01 div.mainnav nav.main ul {
		/*margin-left: 23px;*/
	}

	/*nav.social{
		background: #fff;
	}*/

	header.nav_header_01 div.mainnav nav.main ul li.home{
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/shadow.png) no-repeat right;
		margin:0;
	}
	
	header.nav_header_01 div.mainnav nav.main ul li.home:hover {
		background: #59a529;
	}

	.tvsa-home td{
		color: #fff;

	}

	header.nav_header_01 div.mainnav nav.social ul li.station:first-child {
		display: inline-block;
	
}
	header.nav_header_01 div.mainnav nav.social ul li {
		background: url(http://i2.esmas.com/deportes30/copa-mundial-fifa-brasil-2014/Fase2yFase3/img/shadow.png) no-repeat right;	
	}

	header.nav_header_01 div.mainnav nav.social a.vivafut {
		display: none;
	}
	header.nav_header_01 div.mainnav nav.social a.toggle {
		display: none;
	}
	header.nav_header_01 div.mainnav nav.social a.toggle {
		display: none;
	}
	.hide-tablet {
		display: block !important;
	}

	/* Bootstrap columns */
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,.row-fluid:after {
		display: table;
		line-height: 0;
		content: "";
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class^="span"] {
		/* display: block; */
		float: left;
		width: 100%;
		min-height: 30px;
		margin-left: 2.127659574468085%;
		*margin-left: 2.074468085106383%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.row-fluid [class^="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class^="span"] {
		margin-left: 2.127659574468085%;
	}
	.row-fluid .span12 {
		width: 100%;
		*width: 99.94680851063829%;
	}
	.row-fluid .span11 {
		width: 91.48936170212765%;
		*width: 91.43617021276594%;
	}
	.row-fluid .span10 {
		width: 82.97872340425532%;
		*width: 82.92553191489361%;
	}
	.row-fluid .span9 {
		width: 74.46808510638297%;
		*width: 74.41489361702126%;
	}
	.row-fluid .span8 {
		width: 65.95744680851064%;
		*width: 65.90425531914893%;
	}
	.row-fluid .span7 {
		width: 57.44680851063829%;
		*width: 57.39361702127659%;
	}
	.row-fluid .span6 {
		width: 48.93617021276595%;
		*width: 48.88297872340425%;
	}
	.row-fluid .span5 {
		width: 40.42553191489362%;
		*width: 40.37234042553192%;
	}
	.row-fluid .span4 {
		width: 31.914893617021278%;
		*width: 31.861702127659576%;
	}
	.row-fluid .span3 {
		width: 23.404255319148934%;
		*width: 23.351063829787233%;
	}
	.row-fluid .span2 {
		width: 14.893617021276595%;
		*width: 14.840425531914894%;
	}
	.row-fluid .span1 {
		width: 6.382978723404255%;
		*width: 6.329787234042553%;
	}
	.row {
		margin-left: -24px;
		*zoom: 1;
	}
	.row:before,.row:after {
		display: table;
		line-height: 0;
		content: "";
	}
	.row:after {
		clear: both;
	}
	[class^="span"] {
		float: left;
		min-height: 1px;
		margin-left: 24px;
	}
	.span12 {
		width: 948px;
		background: green;
	}
	.span11 {
		width: 860px;
		/* background:cornsilk; */
	}
	.span10 {
		width: 780px;
		/* background:cornsilk; */
	}
	.span9 {
		width: 724px;
		/* background:orange; */
	}
	.span8 {
		width: 620px;
		/* background:mauve; */
	}
	.span7 {
		width: 540px;
		/* background:slategrey; */
	}
	.span6 {
		width: 460px;
		/* background:grey; */
	}
	.span5 {
		width: 380px;
		/* background:blue; */
	}
	.span4 {
		width: 300px;
		/* background:#708090; */
	}
	.span3 {
		width: 192px;
		/* background:#708090; */
	}
	.span2 {
		width: 140px;
	}
	.span1 {
		width: 60px;
	}
	.row-fluid .offset1 {
		margin-left: 8.382978723%;
	}
	.row-fluid .offset2 {
		margin-left: 16.89361702%;
	}
	.row-fluid .offset3 {
		margin-left: 25.404255317%;
	}
	.row-fluid .offset4 {
		margin-left: 33.914893614%;
	}
	.row-fluid .offset5 {
		margin-left: 42.425531911%;
	}
	.row-fluid .offset6 {
		margin-left: 50.93617020799999%;
	}
	.row-fluid .offset7 {
		margin-left: 59.446808505%;
	}
	.row-fluid .offset8 {
		margin-left: 67.95744680199999%;
	}
	.row-fluid .offset9 {
		margin-left: 76.468085099%;
	}
	.row-fluid .offset10 {
		margin-left: 84.97872339599999%;
	}
	.row-fluid .offset11 {
		margin-left: 91.489361693%;
	}
	.offset12 {
		margin-left: 980px;
	}
	.offset11 {
		margin-left: 900px;
	}
	.offset10 {
		margin-left: 820px;
	}
	.offset9 {
		margin-left: 740px;
	}
	.offset8 {
		margin-left: 660px;
	}
	.offset7 {
		margin-left: 580px;
	}
	.offset6 {
		margin-left: 500px;
	}
	.offset5 {
		margin-left: 420px;
	}
	.offset4 {
		margin-left: 340px;
	}
	.offset3 {
		margin-left: 260px;
	}
	.offset2 {
		margin-left: 180px;
	}
	.offset1 {
		margin-left: 72px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div strong.maintitle
		{
		margin-left: 215px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.featured
		{
		margin-left: 215px;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.big-news
		{
		width: 300px;
		position: relative;
		float: left;
		display: block;
	}
	header.nav_header_01 div.collapsable-verticals div.inner>div div.small-news
		{
		margin-left: 324px;
		float: none !important;
	}
	header.nav_header_01 div.collapsable-verticals div.inner div.deportes div.small-news
		{
		margin-left: 0;
		float: left !important;
	}
	header.nav_header_01 div.collapsable-verticals div.collapsable-content.deportes div.mxm
		{
		margin-left: 324px;
		margin-top: 0;
		/* width:248px; */
		width: 300px;
	}
	header.nav_header_01 div.dropdown-content div.desktoponly {
	display:block;
	}
	.dropdown-content .span8 .span6 {width: 48.93617021276595%;}
	
	.ie8 .nav_header_01  .main ul li a,
    .ie8 .nav_header_01  .main ul li,
    .ie7 .nav_header_01  .main ul li a,
    .ie7 .nav_header_01  .main ul li{
       background-color:#efefef;
    }
    .ie8 .nav_header_01  .main ul li.separator,
    .ie7 .nav_header_01  .main ul li.separator{
       background-color:#fff;
    }
     .ie8 .nav_header_01 .main ul.dropdown li a,
     .ie7 .nav_header_01 .main ul.dropdown li a{
       background-color:#fff;
    }
    
    .ie8 .nav_header_01 .main ul.dropdown li a:hover,
    .ie7 .nav_header_01 .main ul.dropdown li a:hover{
       background-color:#A70A0B;
    }
    
     .ie8 .nav_header_01   li.station a,
     .ie8 .nav_header_01   li.social a,
     .ie7 .nav_header_01   li.station a,
     .ie7 .nav_header_01   li.social a{
        border-left:none!important;
        border-top:none!important;
        background-color:#efefef;
        border:0px;
    }
    
    .ie8 .nav_header_01 a i,
    .ie8 .nav_header_01 a i,
    .ie7 .nav_header_01 a i,
    .ie7 .nav_header_01 a i{
        background:#EFEFEF;
    }
}